OrderManager/WBU16/WSDL/WSDL From EAI/orderAcknowledgement_updated.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="orderAcknowledgement" targetNamespace="orderAcknowledgement" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="orderAcknowledgement" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="orderAcknowledgement" xmlns:tns="orderAcknowledgement" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="receiveOrderAcknowledgement" type="tns:receiveOrderAcknowledgement"/>
          <xsd:element name="receiveOrderAcknowledgementResponse" type="tns:receiveOrderAcknowledgementResponse"/>
          <xsd:complexType name="receiveOrderAcknowledgement">
            <xsd:sequence>
              <xsd:element name="orderAcknowledgementRequest" nillable="true" type="tns:OrderAcknowledgementRequest"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="OrderAcknowledgementRequest">
            <xsd:sequence>
              <xsd:element name="header" type="tns:RequestHeader"/>
              <xsd:element name="body" type="tns:body"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="RequestHeader">
            <xsd:sequence>
              <xsd:element name="systemId" type="xsd:string"/>
              <xsd:element name="serverInfo" type="xsd:string"/>
              <xsd:element name="messageId" type="xsd:string"/>
              <xsd:element minOccurs="0" name="conversationId" nillable="true" type="xsd:string"/>
              <xsd:element name="timestamp" type="xsd:dateTime"/>
              <xsd:element name="domainId" type="xsd:string"/>
              <xsd:element name="serviceId" type="xsd:string"/>
              <xsd:element name="operationType" type="xsd:string"/>
              <xsd:element minOccurs="0" name="userId" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="body">
            <xsd:sequence>
              <xsd:element name="masterOrderNumber" type="xsd:string"/>
              <xsd:element name="serviceOrderNumber" type="xsd:string"/>
              <xsd:element name="masterOrderStatus" type="xsd:string"/>
              <xsd:element name="serviceOrderStatus" type="xsd:string"/>
              <xsd:element name="lineItemIdentifier" type="xsd:string"/>
              <xsd:element minOccurs="0" name="serviceNumber" nillable="true" type="xsd:string"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="failure" nillable="true" type="tns:failure"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="failure">
            <xsd:sequence>
              <xsd:element name="errorCode" type="xsd:string"/>
              <xsd:element minOccurs="0" name="errorDescription" nillable="true" type="xsd:string"/>
              <xsd:element name="errorTime" type="xsd:string"/>
              <xsd:element minOccurs="0" name="errorType" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="functionName" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="objectId" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="processInstanceId" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="sourceCodeError" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="systemName" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="targetRecord" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="userId" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="receiveOrderAcknowledgementResponse">
            <xsd:sequence>
              <xsd:element name="orderAcknowledgementResponse" nillable="true" type="tns:OrderAcknowledgementResponse"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="OrderAcknowledgementResponse">
            <xsd:sequence>
              <xsd:element name="header" type="tns:ResponseHeader"/>
              <xsd:element name="status" type="tns:status"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ResponseHeader">
            <xsd:sequence>
              <xsd:element name="systemId" type="xsd:string"/>
              <xsd:element name="serverInfo" type="xsd:string"/>
              <xsd:element name="messageId" type="xsd:string"/>
              <xsd:element minOccurs="0" name="conversationId" nillable="true" type="xsd:string"/>
              <xsd:element name="timestamp" type="xsd:string"/>
              <xsd:element name="domainId" type="xsd:string"/>
              <xsd:element name="serviceId" type="xsd:string"/>
              <xsd:element name="operationType" type="xsd:string"/>
              <xsd:element minOccurs="0" name="userId" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="status">
            <xsd:sequence>
              <xsd:element name="result" type="xsd:string"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="error" nillable="true" type="tns:error"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="error">
            <xsd:sequence>
              <xsd:element name="errorCode" type="xsd:string"/>
              <xsd:element name="errorSystem" type="xsd:string"/>
              <xsd:element name="errorType" type="xsd:string"/>
              <xsd:element minOccurs="0" name="errorDescription" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="errorReference" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="orderAcknowledgement_PortType_receiveOrderAcknowledgementResponse">
    <wsdl:part name="parameters" element="tns:receiveOrderAcknowledgementResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="orderAcknowledgement_PortType_receiveOrderAcknowledgement">
    <wsdl:part name="parameters" element="tns:receiveOrderAcknowledgement">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="orderAcknowledgement_PortType">
    <wsdl:operation name="receiveOrderAcknowledgement">
      <wsdl:input message="tns:orderAcknowledgement_PortType_receiveOrderAcknowledgement">
    </wsdl:input>
      <wsdl:output message="tns:orderAcknowledgement_PortType_receiveOrderAcknowledgementResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GraniteGW_Wholesale_order_orderAcknowledgement_ws_provider_orderAcknowledgement_Binder" type="tns:orderAcknowledgement_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="receiveOrderAcknowledgement">
      <soap:operation soapAction="GraniteGW_Wholesale_order_orderAcknowledgement_ws_provider_orderAcknowledgement_Binder_receiveOrderAcknowledgement" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GraniteGW_Wholesale.order.orderAcknowledgement.ws.provider.orderAcknowledgement">
    <wsdl:port name="GraniteGW_Wholesale_order_orderAcknowledgement_ws_provider_orderAcknowledgement_Port" binding="tns:GraniteGW_Wholesale_order_orderAcknowledgement_ws_provider_orderAcknowledgement_Binder">
      <soap:address location="http://STC.com.sa:8080/ws/GraniteGW_Wholesale.order.orderAcknowledgement.ws.provider:orderAcknowledgement/GraniteGW_Wholesale_order_orderAcknowledgement_ws_provider_orderAcknowledgement_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
