OrderManager/WBU16/WSDL/WSDL From EAI/siteUpdate.WSDL

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="siteUpdate" targetNamespace="siteUpdate" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="siteUpdate" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="siteUpdate" xmlns:tns="siteUpdate" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="receiveSiteUpdate" type="tns:receiveSiteUpdate"/>
          <xsd:element name="receiveSiteUpdateResponse" type="tns:receiveSiteUpdateResponse"/>
          <xsd:complexType name="receiveSiteUpdate">
            <xsd:sequence>
              <xsd:element name="siteUpdateRequest" nillable="true" type="tns:SiteUpdateRequest"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="SiteUpdateRequest">
            <xsd:sequence>
              <xsd:element name="header" type="tns:RequestHeader"/>
              <xsd:element name="body" type="tns:body"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="RequestHeader">
            <xsd:sequence>
              <xsd:element name="systemId" type="xsd:string"/>
              <xsd:element name="serverInfo" type="xsd:string"/>
              <xsd:element name="messageId" type="xsd:string"/>
              <xsd:element minOccurs="0" name="conversationId" nillable="true" type="xsd:string"/>
              <xsd:element name="timestamp" type="xsd:dateTime"/>
              <xsd:element name="domainId" type="xsd:string"/>
              <xsd:element name="serviceId" type="xsd:string"/>
              <xsd:element name="operationType" type="xsd:string"/>
              <xsd:element minOccurs="0" name="userId" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="body">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="businessUnit" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="ccliCode" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="city" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="cityCode" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="country" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="district" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="districtCode" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="region" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="siteId" nillable="true" type="xsd:string"/>
              <xsd:element name="siteName" type="xsd:string"/>
              <xsd:element name="siteType" type="xsd:string"/>
              <xsd:element minOccurs="0" name="status" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="commercialSiteName" nillable="true" type="xsd:string"/>
              <xsd:element name="latitude" type="xsd:string"/>
              <xsd:element name="longitude" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="receiveSiteUpdateResponse">
            <xsd:sequence>
              <xsd:element name="siteUpdateResponse" nillable="true" type="tns:SiteUpdateResponse"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="SiteUpdateResponse">
            <xsd:sequence>
              <xsd:element name="header" type="tns:ResponseHeader"/>
              <xsd:element name="status" type="tns:status2"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ResponseHeader">
            <xsd:sequence>
              <xsd:element name="systemId" type="xsd:string"/>
              <xsd:element name="serverInfo" type="xsd:string"/>
              <xsd:element name="messageId" type="xsd:string"/>
              <xsd:element minOccurs="0" name="conversationId" nillable="true" type="xsd:string"/>
              <xsd:element name="timestamp" type="xsd:string"/>
              <xsd:element name="domainId" type="xsd:string"/>
              <xsd:element name="serviceId" type="xsd:string"/>
              <xsd:element name="operationType" type="xsd:string"/>
              <xsd:element minOccurs="0" name="userId" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="status2">
            <xsd:sequence>
              <xsd:element name="result" type="xsd:string"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="error" nillable="true" type="tns:error"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="error">
            <xsd:sequence>
              <xsd:element name="errorCode" type="xsd:string"/>
              <xsd:element name="errorSystem" type="xsd:string"/>
              <xsd:element name="errorType" type="xsd:string"/>
              <xsd:element minOccurs="0" name="errorDescription" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="errorReference" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="siteUpdate_PortType_receiveSiteUpdateResponse">
    <wsdl:part name="parameters" element="tns:receiveSiteUpdateResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="siteUpdate_PortType_receiveSiteUpdate">
    <wsdl:part name="parameters" element="tns:receiveSiteUpdate">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="siteUpdate_PortType">
    <wsdl:operation name="receiveSiteUpdate">
      <wsdl:input message="tns:siteUpdate_PortType_receiveSiteUpdate">
    </wsdl:input>
      <wsdl:output message="tns:siteUpdate_PortType_receiveSiteUpdateResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GraniteGW_Wholesale_site_siteUpdate_ws_provider_siteUpdate_Binder" type="tns:siteUpdate_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="receiveSiteUpdate">
      <soap:operation soapAction="GraniteGW_Wholesale_site_siteUpdate_ws_provider_siteUpdate_Binder_receiveSiteUpdate" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GraniteGW_Wholesale.site.siteUpdate.ws.provider.siteUpdate">
    <wsdl:port name="GraniteGW_Wholesale_site_siteUpdate_ws_provider_siteUpdate_Port" binding="tns:GraniteGW_Wholesale_site_siteUpdate_ws_provider_siteUpdate_Binder">
      <soap:address location="http://STC.com.sa:8080/ws/GraniteGW_Wholesale.site.siteUpdate.ws.provider:siteUpdate/GraniteGW_Wholesale_site_siteUpdate_ws_provider_siteUpdate_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
