OrderManager/HBU/CWProject/resources/XngServicesPort.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions name="ifGranite_ws" targetNamespace="http://com/granite/custom/stc/system/ifGranite_ws" xmlns:tns="http://com/granite/custom/stc/system/ifGranite_ws" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ds_ws="java:com.granite.custom.stc.transport.siebel">

	<types>
		<schema targetNamespace="java:com.granite.custom.stc.transport.siebel"
				xmlns="http://www.w3.org/2001/XMLSchema"
			xmlns:ds_ws="java:com.granite.custom.stc.transport.siebel"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:cwf="http://www.conceptwave.com/system">



			<annotation>
				<documentation>Data Structure &#091;SOAP&#093;</documentation>
				<appinfo>
					<metadata>STC Project</metadata>
					<created>Mon Sep 08 11:04:21 CEST 2008</created>
					<updated>Tue Sep 17 18:52:10 EDT 2013</updated>
				</appinfo>
			</annotation>

			<!-- Data types and elements -->

			<simpleType name="actionOnOrder">
				<annotation>
					<documentation>Action On Order &#091;DO NOT TOUCH&#093;</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="10"/>
					<enumeration value="Create">
						<annotation>
							<documentation>Create</documentation>
						</annotation>
					</enumeration>
					<enumeration value="Update">
						<annotation>
							<documentation>Update</documentation>
						</annotation>
					</enumeration>
				</restriction>
			</simpleType>

			<simpleType name="alternativeSolution">
				<annotation>
					<documentation>Alternative Solution</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="25"/>
				</restriction>
			</simpleType>

			<simpleType name="BILLING_ADDRESS">
				<annotation>
					<documentation>BILLING_ADDRESS</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength fixed="true" value="4000"/>
				</restriction>
			</simpleType>

			<simpleType name="BILLING_CODE">
				<annotation>
					<documentation>BILLING_CODE</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength fixed="true" value="50"/>
				</restriction>
			</simpleType>

			<simpleType name="BILLING_CONTACTS">
				<annotation>
					<documentation>BILLING_CONTACTS</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength fixed="true" value="4000"/>
				</restriction>
			</simpleType>

			<simpleType name="BILLING_FAX">
				<annotation>
					<documentation>BILLING_FAX</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength fixed="true" value="50"/>
				</restriction>
			</simpleType>

			<simpleType name="businessUnit">
				<annotation>
					<documentation>Business Unit</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="50"/>
					<enumeration value="Home">
						<annotation>
							<documentation>Home</documentation>
						</annotation>
					</enumeration>
					<enumeration value="Enterprise">
						<annotation>
							<documentation>Enterprise</documentation>
						</annotation>
					</enumeration>
				</restriction>
			</simpleType>

			<simpleType name="cctType">
				<annotation>
					<documentation>CCT Type</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="25"/>
				</restriction>
			</simpleType>

			<simpleType name="circuitStatus">
				<annotation>
					<documentation>Circuit Status</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="50"/>
				</restriction>
			</simpleType>

			<simpleType name="CITY">
				<annotation>
					<documentation>CITY</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength fixed="true" value="60"/>
				</restriction>
			</simpleType>

			<simpleType name="COMMENTS">
				<annotation>
					<documentation>COMMENTS</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength fixed="true" value="4000"/>
				</restriction>
			</simpleType>

			<simpleType name="COUNTRY">
				<annotation>
					<documentation>COUNTRY</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength fixed="true" value="60"/>
				</restriction>
			</simpleType>

			<simpleType name="COUNTY">
				<annotation>
					<documentation>COUNTY</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength fixed="true" value="40"/>
				</restriction>
			</simpleType>

			<simpleType name="CUST_INST_ID">
				<annotation>
					<documentation>CUST_INST_ID</documentation>
				</annotation>
				<restriction base="xsd:decimal">
					<totalDigits fixed="true" value="9"/>
					<fractionDigits fixed="true" value="0"/>
				</restriction>
			</simpleType>

			<simpleType name="CUST_STATUS">
				<annotation>
					<documentation>CUST_STATUS</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength fixed="true" value="30"/>
				</restriction>
			</simpleType>

			<simpleType name="CUSTOMER_ID">
				<annotation>
					<documentation>CUSTOMER_ID</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength fixed="true" value="50"/>
				</restriction>
			</simpleType>

			<simpleType name="CUSTOMER_NAME">
				<annotation>
					<documentation>CUSTOMER_NAME</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength fixed="true" value="60"/>
				</restriction>
			</simpleType>

			<simpleType name="eventType">
				<annotation>
					<documentation>Event Type</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="10"/>
					<enumeration value="WOSU">
						<annotation>
							<documentation>WOSU</documentation>
						</annotation>
					</enumeration>
					<enumeration value="SIU">
						<annotation>
							<documentation>SIU</documentation>
						</annotation>
					</enumeration>
					<enumeration value="RLO">
						<annotation>
							<documentation>RLO</documentation>
						</annotation>
					</enumeration>
					<enumeration value="QA">
						<annotation>
							<documentation>QA</documentation>
						</annotation>
					</enumeration>
					<enumeration value="OCUA">
						<annotation>
							<documentation>OCUA</documentation>
						</annotation>
					</enumeration>
					<enumeration value="CIUA">
						<annotation>
							<documentation>CIUA</documentation>
						</annotation>
					</enumeration>
				</restriction>
			</simpleType>

			<simpleType name="FLOOR">
				<annotation>
					<documentation>FLOOR</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength fixed="true" value="40"/>
				</restriction>
			</simpleType>

			<simpleType name="INST_VER">
				<annotation>
					<documentation>INST_VER</documentation>
				</annotation>
				<restriction base="xsd:decimal">
					<totalDigits fixed="true" value="6"/>
					<fractionDigits fixed="true" value="0"/>
				</restriction>
			</simpleType>

			<simpleType name="integer5">
				<annotation>
					<documentation>Integer 5 &#091;Digit&#093;</documentation>
				</annotation>
				<restriction base="xsd:integer">
					<totalDigits value="5"/>
				</restriction>
			</simpleType>

			<simpleType name="interfaceName">
				<annotation>
					<documentation>Interface Name</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="100"/>
				</restriction>
			</simpleType>

			<simpleType name="internalOrderStatus">
				<annotation>
					<documentation>Internal Order Status</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="50"/>
					<enumeration value="Order Received">
						<annotation>
							<documentation>Order Received</documentation>
						</annotation>
					</enumeration>
					<enumeration value="Waiting for Granite Response">
						<annotation>
							<documentation>Waiting for Granite Response</documentation>
						</annotation>
					</enumeration>
					<enumeration value="Granite Communication FAILED">
						<annotation>
							<documentation>Granite Communication FAILED</documentation>
						</annotation>
					</enumeration>
					<enumeration value="Granite Call SUCCESSFUL">
						<annotation>
							<documentation>Granite Call SUCCESSFUL</documentation>
						</annotation>
					</enumeration>
					<enumeration value="Granite Call FAILURE">
						<annotation>
							<documentation>Granite Call FAILURE</documentation>
						</annotation>
					</enumeration>
					<enumeration value="Order Archived (UOR)">
						<annotation>
							<documentation>Order Archived (Update Order Request)</documentation>
							<appinfo>
								<active>false</active>
							</appinfo>
						</annotation>
					</enumeration>
				</restriction>
			</simpleType>

			<simpleType name="invokeResultType">
				<annotation>
					<documentation>Invoke Result Type</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="20"/>
					<enumeration value="OK">
						<annotation>
							<documentation>OK</documentation>
						</annotation>
					</enumeration>
					<enumeration value="NOT_AVAILABLE_EAI">
						<annotation>
							<documentation>NOT_AVAILABLE_EAI</documentation>
						</annotation>
					</enumeration>
					<enumeration value="NOT_SUCCESS_EAI">
						<annotation>
							<documentation>NOT_SUCCESS_EAI</documentation>
						</annotation>
					</enumeration>
					<enumeration value="NOT_AVAILABLE_EXPD">
						<annotation>
							<documentation>NOT_AVAILABLE_EXPD</documentation>
						</annotation>
					</enumeration>
				</restriction>
			</simpleType>

			<simpleType name="LAST_MOD_BY">
				<annotation>
					<documentation>LAST_MOD_BY</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength fixed="true" value="20"/>
				</restriction>
			</simpleType>

			<simpleType name="listSP">
				<annotation>
					<documentation>List of Service Parameters &#091;Button Confirmation&#093;</documentation>
				</annotation>
				<restriction base="ds_ws:serviceType">
					<enumeration value="VOIP">
						<annotation>
							<documentation>VOIP</documentation>
						</annotation>
					</enumeration>
					<enumeration value="HSI">
						<annotation>
							<documentation>HSI</documentation>
						</annotation>
					</enumeration>
					<enumeration value="Other">
						<annotation>
							<documentation>Other</documentation>
						</annotation>
					</enumeration>
				</restriction>
			</simpleType>

			<simpleType name="locationAccessType">
				<annotation>
					<documentation>Location Access Type</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="100"/>
				</restriction>
			</simpleType>

			<simpleType name="locationInterface">
				<annotation>
					<documentation>Location Interface</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="25"/>
				</restriction>
			</simpleType>

			<simpleType name="LOCK_BY">
				<annotation>
					<documentation>LOCK_BY</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength fixed="true" value="20"/>
				</restriction>
			</simpleType>

			<simpleType name="NPA_NXX">
				<annotation>
					<documentation>NPA_NXX</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength fixed="true" value="10"/>
				</restriction>
			</simpleType>

			<simpleType name="orderDomain">
				<annotation>
					<documentation>Order Domain</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="5"/>
				</restriction>
			</simpleType>

			<simpleType name="orderStatus">
				<annotation>
					<documentation>Order Status</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="50"/>
				</restriction>
			</simpleType>

			<simpleType name="orderType">
				<annotation>
					<documentation>Order Type</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="25"/>
				</restriction>
			</simpleType>

			<simpleType name="PARENT_CUST_ID">
				<annotation>
					<documentation>PARENT_CUST_ID</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength fixed="true" value="50"/>
				</restriction>
			</simpleType>

			<simpleType name="POST_CODE_1">
				<annotation>
					<documentation>POST_CODE_1</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength fixed="true" value="10"/>
				</restriction>
			</simpleType>

			<simpleType name="POST_CODE_2">
				<annotation>
					<documentation>POST_CODE_2</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength fixed="true" value="10"/>
				</restriction>
			</simpleType>

			<simpleType name="PRIMARY_PHONE_NO">
				<annotation>
					<documentation>PRIMARY_PHONE_NO</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength fixed="true" value="30"/>
				</restriction>
			</simpleType>

			<simpleType name="priority">
				<annotation>
					<documentation>Priority</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="25"/>
				</restriction>
			</simpleType>

			<simpleType name="ROOM">
				<annotation>
					<documentation>ROOM</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength fixed="true" value="40"/>
				</restriction>
			</simpleType>

			<simpleType name="sector">
				<annotation>
					<documentation>Sector</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="25"/>
				</restriction>
			</simpleType>

			<simpleType name="serviceType">
				<annotation>
					<documentation>Service Type</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="25"/>
				</restriction>
			</simpleType>

			<simpleType name="STATE_PROV">
				<annotation>
					<documentation>STATE_PROV</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength fixed="true" value="40"/>
				</restriction>
			</simpleType>

			<simpleType name="string100">
				<annotation>
					<documentation>String 100</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="100"/>
				</restriction>
			</simpleType>

			<simpleType name="string1000">
				<annotation>
					<documentation>String 1000</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="1000"/>
				</restriction>
			</simpleType>

			<simpleType name="string12">
				<annotation>
					<documentation>String 12</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="12"/>
				</restriction>
			</simpleType>

			<simpleType name="string25">
				<annotation>
					<documentation>String 25</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="25"/>
				</restriction>
			</simpleType>

			<simpleType name="string250">
				<annotation>
					<documentation>String 250</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="250"/>
				</restriction>
			</simpleType>

			<simpleType name="string30">
				<annotation>
					<documentation>String 30</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="30"/>
				</restriction>
			</simpleType>

			<simpleType name="string40">
				<annotation>
					<documentation>String 40</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="40"/>
				</restriction>
			</simpleType>

			<simpleType name="string4000">
				<annotation>
					<documentation>String 4000</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="4000"/>
				</restriction>
			</simpleType>

			<simpleType name="string50">
				<annotation>
					<documentation>String 50</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="50"/>
				</restriction>
			</simpleType>

			<simpleType name="string60">
				<annotation>
					<documentation>String 60</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="60"/>
				</restriction>
			</simpleType>

			<simpleType name="string75">
				<annotation>
					<documentation>String 75</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="75"/>
				</restriction>
			</simpleType>

			<simpleType name="TECH_CONTACTS">
				<annotation>
					<documentation>TECH_CONTACTS</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength fixed="true" value="4000"/>
				</restriction>
			</simpleType>

			<simpleType name="toBeCancelled">
				<annotation>
					<documentation>To Be Cancelled</documentation>
				</annotation>
				<restriction base="xsd:boolean">
				</restriction>
			</simpleType>

			<simpleType name="toBeProcessed">
				<annotation>
					<documentation>To Be Processed</documentation>
				</annotation>
				<restriction base="xsd:boolean">
				</restriction>
			</simpleType>

			<simpleType name="TYPE">
				<annotation>
					<documentation>TYPE</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength fixed="true" value="30"/>
					<enumeration value="CENTRAL &amp; EASTERN">
						<annotation>
							<documentation>CENTRAL &amp; EASTERN</documentation>
						</annotation>
					</enumeration>
					<enumeration value="GOVERNMENT">
						<annotation>
							<documentation>GOVERNMENT</documentation>
						</annotation>
					</enumeration>
					<enumeration value="WESTERN &amp; SOUTHERN">
						<annotation>
							<documentation>WESTERN &amp; SOUTHERN</documentation>
						</annotation>
					</enumeration>
					<enumeration value="ENERGY &amp; MANUFACTURING">
						<annotation>
							<documentation>ENERGY &amp; MANUFACTURING</documentation>
						</annotation>
					</enumeration>
					<enumeration value="TRANSPORTATION AND TRADE">
						<annotation>
							<documentation>TRANSPORTATION AND TRADE</documentation>
						</annotation>
					</enumeration>
					<enumeration value="TECHNOLOGY &amp; TELECOMMUNICATION">
						<annotation>
							<documentation>TECHNOLOGY &amp; TELECOMMUNICATION</documentation>
						</annotation>
					</enumeration>
					<enumeration value="BANKING">
						<annotation>
							<documentation>BANKING</documentation>
						</annotation>
					</enumeration>
				</restriction>
			</simpleType>

			<simpleType name="wires">
				<annotation>
					<documentation>Wires</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="25"/>
				</restriction>
			</simpleType>

			<element name="parentOrderNumber" nillable="true">
				<annotation>
					<documentation>Parent Order #</documentation>
				</annotation>
				<simpleType>
					<restriction base="cwf:sReference">
						<maxLength value="50"/>
					</restriction>
				</simpleType>
			</element>

			<!-- Structures -->

			<complexType name="ArrayOfPendingOrder_literal">
				<annotation>
					<documentation>ArrayOfPendingOrder_literal</documentation>
				</annotation>
					<sequence>
						<element name="PendingOrder" minOccurs="0" maxOccurs="unbounded" type="ds_ws:PendingOrder"/>
					</sequence>
				</complexType>

			<element name="ArrayOfPendingOrder_literal" type="ds_ws:ArrayOfPendingOrder_literal"/>

			<complexType name="ArrayOfRejectedTask_literal">
				<annotation>
					<documentation>ArrayOfRejectedTask_literal</documentation>
				</annotation>
					<sequence>
						<element name="RejectedTask" minOccurs="0" maxOccurs="unbounded" type="ds_ws:RejectedTask"/>
					</sequence>
				</complexType>

			<element name="ArrayOfRejectedTask_literal" type="ds_ws:ArrayOfRejectedTask_literal"/>

			<complexType name="CustomerInformationUpdate">
				<annotation>
					<documentation>CustomerInformationUpdate</documentation>
				</annotation>
					<sequence>
						<element name="AccountNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CustomerAddress" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CustomerArabicName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CustomerClass" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CustomerEnglishName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CustomerNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CustomerSubtype" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="Sector" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="Status" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CustomerType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="BusinessUnit" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<complexType name="CustomerInformationUpdateAcknowledgement">
				<annotation>
					<documentation>CustomerInformationUpdateAcknowledgement</documentation>
				</annotation>
					<sequence>
						<element name="Acknowledgement" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CustomerNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<complexType name="CustomerInformationUpdateAckWithFailure">
				<annotation>
					<documentation>CustomerInformationUpdateAckWithFailure</documentation>
				</annotation>
					<sequence>
						<element name="CustomerUpdateAcknowledgement" minOccurs="1" maxOccurs="1" type="ds_ws:CustomerInformationUpdateAcknowledgement"/>
						<element name="Failure" minOccurs="1" maxOccurs="1" type="ds_ws:Failure"/>
					</sequence>
				</complexType>

			<complexType name="Failure">
				<annotation>
					<documentation>Failure</documentation>
				</annotation>
					<sequence>
						<element name="ErrorCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="ErrorDescription" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="ErrorTime" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="ErrorType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="FunctionName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="ObjectId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="ProcessInstanceld" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="SourceErrorCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="Status" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="SystemName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="TargetRecored" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="UserId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<element name="generateCircuitNumber">
				<complexType >
				<annotation>
					<documentation>generateCircuitNumber</documentation>
				</annotation>
					<sequence>
						<element name="ccliA" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="ccliB" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="cctType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>

			<element name="generateCircuitNumberResponse">
				<complexType >
				<annotation>
					<documentation>generateCircuitNumberResponse</documentation>
				</annotation>
					<sequence>
						<element name="return" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>

			<element name="generateOrderNumber">
				<complexType >
				<annotation>
					<documentation>generateOrderNumber</documentation>
				</annotation>
					<sequence>
						<element name="orderType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="userInitials" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>

			<element name="generateOrderNumberResponse">
				<complexType >
				<annotation>
					<documentation>generateOrderNumberResponse</documentation>
				</annotation>
					<sequence>
						<element name="return" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>

			<complexType name="NameValue">
				<annotation>
					<documentation>NameValue</documentation>
				</annotation>
					<sequence>
						<element name="Name" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="Value" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<complexType name="OrderMessage">
				<annotation>
					<documentation>Order Message &#091;HOME&#093;</documentation>
				</annotation>
					<sequence>
						<element name="AccountNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="AlternativeSolution" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="Bandwidth" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CctType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CircuitNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CreatedBy" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CreationDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
						<element name="CustomerIDNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="FictBillingNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="IcmsSONumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="OldCircuitNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="OrderNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="OrderStatus" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="OrderType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="Priority" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="ProjectId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="ReferenceTelNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="Remarks" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="ServiceDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
						<element name="ServiceDescription" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="ServiceParameters" minOccurs="0" maxOccurs="unbounded" type="ds_ws:ServiceParameters"/>
						<element name="ServiceType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="Wires" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CustomerName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CustomerType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CustomerContact" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="TbPortNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="BusinessUnit" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CustomerIDType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CustomerNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="ReservationNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="ReservationExpiry" minOccurs="1" maxOccurs="1" type="xsd:int"/>
						<element name="OrderDomain" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<complexType name="OrderAcknowledgement">
				<annotation>
					<documentation>OrderAcknowledgement</documentation>
				</annotation>
					<sequence>
						<element name="Remarks" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="OrderNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="XngOrderNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="BusinessUnit" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CircuitId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<complexType name="OrderAcknowledgementWithFailure">
				<annotation>
					<documentation>OrderAcknowledgementWithFailure</documentation>
				</annotation>
					<sequence>
						<element name="Failure" minOccurs="1" maxOccurs="1" type="ds_ws:Failure"/>
						<element name="OrderAcknowledgement" minOccurs="1" maxOccurs="1" type="ds_ws:OrderAcknowledgement"/>
					</sequence>
				</complexType>

			<complexType name="OrderMessage">
				<annotation>
					<documentation>OrderMessage</documentation>
				</annotation>
					<sequence>
						<element name="AccountNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="AlternativeSolution" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="Bandwidth" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CctType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CircuitNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CreatedBy" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CreationDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
						<element name="CustomerIDNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="FictBillingNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="IcmsSONumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="LocationAAccessCircuit" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="LocationAAccessType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="LocationACCLICode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="LocationACity" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="LocationAContactAddress" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="LocationAContactEmail" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="LocationAContactName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="LocationAContactTel" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="LocationAExchangeSwitchCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="LocationAInterface" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="LocationAJVCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="LocationAPlateID" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="LocationARemarks" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="LocationBAccessCircuit" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="LocationBAccessType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="LocationBCCLICode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="LocationBCity" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="LocationBContactAddress" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="LocationBContactEmail" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="LocationBContactName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="LocationBContactTel" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="LocationBExchangeSwitchCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="LocationBInterface" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="LocationBJVCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="LocationBPlateID" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="LocationBRemarks" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="OldCircuitNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="OrderNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="OrderStatus" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="OrderType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="Priority" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="ProjectId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="ReferenceTelNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="Remarks" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="ServiceDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
						<element name="ServiceDescription" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="ServiceParameters" minOccurs="0" maxOccurs="unbounded" type="ds_ws:ServiceParameters"/>
						<element name="ServiceType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="Wires" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CustomerName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CustomerType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CustomerContact" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="PlateID" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="OldPlateId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="TbPortNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="UnitNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="OldUnitNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="BusinessUnit" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CustomerIDType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CustomerNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="ReservationNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="ReservationExpiry" minOccurs="1" maxOccurs="1" type="xsd:int"/>
					</sequence>
				</complexType>

			<complexType name="PendingOrder">
				<annotation>
					<documentation>PendingOrder</documentation>
				</annotation>
					<sequence>
						<element name="CCLI_A" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CCLI_B" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CCT_TYPE" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CIRC_PATH_INST_ID" minOccurs="0" maxOccurs="1" type="xsd:long"/>
						<element name="CIRCUIT_NUMBER" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CIRCUIT_STATUS" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CREATED_BY" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CUSTOMER" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="ISP_NAME" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="NBR_TASKS" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="ORDER_NUMBER" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="ORDER_STATUS" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="ORDER_TYPE" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="PROJECT_ID" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="SERVICE_DATE" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<element name="queryLiveOrders">
				<complexType >
				<annotation>
					<documentation>queryLiveOrders</documentation>
				</annotation>
					<sequence>
						<element name="CUSTOMER" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="ORDER_TYPE" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="ORDER_STATUS" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="PROJECT_ID" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CCT_TYPE" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CCLI_A" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CCLI_B" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="ISP_NAME" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CREATED_BY" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>

			<element name="queryLiveOrdersResponse">
				<complexType >
				<annotation>
					<documentation>queryLiveOrdersResponse</documentation>
				</annotation>
					<sequence>
						<element name="return" minOccurs="1" maxOccurs="1" type="ds_ws:ArrayOfPendingOrder_literal"/>
					</sequence>
				</complexType>
			</element>

			<element name="queryPendingOrders">
				<complexType >
				<annotation>
					<documentation>queryPendingOrders</documentation>
				</annotation>
					<sequence>
						<element name="CUSTOMER" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="ORDER_TYPE" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="ORDER_STATUS" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="PROJECT_ID" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CCT_TYPE" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CCLI_A" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CCLI_B" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="ISP_NAME" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CREATED_BY" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>

			<element name="queryPendingOrdersResponse">
				<complexType >
				<annotation>
					<documentation>queryPendingOrdersResponse</documentation>
				</annotation>
					<sequence>
						<element name="return" minOccurs="1" maxOccurs="1" type="ds_ws:ArrayOfPendingOrder_literal"/>
					</sequence>
				</complexType>
			</element>

			<element name="queryRejectedTasks">
				<complexType >
				<annotation>
					<documentation>queryRejectedTasks</documentation>
				</annotation>
					<sequence>
						<element name="rejectedTaskQuery" minOccurs="1" maxOccurs="1" type="ds_ws:RejectedTask"/>
					</sequence>
				</complexType>
			</element>

			<element name="queryRejectedTasksResponse">
				<complexType >
				<annotation>
					<documentation>queryRejectedTasksResponse</documentation>
				</annotation>
					<sequence>
						<element name="return" minOccurs="1" maxOccurs="1" type="ds_ws:ArrayOfRejectedTask_literal"/>
					</sequence>
				</complexType>
			</element>

			<complexType name="QuoteAcknowledgement">
				<annotation>
					<documentation>Quote Acknowledgement &#091;HOME&#093;</documentation>
				</annotation>
					<sequence>
						<element name="CircuitRemarks" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="OrderNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="ValidationResponse" minOccurs="0" maxOccurs="1" type="ds_ws:ValidationResponse"/>
					</sequence>
				</complexType>

			<complexType name="QuoteAcknowledgementWithFailure">
				<annotation>
					<documentation>Quote Acknowledgement With Failure &#091;HOME&#093;</documentation>
				</annotation>
					<sequence>
						<element name="Failure" minOccurs="1" maxOccurs="1" type="ds_ws:Failure"/>
						<element name="QuoteAcknowledgement" minOccurs="1" maxOccurs="1" type="ds_ws:QuoteAcknowledgement"/>
					</sequence>
				</complexType>

			<element name="quoteValidation">
				<complexType >
				<annotation>
					<documentation>Quote Validation &#091;HOME&#093;</documentation>
				</annotation>
					<sequence>
						<element name="message" minOccurs="1" maxOccurs="1" type="ds_ws:OrderMessage"/>
					</sequence>
				</complexType>
			</element>

			<element name="quoteValidationResponse">
				<complexType >
				<annotation>
					<documentation>Quote Validation Response &#091;HOME&#093;</documentation>
				</annotation>
					<sequence>
						<element name="returns" minOccurs="1" maxOccurs="1" type="ds_ws:QuoteAcknowledgementWithFailure"/>
					</sequence>
				</complexType>
			</element>

			<complexType name="QuoteAcknowledgement">
				<annotation>
					<documentation>QuoteAcknowledgement</documentation>
				</annotation>
					<sequence>
						<element name="CircuitRemarks" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="OrderNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="ValidationResponse" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<complexType name="QuoteAcknowledgementWithFailure">
				<annotation>
					<documentation>QuoteAcknowledgementWithFailure</documentation>
				</annotation>
					<sequence>
						<element name="Failure" minOccurs="1" maxOccurs="1" type="ds_ws:Failure"/>
						<element name="QuoteAcknowledgement" minOccurs="1" maxOccurs="1" type="ds_ws:QuoteAcknowledgement"/>
					</sequence>
				</complexType>

			<element name="quoteValidation">
				<complexType >
				<annotation>
					<documentation>quoteValidation</documentation>
				</annotation>
					<sequence>
						<element name="message" minOccurs="1" maxOccurs="1" type="ds_ws:OrderMessage"/>
					</sequence>
				</complexType>
			</element>

			<element name="quoteValidationResponse">
				<complexType >
				<annotation>
					<documentation>quoteValidationResponse</documentation>
				</annotation>
					<sequence>
						<element name="returns" minOccurs="1" maxOccurs="1" type="ds_ws:QuoteAcknowledgementWithFailure"/>
					</sequence>
				</complexType>
			</element>

			<element name="redliningOrderAcknowledgement">
				<complexType >
				<annotation>
					<documentation>redliningOrderAcknowledgement</documentation>
				</annotation>
					<sequence>
						<element name="acknowledgement" minOccurs="1" maxOccurs="1" type="ds_ws:OrderAcknowledgement"/>
					</sequence>
				</complexType>
			</element>

			<element name="redliningOrderAcknowledgementResponse">
				<complexType >
				<annotation>
					<documentation>redliningOrderAcknowledgementResponse</documentation>
				</annotation>
					<sequence>
						<element name="returns" minOccurs="1" maxOccurs="1" type="ds_ws:OrderAcknowledgementWithFailure"/>
					</sequence>
				</complexType>
			</element>

			<complexType name="RejectedTask">
				<annotation>
					<documentation>RejectedTask</documentation>
				</annotation>
					<sequence>
						<element name="CIRC_PATH_HUM_ID" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CIRC_PATH_INST_ID" minOccurs="0" maxOccurs="1" type="xsd:long"/>
						<element name="CIRC_STATUS" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CREATED_BY" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="ORDER_NUM" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="QUEUE_NAME" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="REASON_CODE" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="REASON_DESCR" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="SERVICE_DATE" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="TASK_NAME" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<element name="reportFailure">
				<complexType >
				<annotation>
					<documentation>reportFailure</documentation>
				</annotation>
					<sequence>
						<element name="failure" minOccurs="1" maxOccurs="1" type="ds_ws:Failure"/>
					</sequence>
				</complexType>
			</element>

			<complexType name="ServiceParameters">
				<annotation>
					<documentation>Service Parameters &#091;HOME&#093;</documentation>
				</annotation>
					<sequence>
						<element name="CreationDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
						<element name="NameValue" minOccurs="0" maxOccurs="unbounded" type="ds_ws:NameValue"/>
						<element name="OldServiceNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="ServiceDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
						<element name="ServiceDescription" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="ServiceType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="ServiceNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="PlateID" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="OldPlateID" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="UnitNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="OldUnitNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="OrderRowItemID" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<complexType name="ServiceRequest">
				<annotation>
					<documentation>Service Request &#091;HOME&#093;</documentation>
				</annotation>
					<sequence>
						<element name="ServiceType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="ServiceNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="ServiceDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
						<element name="MaxBandwidth" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="Failure" minOccurs="1" maxOccurs="1" type="ds_ws:Failure"/>
						<element name="Neid" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="OrderRowItemID" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<complexType name="ServiceParameters">
				<annotation>
					<documentation>ServiceParameters</documentation>
				</annotation>
					<sequence>
						<element name="CreationDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
						<element name="NameValue" minOccurs="0" maxOccurs="unbounded" type="ds_ws:NameValue"/>
						<element name="OldServiceNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="ServiceDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
						<element name="ServiceDescription" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="ServiceType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="ServiceNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<element name="siteInformationUpdateAcknowledgement">
				<complexType >
				<annotation>
					<documentation>siteInformationUpdateAcknowledgement</documentation>
				</annotation>
					<sequence>
						<element name="siteInformationUpdateAcknowledgement" minOccurs="1" maxOccurs="1" type="ds_ws:SiteInformationUpdateAcknowledgement"/>
					</sequence>
				</complexType>
			</element>

			<complexType name="SiteInformationUpdateAcknowledgement">
				<annotation>
					<documentation>SiteInformationUpdateAcknowledgement</documentation>
				</annotation>
					<sequence>
						<element name="Acknowledgement" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="SiteID" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="BusinessUnit" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<complexType name="siteInformationUpdateAcknowledgementResponse">
				<annotation>
					<documentation>siteInformationUpdateAcknowledgementResponse</documentation>
				</annotation>
					<sequence>
						<element name="returns" minOccurs="1" maxOccurs="1" type="ds_ws:SiteInformationUpdateAcknowledgementWithFailure"/>
					</sequence>
				</complexType>

			<complexType name="SiteInformationUpdateAcknowledgementWithFailure">
				<annotation>
					<documentation>SiteInformationUpdateAcknowledgementWithFailure</documentation>
				</annotation>
					<sequence>
						<element name="Acknowledgement" minOccurs="1" maxOccurs="1" type="ds_ws:SiteInformationUpdateAcknowledgement"/>
						<element name="Failure" minOccurs="1" maxOccurs="1" type="ds_ws:Failure"/>
					</sequence>
				</complexType>

			<element name="submitOrder">
				<complexType >
				<annotation>
					<documentation>Submit Order &#091;HOME&#093;</documentation>
				</annotation>
					<sequence>
						<element name="message" minOccurs="1" maxOccurs="1" type="ds_ws:OrderMessage"/>
					</sequence>
				</complexType>
			</element>

			<element name="submitOrder">
				<complexType >
				<annotation>
					<documentation>submitOrder</documentation>
				</annotation>
					<sequence>
						<element name="message" minOccurs="1" maxOccurs="1" type="ds_ws:OrderMessage"/>
					</sequence>
				</complexType>
			</element>

			<element name="submitOrderResponse">
				<complexType >
				<annotation>
					<documentation>submitOrderResponse</documentation>
				</annotation>
					<sequence>
						<element name="returns" minOccurs="1" maxOccurs="1" type="ds_ws:OrderAcknowledgementWithFailure"/>
					</sequence>
				</complexType>
			</element>

			<element name="updateOrder">
				<complexType >
				<annotation>
					<documentation>Update Order &#091;HOME&#093;</documentation>
				</annotation>
					<sequence>
						<element name="message" minOccurs="1" maxOccurs="1" type="ds_ws:OrderMessage"/>
					</sequence>
				</complexType>
			</element>

			<element name="updateOrder">
				<complexType >
				<annotation>
					<documentation>updateOrder</documentation>
				</annotation>
					<sequence>
						<element name="message" minOccurs="1" maxOccurs="1" type="ds_ws:OrderMessage"/>
					</sequence>
				</complexType>
			</element>

			<element name="updateOrderResponse">
				<complexType >
				<annotation>
					<documentation>updateOrderResponse</documentation>
				</annotation>
					<sequence>
						<element name="returns" minOccurs="1" maxOccurs="1" type="ds_ws:OrderAcknowledgementWithFailure"/>
					</sequence>
				</complexType>
			</element>

			<complexType name="ValidationResponse">
				<annotation>
					<documentation>Validation Response &#091;HOME&#093;</documentation>
				</annotation>
					<sequence>
						<element name="Services" minOccurs="0" maxOccurs="unbounded" type="ds_ws:ServiceRequest"/>
					</sequence>
				</complexType>

		</schema>
		<schema targetNamespace="http://www.conceptwave.com/system"
				xmlns="http://www.w3.org/2001/XMLSchema"
			xmlns:cwf="http://www.conceptwave.com/system"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">



			<annotation>
				<documentation>ConceptWave system namespace</documentation>
				<appinfo>
					<label>ConceptWave System</label>
					<metadata>STC Project</metadata>
					<created>Mon Sep 08 11:04:21 CEST 2008</created>
					<updated>Tue Sep 17 18:52:10 EDT 2013</updated>
				</appinfo>
			</annotation>

			<!-- Data types and elements -->

			<simpleType name="allCalendars">
				<annotation>
					<documentation>All calendars</documentation>
				</annotation>
				<restriction base="cwf:calendar">
				</restriction>
			</simpleType>

			<simpleType name="allCompensates">
				<annotation>
					<documentation>All Compensates</documentation>
				</annotation>
				<restriction base="cwf:compensate">
				</restriction>
			</simpleType>

			<simpleType name="allMilestones">
				<annotation>
					<documentation>All Milestones</documentation>
				</annotation>
				<restriction base="cwf:milestone">
				</restriction>
			</simpleType>

			<simpleType name="allPriorities">
				<annotation>
					<documentation>All priorities</documentation>
				</annotation>
				<restriction base="cwf:priority">
					<enumeration value="1">
						<annotation>
							<documentation>High</documentation>
						</annotation>
					</enumeration>
					<enumeration value="8">
						<annotation>
							<documentation>Normal</documentation>
						</annotation>
					</enumeration>
					<enumeration value="15">
						<annotation>
							<documentation>Low</documentation>
						</annotation>
					</enumeration>
				</restriction>
			</simpleType>

			<simpleType name="allStates">
				<annotation>
					<documentation>All States</documentation>
				</annotation>
				<restriction base="cwf:state">
				</restriction>
			</simpleType>

			<simpleType name="applicationNames">
				<annotation>
					<documentation>Application name</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength fixed="true" value="128"/>
					<enumeration value="none">
						<annotation>
							<documentation>No applications available</documentation>
						</annotation>
					</enumeration>
				</restriction>
			</simpleType>

			<simpleType name="calendar">
				<annotation>
					<documentation>Calendar</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength fixed="true" value="80"/>
				</restriction>
			</simpleType>

			<simpleType name="compensate">
				<annotation>
					<documentation>Compensate</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength fixed="true" value="6"/>
				</restriction>
			</simpleType>

			<simpleType name="date">
				<annotation>
					<documentation>Date</documentation>
				</annotation>
				<restriction base="xsd:date">
				</restriction>
			</simpleType>

			<simpleType name="dateTimeMin">
				<annotation>
					<documentation>Date/Time (min)</documentation>
				</annotation>
				<restriction base="xsd:dateTime">
				</restriction>
			</simpleType>

			<simpleType name="dateTimeSec">
				<annotation>
					<documentation>Date/Time (sec)</documentation>
				</annotation>
				<restriction base="xsd:dateTime">
				</restriction>
			</simpleType>

			<simpleType name="docId">
				<annotation>
					<documentation>Document ID</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength fixed="true" value="16"/>
				</restriction>
			</simpleType>

			<simpleType name="metaDocuments">
				<annotation>
					<documentation>Document type</documentation>
				</annotation>
				<restriction base="cwf:metadataId">
				</restriction>
			</simpleType>

			<simpleType name="cwDynamicCT">
				<annotation>
					<documentation>Dynamic code table</documentation>
				</annotation>
				<restriction base="xsd:string">
				</restriction>
			</simpleType>

			<simpleType name="metaFinders">
				<annotation>
					<documentation>Finder type</documentation>
				</annotation>
				<restriction base="cwf:metadataId">
				</restriction>
			</simpleType>

			<simpleType name="metaDocumentsFQ">
				<annotation>
					<documentation>Fully qualified document type</documentation>
				</annotation>
				<restriction base="cwf:metadataId">
				</restriction>
			</simpleType>

			<simpleType name="interOperFQ">
				<annotation>
					<documentation>Fully qualified interface operation</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength fixed="true" value="256"/>
				</restriction>
			</simpleType>

			<simpleType name="guid">
				<annotation>
					<documentation>GUID</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength fixed="true" value="32"/>
				</restriction>
			</simpleType>

			<simpleType name="interOper">
				<annotation>
					<documentation>Interface operation</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength fixed="true" value="256"/>
				</restriction>
			</simpleType>

			<simpleType name="metaInterfaces">
				<annotation>
					<documentation>Interface type</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength fixed="true" value="256"/>
				</restriction>
			</simpleType>

			<simpleType name="languages">
				<annotation>
					<documentation>Language</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength fixed="true" value="5"/>
				</restriction>
			</simpleType>

			<simpleType name="metadataId">
				<annotation>
					<documentation>Metadata ID (string)</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength fixed="true" value="256"/>
				</restriction>
			</simpleType>

			<simpleType name="metadataVer">
				<annotation>
					<documentation>Metadata Version</documentation>
				</annotation>
				<restriction base="xsd:int">
					<totalDigits fixed="true" value="9"/>
				</restriction>
			</simpleType>

			<simpleType name="milestone">
				<annotation>
					<documentation>Milestone</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength fixed="true" value="10"/>
				</restriction>
			</simpleType>

			<simpleType name="module">
				<annotation>
					<documentation>Module</documentation>
				</annotation>
				<restriction base="xsd:int">
					<totalDigits fixed="true" value="2"/>
					<enumeration value="0">
						<annotation>
							<documentation>User Interface</documentation>
						</annotation>
					</enumeration>
					<enumeration value="1">
						<annotation>
							<documentation>Persistence</documentation>
						</annotation>
					</enumeration>
					<enumeration value="2">
						<annotation>
							<documentation>Data/System</documentation>
						</annotation>
					</enumeration>
					<enumeration value="3">
						<annotation>
							<documentation>Metadata</documentation>
						</annotation>
					</enumeration>
					<enumeration value="4">
						<annotation>
							<documentation>Process Engine</documentation>
						</annotation>
					</enumeration>
					<enumeration value="5">
						<annotation>
							<documentation>Javascript Interpreter</documentation>
						</annotation>
					</enumeration>
					<enumeration value="6">
						<annotation>
							<documentation>External Interface</documentation>
						</annotation>
					</enumeration>
					<enumeration value="7">
						<annotation>
							<documentation>DB Stored Procedure</documentation>
						</annotation>
					</enumeration>
					<enumeration value="8">
						<annotation>
							<documentation>User Profile</documentation>
						</annotation>
					</enumeration>
					<enumeration value="9">
						<annotation>
							<documentation>Testing</documentation>
						</annotation>
					</enumeration>
				</restriction>
			</simpleType>

			<simpleType name="iReference">
				<annotation>
					<documentation>Native reference</documentation>
				</annotation>
				<restriction base="cwf:sReference">
					<maxLength fixed="true" value="19"/>
				</restriction>
			</simpleType>

			<simpleType name="globalProcMetaId">
				<annotation>
					<documentation>Numeric global process type</documentation>
				</annotation>
				<restriction base="xsd:int">
					<totalDigits fixed="true" value="9"/>
				</restriction>
			</simpleType>

			<simpleType name="metaInterfacesId">
				<annotation>
					<documentation>Numeric interface type</documentation>
				</annotation>
				<restriction base="xsd:int">
					<totalDigits fixed="true" value="9"/>
				</restriction>
			</simpleType>

			<simpleType name="metadataIntId">
				<annotation>
					<documentation>Numeric metadata type</documentation>
				</annotation>
				<restriction base="xsd:int">
					<totalDigits fixed="true" value="9"/>
				</restriction>
			</simpleType>

			<simpleType name="orderMetaId">
				<annotation>
					<documentation>Numeric order type</documentation>
				</annotation>
				<restriction base="xsd:int">
					<totalDigits fixed="true" value="9"/>
				</restriction>
			</simpleType>

			<simpleType name="procMetaId">
				<annotation>
					<documentation>Numeric process type</documentation>
				</annotation>
				<restriction base="xsd:int">
					<totalDigits fixed="true" value="9"/>
				</restriction>
			</simpleType>

			<simpleType name="nReference">
				<annotation>
					<documentation>Numeric reference</documentation>
				</annotation>
				<restriction base="xsd:decimal">
				</restriction>
			</simpleType>

			<simpleType name="userProcMetaId">
				<annotation>
					<documentation>Numeric user process type</documentation>
				</annotation>
				<restriction base="xsd:int">
					<totalDigits fixed="true" value="9"/>
				</restriction>
			</simpleType>

			<simpleType name="optionalItems">
				<annotation>
					<documentation>Optional item(s)</documentation>
				</annotation>
				<restriction base="cwf:metadataId">
				</restriction>
			</simpleType>

			<simpleType name="orderId">
				<annotation>
					<documentation>Order ID</documentation>
				</annotation>
				<restriction base="cwf:docId">
				</restriction>
			</simpleType>

			<simpleType name="metaOrdAndWiz">
				<annotation>
					<documentation>Order or wizard type</documentation>
				</annotation>
				<restriction base="cwf:metadataId">
				</restriction>
			</simpleType>

			<simpleType name="metaOrders">
				<annotation>
					<documentation>Order type</documentation>
				</annotation>
				<restriction base="cwf:metadataId">
				</restriction>
			</simpleType>

			<simpleType name="participantOper">
				<annotation>
					<documentation>Participant operation</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength fixed="true" value="256"/>
				</restriction>
			</simpleType>

			<simpleType name="metaParticipants">
				<annotation>
					<documentation>Participant type</documentation>
				</annotation>
				<restriction base="cwf:metadataId">
				</restriction>
			</simpleType>

			<simpleType name="usersPerPriv">
				<annotation>
					<documentation>Participant user</documentation>
				</annotation>
				<restriction base="cwf:userId">
				</restriction>
			</simpleType>

			<simpleType name="priority">
				<annotation>
					<documentation>Priority</documentation>
				</annotation>
				<restriction base="xsd:int">
					<maxInclusive fixed="true" value="15"/>
					<minInclusive fixed="true" value="1"/>
					<totalDigits value="2"/>
				</restriction>
			</simpleType>

			<simpleType name="privilege">
				<annotation>
					<documentation>Privilege</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength fixed="true" value="16"/>
				</restriction>
			</simpleType>

			<simpleType name="processId">
				<annotation>
					<documentation>Process ID</documentation>
				</annotation>
				<restriction base="xsd:decimal">
					<totalDigits fixed="true" value="16"/>
				</restriction>
			</simpleType>

			<simpleType name="sReference">
				<annotation>
					<documentation>Reference</documentation>
				</annotation>
				<restriction base="xsd:string">
				</restriction>
			</simpleType>

			<simpleType name="globalScripts">
				<annotation>
					<documentation>Script</documentation>
				</annotation>
				<restriction base="cwf:metadataId">
				</restriction>
			</simpleType>

			<simpleType name="severity">
				<annotation>
					<documentation>Severity</documentation>
				</annotation>
				<restriction base="xsd:int">
					<totalDigits fixed="true" value="1"/>
					<enumeration value="0">
						<annotation>
							<documentation>Debug</documentation>
						</annotation>
					</enumeration>
					<enumeration value="1">
						<annotation>
							<documentation>Information</documentation>
						</annotation>
					</enumeration>
					<enumeration value="2">
						<annotation>
							<documentation>Warning</documentation>
						</annotation>
					</enumeration>
					<enumeration value="3">
						<annotation>
							<documentation>Error</documentation>
						</annotation>
					</enumeration>
					<enumeration value="4">
						<annotation>
							<documentation>Fatal Error</documentation>
						</annotation>
					</enumeration>
				</restriction>
			</simpleType>

			<simpleType name="cwDbEnum">
				<annotation>
					<documentation>Standard DB enumeration</documentation>
				</annotation>
				<restriction base="xsd:string">
				</restriction>
			</simpleType>

			<simpleType name="cwDbEnumName">
				<annotation>
					<documentation>Standard DB enumeration name</documentation>
				</annotation>
				<restriction base="xsd:string">
				</restriction>
			</simpleType>

			<simpleType name="state">
				<annotation>
					<documentation>State</documentation>
				</annotation>
				<restriction base="xsd:string">
					<length fixed="true" value="3"/>
				</restriction>
			</simpleType>

			<simpleType name="cwCreatedBy">
				<annotation>
					<documentation>System created by</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength fixed="true" value="64"/>
				</restriction>
			</simpleType>

			<simpleType name="cwCreated">
				<annotation>
					<documentation>System created timestamp</documentation>
				</annotation>
				<restriction base="xsd:dateTime">
				</restriction>
			</simpleType>

			<simpleType name="cwDocStamp">
				<annotation>
					<documentation>System doc stamp</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength fixed="true" value="9"/>
				</restriction>
			</simpleType>

			<simpleType name="cwTypeNo">
				<annotation>
					<documentation>System doc type number</documentation>
				</annotation>
				<restriction base="xsd:decimal">
					<totalDigits fixed="true" value="9"/>
				</restriction>
			</simpleType>

			<simpleType name="cwDocId">
				<annotation>
					<documentation>System document ID</documentation>
				</annotation>
				<restriction base="cwf:docId">
				</restriction>
			</simpleType>

			<simpleType name="cwDocType">
				<annotation>
					<documentation>System document type</documentation>
				</annotation>
				<restriction base="cwf:metadataId">
				</restriction>
			</simpleType>

			<simpleType name="sysGuid">
				<annotation>
					<documentation>System GUID</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength fixed="true" value="32"/>
				</restriction>
			</simpleType>

			<simpleType name="lastUpdatedDate">
				<annotation>
					<documentation>System last updated timestamp</documentation>
				</annotation>
				<restriction base="xsd:dateTime">
				</restriction>
			</simpleType>

			<simpleType name="sysMDVersionNo">
				<annotation>
					<documentation>System metadata version</documentation>
				</annotation>
				<restriction base="xsd:decimal">
					<totalDigits fixed="true" value="9"/>
				</restriction>
			</simpleType>

			<simpleType name="cwOrderCreationDate">
				<annotation>
					<documentation>System order creation timestamp</documentation>
				</annotation>
				<restriction base="xsd:dateTime">
				</restriction>
			</simpleType>

			<simpleType name="cwOrderId">
				<annotation>
					<documentation>System order ID</documentation>
				</annotation>
				<restriction base="cwf:docId">
				</restriction>
			</simpleType>

			<simpleType name="cwParentId">
				<annotation>
					<documentation>System parent ID</documentation>
				</annotation>
				<restriction base="cwf:docId">
				</restriction>
			</simpleType>

			<simpleType name="systemPrivileges">
				<annotation>
					<documentation>System Privileges</documentation>
				</annotation>
				<restriction base="cwf:privilege">
					<enumeration value="PMAdmin">
						<annotation>
							<documentation>Process Manager Administrator</documentation>
						</annotation>
					</enumeration>
					<enumeration value="UPAdmin">
						<annotation>
							<documentation>User Profile Administrator</documentation>
						</annotation>
					</enumeration>
					<enumeration value="WLAdmin">
						<annotation>
							<documentation>Worklist Administrator</documentation>
						</annotation>
					</enumeration>
					<enumeration value="RTAdmin">
						<annotation>
							<documentation>Runtime Administrator</documentation>
						</annotation>
					</enumeration>
					<enumeration value="CWApi">
						<annotation>
							<documentation>ConceptWave API Access</documentation>
						</annotation>
					</enumeration>
					<enumeration value="PRPriority">
						<annotation>
							<documentation>Set Process Priority</documentation>
						</annotation>
					</enumeration>
					<enumeration value="Everyone">
						<annotation>
							<documentation>Everyone</documentation>
						</annotation>
					</enumeration>
					<enumeration value="WGSelect">
						<annotation>
							<documentation>Workgroup Select</documentation>
						</annotation>
					</enumeration>
					<enumeration value="WDelegate">
						<annotation>
							<documentation>Delegate Task</documentation>
						</annotation>
					</enumeration>
					<enumeration value="WTakeOn">
						<annotation>
							<documentation>Take on Task</documentation>
						</annotation>
					</enumeration>
					<enumeration value="WGManager">
						<annotation>
							<documentation>Group Manager</documentation>
						</annotation>
					</enumeration>
					<enumeration value="CWAdminApp">
						<annotation>
							<documentation>Administration App</documentation>
						</annotation>
					</enumeration>
					<enumeration value="WReturn">
						<annotation>
							<documentation>Return Task</documentation>
						</annotation>
					</enumeration>
					<enumeration value="WGAvailable">
						<annotation>
							<documentation>Get Available</documentation>
						</annotation>
					</enumeration>
					<enumeration value="AddFavorite">
						<annotation>
							<documentation>Add Shared Favorites</documentation>
						</annotation>
					</enumeration>
					<enumeration value="DelFavorite">
						<annotation>
							<documentation>Delete Shared Favorites</documentation>
						</annotation>
					</enumeration>
					<enumeration value="ShowError">
						<annotation>
							<documentation>Show Error Details</documentation>
						</annotation>
					</enumeration>
				</restriction>
			</simpleType>

			<simpleType name="sysStoredVisualKey">
				<annotation>
					<documentation>System stored visual key</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength fixed="true" value="128"/>
				</restriction>
			</simpleType>

			<simpleType name="updatedBy">
				<annotation>
					<documentation>System updated by</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength fixed="true" value="64"/>
				</restriction>
			</simpleType>

			<simpleType name="userIdRef">
				<annotation>
					<documentation>User ID</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength fixed="true" value="64"/>
				</restriction>
			</simpleType>

			<simpleType name="userId">
				<annotation>
					<documentation>User ID (non ref)</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength fixed="true" value="64"/>
				</restriction>
			</simpleType>

			<simpleType name="metaUserParticipants">
				<annotation>
					<documentation>User participant type</documentation>
				</annotation>
				<restriction base="cwf:metadataId">
				</restriction>
			</simpleType>

			<simpleType name="xslFo">
				<annotation>
					<documentation>XslFo file</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength fixed="true" value="128"/>
				</restriction>
			</simpleType>

			<!-- Structures -->

		</schema>
	</types>

	<message name="CustomerInformationUpdate">
		<part name="CustomerInformationUpdate" type="ds_ws:CustomerInformationUpdate"/>
	</message>

	<message name="CustomerInformationUpdateAckWithFailure">
		<part name="CustomerInformationUpdateAckWithFailure" type="ds_ws:CustomerInformationUpdateAckWithFailure"/>
	</message>

	<message name="submitOrder">
		<part name="submitOrder" element="ds_ws:submitOrder"/>
	</message>

	<message name="submitOrderResponse">
		<part name="submitOrderResponse" element="ds_ws:submitOrderResponse"/>
	</message>

	<message name="updateOrder">
		<part name="updateOrder" element="ds_ws:updateOrder"/>
	</message>

	<message name="updateOrderResponse">
		<part name="updateOrderResponse" element="ds_ws:updateOrderResponse"/>
	</message>

	<message name="redliningOrderAcknowledgement">
		<part name="redliningOrderAcknowledgement" element="ds_ws:redliningOrderAcknowledgement"/>
	</message>

	<message name="redliningOrderAcknowledgementResponse">
		<part name="redliningOrderAcknowledgementResponse" element="ds_ws:redliningOrderAcknowledgementResponse"/>
	</message>

	<message name="quoteValidation">
		<part name="quoteValidation" element="ds_ws:quoteValidation"/>
	</message>

	<message name="quoteValidationResponse">
		<part name="quoteValidationResponse" element="ds_ws:quoteValidationResponse"/>
	</message>

	<message name="reportFailure">
		<part name="reportFailure" element="ds_ws:reportFailure"/>
	</message>

	<portType name="XngServicesPort">
		<operation name="customerInformationUpdate">
			<input message="tns:CustomerInformationUpdate"/>
			<output message="tns:CustomerInformationUpdateAckWithFailure"/>
		</operation>
		<operation name="submitOrder">
			<input message="tns:submitOrder"/>
			<output message="tns:submitOrderResponse"/>
		</operation>
		<operation name="updateOrder">
			<input message="tns:updateOrder"/>
			<output message="tns:updateOrderResponse"/>
		</operation>
		<operation name="redliningAcknowledgement">
			<input message="tns:redliningOrderAcknowledgement"/>
			<output message="tns:redliningOrderAcknowledgementResponse"/>
		</operation>
		<operation name="quoteValidation">
			<input message="tns:quoteValidation"/>
			<output message="tns:quoteValidationResponse"/>
		</operation>
		<operation name="reportFailure">
			<input message="tns:reportFailure"/>
		</operation>
	</portType>

	<binding name="XngCustomerServiceSoapBinding" type="tns:XngServicesPort">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
		<operation name="customerInformationUpdate">
			<soap:operation soapAction="customerInformationUpdate"/>
			<input>
				<soap:body parts="customer" use="encoded" namespace="http://com/granite/custom/stc/system/webservices"/>
			</input>
			<output>
				<soap:body use="encoded" namespace="http://com/granite/custom/stc/system/webservices"/>
			</output>
		</operation>
		<operation name="submitOrder">
			<soap:operation soapAction="submitOrder"/>
			<input>
				<soap:body use="literal" namespace="http://com/granite/custom/stc/system/webservices"/>
			</input>
			<output>
				<soap:body use="literal" namespace="http://com/granite/custom/stc/system/webservices"/>
			</output>
		</operation>
		<operation name="updateOrder">
			<soap:operation soapAction="updateOrder"/>
			<input>
				<soap:body use="literal" namespace="http://com/granite/custom/stc/system/webservices"/>
			</input>
			<output>
				<soap:body use="literal" namespace="http://com/granite/custom/stc/system/webservices"/>
			</output>
		</operation>
		<operation name="redliningAcknowledgement">
			<soap:operation soapAction="redliningAcknowledgement"/>
			<input>
				<soap:body use="literal" namespace="http://com/granite/custom/stc/system/webservices"/>
			</input>
			<output>
				<soap:body use="literal" namespace="http://com/granite/custom/stc/system/webservices"/>
			</output>
		</operation>
		<operation name="quoteValidation">
			<soap:operation soapAction="quoteValidation"/>
			<input>
				<soap:body use="literal" namespace="http://com/granite/custom/stc/system/webservices"/>
			</input>
			<output>
				<soap:body use="literal" namespace="http://com/granite/custom/stc/system/webservices"/>
			</output>
		</operation>
		<operation name="reportFailure">
			<soap:operation soapAction="reportFailure"/>
			<input>
				<soap:body use="literal" namespace="http://com/granite/custom/stc/system/webservices"/>
			</input>
		</operation>
	</binding>

	<service name="ifGranite_ws">
		<port name="XngCustomerServicePortSoapPort" binding="tns:XngCustomerServiceSoapBinding">
			<soap:address location="http://sparrow.cc.telcordia.com:8280/tgs-STCNMSOverlay-2.5-webservices/XngCustomerService"/>
		</port>
	</service>

</definitions>