OrderManager/HBU16/CWProject/resources/schema/cw.gen.ds_ws.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema targetNamespace="java:com.granite.custom.stc.transport.siebel"	
	xmlns="http://www.w3.org/2001/XMLSchema"	
	xmlns:ds_ws="java:com.granite.custom.stc.transport.siebel"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	xmlns:cwf="http://www.conceptwave.com/system"	
	xmlns:cwf_pm="http://www.conceptwave.com/products/pm">



	<import namespace="http://www.conceptwave.com/system" schemaLocation="cwf.xsd"/>
	<import namespace="http://www.conceptwave.com/products/pm" schemaLocation="cwf_pm.xsd"/>

	<annotation>
		<documentation>Data Structure &#091;SOAP&#093;</documentation>
		<appinfo>
			<metadata>STC Project</metadata>
			<created>Mon Sep 08 11:04:21 CEST 2008</created>
		</appinfo>
	</annotation>

	<!-- Data types and elements -->

	<simpleType name="circuitStatus">
		<annotation>
			<documentation>Circuit Status</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="50"/>
		</restriction>
	</simpleType>

	<simpleType name="string40">
		<annotation>
			<documentation>String 40</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="40"/>
		</restriction>
	</simpleType>

	<simpleType name="sector">
		<annotation>
			<documentation>Sector</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="25"/>
		</restriction>
	</simpleType>

	<simpleType name="orderType">
		<annotation>
			<documentation>Order Type</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="25"/>
		</restriction>
	</simpleType>

	<simpleType name="locationInterface">
		<annotation>
			<documentation>Location Interface</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="25"/>
		</restriction>
	</simpleType>

	<simpleType name="listSP">
		<annotation>
			<documentation>List of Service Parameters &#091;Button Confirmation&#093;</documentation>
		</annotation>
		<restriction base="ds_ws:serviceType">
			<enumeration value="VOIP">
				<annotation>
					<documentation>VOIP</documentation>
				</annotation>
			</enumeration>
			<enumeration value="HSI">
				<annotation>
					<documentation>HSI</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Other">
				<annotation>
					<documentation>Other</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="actionOnOrder">
		<annotation>
			<documentation>Action On Order &#091;DO NOT TOUCH&#093;</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="10"/>
			<enumeration value="Create">
				<annotation>
					<documentation>Create</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Update">
				<annotation>
					<documentation>Update</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="string250">
		<annotation>
			<documentation>String 250</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="250"/>
		</restriction>
	</simpleType>

	<simpleType name="string30">
		<annotation>
			<documentation>String 30</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="30"/>
		</restriction>
	</simpleType>

	<simpleType name="toBeProcessed">
		<annotation>
			<documentation>To Be Processed</documentation>
		</annotation>
		<restriction base="xsd:boolean">
		</restriction>
	</simpleType>

	<simpleType name="orderStatus">
		<annotation>
			<documentation>Order Status</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="50"/>
		</restriction>
	</simpleType>

	<simpleType name="invokeResultType">
		<annotation>
			<documentation>Invoke Result Type</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="20"/>
			<enumeration value="OK">
				<annotation>
					<documentation>OK</documentation>
				</annotation>
			</enumeration>
			<enumeration value="NOT_AVAILABLE_EAI">
				<annotation>
					<documentation>NOT_AVAILABLE_EAI</documentation>
				</annotation>
			</enumeration>
			<enumeration value="NOT_SUCCESS_EAI">
				<annotation>
					<documentation>NOT_SUCCESS_EAI</documentation>
				</annotation>
			</enumeration>
			<enumeration value="NOT_AVAILABLE_EXPD">
				<annotation>
					<documentation>NOT_AVAILABLE_EXPD</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="orderDomain">
		<annotation>
			<documentation>Order Domain</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="5"/>
		</restriction>
	</simpleType>

	<simpleType name="string100">
		<annotation>
			<documentation>String 100</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="100"/>
		</restriction>
	</simpleType>

	<simpleType name="string4000">
		<annotation>
			<documentation>String 4000</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="4000"/>
		</restriction>
	</simpleType>

	<simpleType name="eventType">
		<annotation>
			<documentation>Event Type</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="10"/>
			<enumeration value="WOSU">
				<annotation>
					<documentation>WOSU</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SIU">
				<annotation>
					<documentation>SIU</documentation>
				</annotation>
			</enumeration>
			<enumeration value="RLO">
				<annotation>
					<documentation>RLO</documentation>
				</annotation>
			</enumeration>
			<enumeration value="QA">
				<annotation>
					<documentation>QA</documentation>
				</annotation>
			</enumeration>
			<enumeration value="OCUA">
				<annotation>
					<documentation>OCUA</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CIUA">
				<annotation>
					<documentation>CIUA</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="serviceType">
		<annotation>
			<documentation>Service Type</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="25"/>
		</restriction>
	</simpleType>

	<simpleType name="locationAccessType">
		<annotation>
			<documentation>Location Access Type</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="100"/>
		</restriction>
	</simpleType>

	<simpleType name="string12">
		<annotation>
			<documentation>String 12</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="12"/>
		</restriction>
	</simpleType>

	<simpleType name="parentOrderNumber">
		<annotation>
			<documentation>Parent Order #</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="50"/>
		</restriction>
	</simpleType>

	<simpleType name="priority">
		<annotation>
			<documentation>Priority</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="25"/>
		</restriction>
	</simpleType>

	<simpleType name="businessUnit">
		<annotation>
			<documentation>Business Unit</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="50"/>
			<enumeration value="Home">
				<annotation>
					<documentation>Home</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Enterprise">
				<annotation>
					<documentation>Enterprise</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="string75">
		<annotation>
			<documentation>String 75</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="75"/>
		</restriction>
	</simpleType>

	<simpleType name="cctType">
		<annotation>
			<documentation>CCT Type</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="25"/>
		</restriction>
	</simpleType>

	<simpleType name="string60">
		<annotation>
			<documentation>String 60</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="60"/>
		</restriction>
	</simpleType>

	<simpleType name="integer5">
		<annotation>
			<documentation>Integer 5 &#091;Digit&#093;</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="5"/>
		</restriction>
	</simpleType>

	<simpleType name="alternativeSolution">
		<annotation>
			<documentation>Alternative Solution</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="25"/>
		</restriction>
	</simpleType>

	<simpleType name="toBeCancelled">
		<annotation>
			<documentation>To Be Cancelled</documentation>
		</annotation>
		<restriction base="xsd:boolean">
		</restriction>
	</simpleType>

	<simpleType name="string1000">
		<annotation>
			<documentation>String 1000</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>

	<simpleType name="interfaceName">
		<annotation>
			<documentation>Interface Name</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="100"/>
		</restriction>
	</simpleType>

	<simpleType name="string50">
		<annotation>
			<documentation>String 50</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="50"/>
		</restriction>
	</simpleType>

	<simpleType name="wires">
		<annotation>
			<documentation>Wires</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="25"/>
		</restriction>
	</simpleType>

	<simpleType name="internalOrderStatus">
		<annotation>
			<documentation>Internal Order Status</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="50"/>
			<enumeration value="Order Received">
				<annotation>
					<documentation>Order Received</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Waiting for Granite Response">
				<annotation>
					<documentation>Waiting for Granite Response</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Granite Communication FAILED">
				<annotation>
					<documentation>Granite Communication FAILED</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Granite Call SUCCESSFUL">
				<annotation>
					<documentation>Granite Call SUCCESSFUL</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Granite Call FAILURE">
				<annotation>
					<documentation>Granite Call FAILURE</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Order Archived (UOR)">
				<annotation>
					<documentation>Order Archived (Update Order Request)</documentation>
					<appinfo>
						<active>false</active>
					</appinfo>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="string25">
		<annotation>
			<documentation>String 25</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="25"/>
		</restriction>
	</simpleType>

	<!-- Structures -->

	<element name="siteInformationUpdateAcknowledgement">
		<complexType >
		<annotation>
			<documentation>siteInformationUpdateAcknowledgement</documentation>
		</annotation>
			<sequence>
				<element name="siteInformationUpdateAcknowledgement" minOccurs="1" maxOccurs="1" type="ds_ws:SiteInformationUpdateAcknowledgement"/>
			</sequence>
		</complexType>
	</element>

	<element name="quoteValidation">
		<complexType >
		<annotation>
			<documentation>Quote Validation &#091;HOME&#093;</documentation>
		</annotation>
			<sequence>
				<element name="message" minOccurs="1" maxOccurs="1" type="ds_ws:OrderMessage"/>
			</sequence>
		</complexType>
	</element>

	<complexType name="SiteInformationUpdateAcknowledgement">
		<annotation>
			<documentation>SiteInformationUpdateAcknowledgement</documentation>
		</annotation>
			<sequence>
				<element name="Acknowledgement" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="SiteID" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="BusinessUnit" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<element name="reportFailure">
		<complexType >
		<annotation>
			<documentation>reportFailure</documentation>
		</annotation>
			<sequence>
				<element name="failure" minOccurs="1" maxOccurs="1" type="ds_ws:Failure"/>
			</sequence>
		</complexType>
	</element>

	<complexType name="siteInformationUpdateAcknowledgementResponse">
		<annotation>
			<documentation>siteInformationUpdateAcknowledgementResponse</documentation>
		</annotation>
			<sequence>
				<element name="returns" minOccurs="1" maxOccurs="1" type="ds_ws:SiteInformationUpdateAcknowledgementWithFailure"/>
			</sequence>
		</complexType>

	<element name="submitOrderResponse">
		<complexType >
		<annotation>
			<documentation>submitOrderResponse</documentation>
		</annotation>
			<sequence>
				<element name="returns" minOccurs="1" maxOccurs="1" type="ds_ws:OrderAcknowledgementWithFailure"/>
			</sequence>
		</complexType>
	</element>

	<complexType name="Failure">
		<annotation>
			<documentation>Failure</documentation>
		</annotation>
			<sequence>
				<element name="ErrorCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="ErrorDescription" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="ErrorTime" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="ErrorType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="FunctionName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="ObjectId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="ProcessInstanceld" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="SourceErrorCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="Status" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="SystemName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="TargetRecored" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="UserId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="OrderAcknowledgement">
		<annotation>
			<documentation>OrderAcknowledgement</documentation>
		</annotation>
			<sequence>
				<element name="Remarks" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="OrderNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="XngOrderNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="BusinessUnit" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="CircuitId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="SiteInformationUpdateAcknowledgementWithFailure">
		<annotation>
			<documentation>SiteInformationUpdateAcknowledgementWithFailure</documentation>
		</annotation>
			<sequence>
				<element name="Acknowledgement" minOccurs="1" maxOccurs="1" type="ds_ws:SiteInformationUpdateAcknowledgement"/>
				<element name="Failure" minOccurs="1" maxOccurs="1" type="ds_ws:Failure"/>
			</sequence>
		</complexType>

	<complexType name="NameValue">
		<annotation>
			<documentation>NameValue</documentation>
		</annotation>
			<sequence>
				<element name="Name" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="Value" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<element name="submitOrder">
		<complexType >
		<annotation>
			<documentation>Submit Order &#091;HOME&#093;</documentation>
		</annotation>
			<sequence>
				<element name="message" minOccurs="1" maxOccurs="1" type="ds_ws:OrderMessage"/>
			</sequence>
		</complexType>
	</element>

	<complexType name="ServiceRequest">
		<annotation>
			<documentation>Service Request &#091;HOME&#093;</documentation>
		</annotation>
			<sequence>
				<element name="ServiceType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="ServiceNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="ServiceDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
				<element name="MaxBandwidth" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="Failure" minOccurs="1" maxOccurs="1" type="ds_ws:Failure"/>
				<element name="Neid" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="OrderRowItemID" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="ServiceParameters">
		<annotation>
			<documentation>Service Parameters &#091;HOME&#093;</documentation>
		</annotation>
			<sequence>
				<element name="CreationDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
				<element name="NameValue" minOccurs="0" maxOccurs="unbounded" type="ds_ws:NameValue"/>
				<element name="OldServiceNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="ServiceDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
				<element name="ServiceDescription" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="ServiceType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="ServiceNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="PlateID" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="OldPlateID" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="UnitNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="OldUnitNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="OrderRowItemID" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="QuoteAcknowledgement">
		<annotation>
			<documentation>Quote Acknowledgement &#091;HOME&#093;</documentation>
		</annotation>
			<sequence>
				<element name="CircuitRemarks" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="OrderNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="ValidationResponse" minOccurs="0" maxOccurs="1" type="ds_ws:ValidationResponse"/>
			</sequence>
		</complexType>

	<element name="quoteValidationResponse">
		<complexType >
		<annotation>
			<documentation>Quote Validation Response &#091;HOME&#093;</documentation>
		</annotation>
			<sequence>
				<element name="returns" minOccurs="1" maxOccurs="1" type="ds_ws:QuoteAcknowledgementWithFailure"/>
			</sequence>
		</complexType>
	</element>

	<complexType name="QuoteAcknowledgementWithFailure">
		<annotation>
			<documentation>Quote Acknowledgement With Failure &#091;HOME&#093;</documentation>
		</annotation>
			<sequence>
				<element name="Failure" minOccurs="1" maxOccurs="1" type="ds_ws:Failure"/>
				<element name="QuoteAcknowledgement" minOccurs="1" maxOccurs="1" type="ds_ws:QuoteAcknowledgement"/>
			</sequence>
		</complexType>

	<complexType name="ValidationResponse">
		<annotation>
			<documentation>Validation Response &#091;HOME&#093;</documentation>
		</annotation>
			<sequence>
				<element name="Services" minOccurs="0" maxOccurs="unbounded" type="ds_ws:ServiceRequest"/>
			</sequence>
		</complexType>

	<element name="updateOrderResponse">
		<complexType >
		<annotation>
			<documentation>updateOrderResponse</documentation>
		</annotation>
			<sequence>
				<element name="returns" minOccurs="1" maxOccurs="1" type="ds_ws:OrderAcknowledgementWithFailure"/>
			</sequence>
		</complexType>
	</element>

	<complexType name="OrderMessage">
		<annotation>
			<documentation>Order Message &#091;HOME&#093;</documentation>
		</annotation>
			<sequence>
				<element name="AccountNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="AlternativeSolution" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="Bandwidth" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="CctType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="CircuitNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="CreatedBy" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="CreationDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
				<element name="CustomerIDNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="FictBillingNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="IcmsSONumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="OldCircuitNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="OrderNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="OrderStatus" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="OrderType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="Priority" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="ProjectId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="ReferenceTelNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="Remarks" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="ServiceDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
				<element name="ServiceDescription" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="ServiceParameters" minOccurs="0" maxOccurs="unbounded" type="ds_ws:ServiceParameters"/>
				<element name="ServiceType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="Wires" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="CustomerName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="CustomerType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="CustomerContact" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="TbPortNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="BusinessUnit" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="CustomerIDType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="CustomerNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="ReservationNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="ReservationExpiry" minOccurs="1" maxOccurs="1" type="xsd:integer"/>
				<element name="OrderDomain" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="OrderAcknowledgementWithFailure">
		<annotation>
			<documentation>OrderAcknowledgementWithFailure</documentation>
		</annotation>
			<sequence>
				<element name="Failure" minOccurs="1" maxOccurs="1" type="ds_ws:Failure"/>
				<element name="OrderAcknowledgement" minOccurs="1" maxOccurs="1" type="ds_ws:OrderAcknowledgement"/>
			</sequence>
		</complexType>

	<element name="updateOrder">
		<complexType >
		<annotation>
			<documentation>Update Order &#091;HOME&#093;</documentation>
		</annotation>
			<sequence>
				<element name="message" minOccurs="1" maxOccurs="1" type="ds_ws:OrderMessage"/>
			</sequence>
		</complexType>
	</element>

	<!-- Documents -->

	<complexType name="orderAckWithFailure_ARCHIVE">
		<annotation>
			<documentation>OrderAckWithFailure - ARCHIVE</documentation>
		</annotation>
			<sequence>
				<element name="ErrorCode" type="ds_ws:string100"/>
				<element name="ErrorDescription" type="ds_ws:string4000"/>
				<element name="ErrorTime" type="ds_ws:string40"/>
				<element name="ErrorType" type="ds_ws:string25"/>
				<element name="FunctionName" type="xsd:string"/>
				<element name="ObjectId" type="ds_ws:string100"/>
				<element name="ProcessInstanceld" type="ds_ws:string100"/>
				<element name="SourceErrorCode" type="ds_ws:string100"/>
				<element name="Status" type="ds_ws:string50"/>
				<element name="SystemName" type="ds_ws:string25"/>
				<element name="TargetRecored" type="ds_ws:string100"/>
				<element name="UserId" type="ds_ws:string100"/>
				<element name="Remarks" type="ds_ws:string4000"/>
				<element name="OrderNumber" type="ds_ws:string50"/>
				<element name="XngOrderNumber" type="ds_ws:string50"/>
				<element name="BusinessUnit" type="ds_ws:string50"/>
				<element name="cwDocStamp" type="cwf:cwDocStamp"/>
				<element name="lastUpdatedDate" type="cwf:lastUpdatedDate"/>
				<element name="cwOrderCreationDate" type="cwf:cwOrderCreationDate"/>
				<element name="cwOrderId" type="cwf:cwOrderId"/>
				<element name="cwParentId" type="cwf:cwParentId"/>
				<element name="updatedBy" type="cwf:updatedBy"/>
				<element name="cwDocId" type="cwf:cwDocId"/>
				<element name="whenArchived" type="xsd:dateTime"/>
			</sequence>
		</complexType>

	<complexType name="genericOutput_String">
		<annotation>
			<documentation>Generic Output: String &#091;SQL query&#093;</documentation>
		</annotation>
			<sequence>
				<element name="result" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="details_nameValue">
		<annotation>
			<documentation>Details: Name Value</documentation>
		</annotation>
			<sequence>
				<element name="name" type="ds_ws:string100"/>
				<element name="value" type="ds_ws:string4000"/>
				<element name="cwDocStamp" type="cwf:cwDocStamp"/>
				<element name="cwDocId" type="cwf:cwDocId"/>
				<element name="lastUpdatedDate" type="cwf:lastUpdatedDate"/>
				<element name="cwOrderCreationDate" type="cwf:cwOrderCreationDate"/>
				<element name="cwOrderId" type="cwf:cwOrderId"/>
				<element name="cwParentId" type="cwf:cwParentId"/>
				<element name="updatedBy" type="cwf:updatedBy"/>
			</sequence>
		</complexType>

	<complexType name="details_serviceParameters">
		<annotation>
			<documentation>Details: Service Parameters</documentation>
		</annotation>
			<sequence>
				<element name="creationDate" type="cwf:date"/>
				<element name="serviceNumber" type="ds_ws:string50"/>
				<element name="oldServiceNumber" type="ds_ws:string50"/>
				<element name="serviceDate" type="cwf:date"/>
				<element name="serviceDescription" type="ds_ws:string1000"/>
				<element name="serviceType" type="ds_ws:serviceType"/>
				<element name="cwDocStamp" type="cwf:cwDocStamp"/>
				<element name="cwDocId" type="cwf:cwDocId"/>
				<element name="lastUpdatedDate" type="cwf:lastUpdatedDate"/>
				<element name="cwOrderCreationDate" type="cwf:cwOrderCreationDate"/>
				<element name="cwOrderId" type="cwf:cwOrderId"/>
				<element name="cwParentId" type="cwf:cwParentId"/>
				<element name="updatedBy" type="cwf:updatedBy"/>
				<element name="serviceStatus" type="ds_ws:string50"/>
				<element name="attributeCSC" type="xsd:string"/>
				<element name="attributeRatePlan" type="xsd:string"/>
				<element name="attributeSuppCodes" type="xsd:string"/>
				<element name="attributeDownStreamBW" type="xsd:string"/>
				<element name="attributeUpStreamBW" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="details_orderMessage">
		<annotation>
			<documentation>Details: Order Message</documentation>
		</annotation>
			<sequence>
				<element name="accountNumber" type="ds_ws:string50"/>
				<element name="alternativeSolution" type="ds_ws:alternativeSolution"/>
				<element name="bandwidth" type="ds_ws:string30"/>
				<element name="cctType" type="ds_ws:cctType"/>
				<element name="circuitNumber" type="ds_ws:string100"/>
				<element name="createdBy" type="ds_ws:string50"/>
				<element name="creationDate" type="cwf:date"/>
				<element name="customerIDNumber" type="ds_ws:string50"/>
				<element name="fictBillingNumber" type="ds_ws:string50"/>
				<element name="icmsSONumber" type="ds_ws:string12"/>
				<element name="locationAAccessCircuit" type="ds_ws:string50"/>
				<element name="locationAAccessType" type="ds_ws:locationAccessType"/>
				<element name="locationACCLICode" type="ds_ws:string50"/>
				<element name="locationACity" type="ds_ws:string60"/>
				<element name="locationAContactAddress" type="ds_ws:string50"/>
				<element name="locationAContactEmail" type="ds_ws:string50"/>
				<element name="locationAContactName" type="ds_ws:string50"/>
				<element name="locationAContactTel" type="ds_ws:string50"/>
				<element name="locationAExchangeSwitchCode" type="ds_ws:string50"/>
				<element name="locationAInterface" type="ds_ws:locationInterface"/>
				<element name="locationAJVCode" type="ds_ws:string40"/>
				<element name="locationAPlateID" type="ds_ws:string50"/>
				<element name="locationARemarks" type="ds_ws:string50"/>
				<element name="locationBAccessCircuit" type="ds_ws:string50"/>
				<element name="locationBAccessType" type="ds_ws:locationAccessType"/>
				<element name="locationBCCLICode" type="ds_ws:string50"/>
				<element name="locationBCity" type="ds_ws:string60"/>
				<element name="locationBContactAddress" type="ds_ws:string50"/>
				<element name="locationBContactEmail" type="ds_ws:string50"/>
				<element name="locationBContactName" type="ds_ws:string50"/>
				<element name="locationBContactTel" type="ds_ws:string50"/>
				<element name="locationBExchangeSwitchCode" type="ds_ws:string50"/>
				<element name="locationBInterface" type="ds_ws:locationInterface"/>
				<element name="locationBJVCode" type="ds_ws:string40"/>
				<element name="locationBPlateID" type="ds_ws:string50"/>
				<element name="locationBRemarks" type="ds_ws:string50"/>
				<element name="oldCircuitNumber" type="ds_ws:string100"/>
				<element name="orderNumber" type="ds_ws:string50"/>
				<element name="orderStatus" type="ds_ws:orderStatus"/>
				<element name="orderType" type="ds_ws:orderType"/>
				<element name="priority" type="ds_ws:priority"/>
				<element name="projectId" type="ds_ws:string50"/>
				<element name="referenceTelNumber" type="ds_ws:string50"/>
				<element name="remarks" type="ds_ws:string4000"/>
				<element name="serviceDate" type="cwf:date"/>
				<element name="serviceDescription" type="ds_ws:string1000"/>
				<element name="serviceType" type="ds_ws:serviceType"/>
				<element name="wires" type="ds_ws:wires"/>
				<element name="customerName" type="ds_ws:string60"/>
				<element name="customerType" type="ds_ws:string50"/>
				<element name="customerContact" type="ds_ws:string50"/>
				<element name="plateID" type="ds_ws:string50"/>
				<element name="oldPlateId" type="ds_ws:string50"/>
				<element name="tbPortNumber" type="ds_ws:string50"/>
				<element name="cwDocStamp" type="cwf:cwDocStamp"/>
				<element name="cwDocId" type="cwf:cwDocId"/>
				<element name="lastUpdatedDate" type="cwf:lastUpdatedDate"/>
				<element name="cwOrderCreationDate" type="cwf:cwOrderCreationDate"/>
				<element name="cwOrderId" type="cwf:cwOrderId"/>
				<element name="cwParentId" type="cwf:cwParentId"/>
				<element name="updatedBy" type="cwf:updatedBy"/>
				<element name="internalOrderStatus" type="ds_ws:internalOrderStatus"/>
				<element name="circuitStatus" type="ds_ws:circuitStatus"/>
				<element name="unitNumber" type="ds_ws:string50"/>
				<element name="oldUnitNumber" type="ds_ws:string50"/>
				<element name="businessUnit" type="ds_ws:businessUnit"/>
				<element name="customerIDType" type="ds_ws:string50"/>
				<element name="customerNumber" type="ds_ws:string50"/>
				<element name="inHold" type="xsd:boolean"/>
				<element name="actionOnOrder" type="ds_ws:actionOnOrder"/>
				<element name="reservationNumber" type="ds_ws:string50"/>
				<element name="reservationExpiry" type="ds_ws:integer5"/>
				<element name="dialogSizeX" type="xsd:integer"/>
				<element name="dialogSizeY" type="xsd:integer"/>
			</sequence>
		</complexType>

	<complexType name="details_orderMessage_HOME">
		<annotation>
			<documentation>Details: Order Message &#091;HOME&#093;</documentation>
		</annotation>
			<sequence>
				<element name="accountNumber" type="ds_ws:string50"/>
				<element name="alternativeSolution" type="ds_ws:alternativeSolution"/>
				<element name="bandwidth" type="ds_ws:string30"/>
				<element name="cctType" type="ds_ws:cctType"/>
				<element name="circuitNumber" type="ds_ws:string100"/>
				<element name="createdBy" type="ds_ws:string50"/>
				<element name="creationDate" type="cwf:date"/>
				<element name="customerIDNumber" type="ds_ws:string50"/>
				<element name="fictBillingNumber" type="ds_ws:string50"/>
				<element name="icmsSONumber" type="ds_ws:string12"/>
				<element name="oldCircuitNumber" type="ds_ws:string100"/>
				<element name="orderNumber" type="ds_ws:string50"/>
				<element name="orderStatus" type="ds_ws:orderStatus"/>
				<element name="orderType" type="ds_ws:orderType"/>
				<element name="priority" type="ds_ws:priority"/>
				<element name="projectId" type="ds_ws:string50"/>
				<element name="referenceTelNumber" type="ds_ws:string50"/>
				<element name="remarks" type="ds_ws:string4000"/>
				<element name="serviceDate" type="cwf:date"/>
				<element name="serviceDescription" type="ds_ws:string1000"/>
				<element name="serviceType" type="ds_ws:serviceType"/>
				<element name="wires" type="ds_ws:wires"/>
				<element name="customerName" type="ds_ws:string250"/>
				<element name="customerType" type="ds_ws:string50"/>
				<element name="customerContact" type="ds_ws:string50"/>
				<element name="tbPortNumber" type="ds_ws:string50"/>
				<element name="cwDocStamp" type="cwf:cwDocStamp"/>
				<element name="cwDocId" type="cwf:cwDocId"/>
				<element name="lastUpdatedDate" type="cwf:lastUpdatedDate"/>
				<element name="cwOrderCreationDate" type="cwf:cwOrderCreationDate"/>
				<element name="cwOrderId" type="cwf:cwOrderId"/>
				<element name="cwParentId" type="cwf:cwParentId"/>
				<element name="updatedBy" type="cwf:updatedBy"/>
				<element name="internalOrderStatus" type="ds_ws:internalOrderStatus"/>
				<element name="circuitStatus" type="ds_ws:circuitStatus"/>
				<element name="businessUnit" type="ds_ws:businessUnit"/>
				<element name="customerIDType" type="ds_ws:string50"/>
				<element name="customerNumber" type="ds_ws:string50"/>
				<element name="inHold" type="xsd:boolean"/>
				<element name="actionOnOrder" type="ds_ws:actionOnOrder"/>
				<element name="commonPlateId" type="ds_ws:string50"/>
				<element name="parentOrderNumber" type="ds_ws:parentOrderNumber"/>
				<element name="commonServiceNumber" type="ds_ws:string50"/>
				<element name="toBeSending" type="xsd:boolean"/>
				<element name="reservationNumber" type="ds_ws:string50"/>
				<element name="reservationExpiry" type="ds_ws:integer5"/>
				<element name="completionDate" type="xsd:dateTime"/>
				<element name="orderDomain" type="ds_ws:orderDomain"/>
				<element name="dialogSizeX" type="xsd:integer"/>
				<element name="dialogSizeY" type="xsd:integer"/>
				<element name="alreadyCancelled" type="xsd:boolean"/>
			</sequence>
		</complexType>

	<complexType name="searchGraniteEventStorage">
		<annotation>
			<documentation>Search Granite Event Storage</documentation>
		</annotation>
			<sequence>
				<element name="cwDocId" type="cwf:cwDocId"/>
				<element name="insertedDate" type="xsd:dateTime"/>
				<element name="lastProcessesDate" type="xsd:dateTime"/>
				<element name="eventType" type="ds_ws:eventType"/>
			</sequence>
		</complexType>

	<complexType name="details_serviceParameters_HOME">
		<annotation>
			<documentation>Details: Service Parameters &#091;HOME&#093;</documentation>
		</annotation>
			<sequence>
				<element name="creationDate" type="cwf:date"/>
				<element name="serviceNumber" type="ds_ws:string50"/>
				<element name="oldServiceNumber" type="ds_ws:string50"/>
				<element name="serviceDate" type="cwf:date"/>
				<element name="serviceDescription" type="ds_ws:string1000"/>
				<element name="serviceType" type="ds_ws:serviceType"/>
				<element name="cwDocStamp" type="cwf:cwDocStamp"/>
				<element name="cwDocId" type="cwf:cwDocId"/>
				<element name="lastUpdatedDate" type="cwf:lastUpdatedDate"/>
				<element name="cwOrderCreationDate" type="cwf:cwOrderCreationDate"/>
				<element name="cwOrderId" type="cwf:cwOrderId"/>
				<element name="cwParentId" type="cwf:cwParentId"/>
				<element name="updatedBy" type="cwf:updatedBy"/>
				<element name="serviceStatus" type="ds_ws:string50"/>
				<element name="attributeCSC" type="xsd:string"/>
				<element name="attributeRatePlan" type="xsd:string"/>
				<element name="attributeSuppCodes" type="xsd:string"/>
				<element name="attributeDownStreamBW" type="xsd:string"/>
				<element name="attributeUpStreamBW" type="xsd:string"/>
				<element name="plateId" type="ds_ws:string50"/>
				<element name="oldPlateId" type="ds_ws:string50"/>
				<element name="unitNumber" type="ds_ws:string50"/>
				<element name="oldUnitNumber" type="ds_ws:string50"/>
				<element name="orderRowItemID" type="ds_ws:string50"/>
				<element name="toBeCancelled" type="ds_ws:toBeCancelled"/>
				<element name="toBeProcessed" type="ds_ws:toBeProcessed"/>
			</sequence>
		</complexType>

	<complexType name="archivableOrders">
		<annotation>
			<documentation>Archivable Orders</documentation>
		</annotation>
			<sequence>
				<element name="orderNumber" type="ds_ws:string50"/>
				<element name="parentOrderNumber" type="ds_ws:string50"/>
				<element name="cwDocId" type="cwf:cwDocId"/>
				<element name="whenAdded" type="xsd:dateTime"/>
			</sequence>
		</complexType>

	<complexType name="OrderAcknowledgementWithFailureDoc">
		<annotation>
			<documentation>OrderAcknowledgementWithFailureDoc</documentation>
		</annotation>
			<sequence>
				<element name="ErrorCode" type="ds_ws:string100"/>
				<element name="ErrorDescription" type="ds_ws:string4000"/>
				<element name="ErrorTime" type="ds_ws:string40"/>
				<element name="ErrorType" type="ds_ws:string25"/>
				<element name="FunctionName" type="xsd:string"/>
				<element name="ObjectId" type="ds_ws:string100"/>
				<element name="ProcessInstanceld" type="ds_ws:string100"/>
				<element name="SourceErrorCode" type="ds_ws:string100"/>
				<element name="Status" type="ds_ws:string50"/>
				<element name="SystemName" type="ds_ws:string25"/>
				<element name="TargetRecored" type="ds_ws:string100"/>
				<element name="UserId" type="ds_ws:string100"/>
				<element name="Remarks" type="ds_ws:string4000"/>
				<element name="OrderNumber" type="ds_ws:string50"/>
				<element name="XngOrderNumber" type="ds_ws:string50"/>
				<element name="BusinessUnit" type="ds_ws:string50"/>
				<element name="cwDocStamp" type="cwf:cwDocStamp"/>
				<element name="lastUpdatedDate" type="cwf:lastUpdatedDate"/>
				<element name="cwOrderCreationDate" type="cwf:cwOrderCreationDate"/>
				<element name="cwOrderId" type="cwf:cwOrderId"/>
				<element name="cwParentId" type="cwf:cwParentId"/>
				<element name="updatedBy" type="cwf:updatedBy"/>
				<element name="cwDocId" type="cwf:cwDocId"/>
			</sequence>
		</complexType>

	<complexType name="serviceType_CctTypeToGraniteCctType">
		<annotation>
			<documentation>ServiceType &amp; CctType To Granite CctType</documentation>
		</annotation>
			<sequence>
				<element name="serviceType" type="ds_ws:serviceType"/>
				<element name="cctType" type="ds_ws:cctType"/>
				<element name="graniteCctType" type="ds_ws:cctType"/>
			</sequence>
		</complexType>

	<complexType name="details_serviceParameters_HOME_ARCHIVE">
		<annotation>
			<documentation>Details: Service Parameters &#091;HOME&#093; - ARCHIVE</documentation>
		</annotation>
			<sequence>
				<element name="creationDate" type="cwf:date"/>
				<element name="serviceNumber" type="ds_ws:string50"/>
				<element name="oldServiceNumber" type="ds_ws:string50"/>
				<element name="serviceDate" type="cwf:date"/>
				<element name="serviceDescription" type="ds_ws:string1000"/>
				<element name="serviceType" type="ds_ws:serviceType"/>
				<element name="cwDocStamp" type="cwf:cwDocStamp"/>
				<element name="cwDocId" type="cwf:cwDocId"/>
				<element name="lastUpdatedDate" type="cwf:lastUpdatedDate"/>
				<element name="cwOrderCreationDate" type="cwf:cwOrderCreationDate"/>
				<element name="cwOrderId" type="cwf:cwOrderId"/>
				<element name="cwParentId" type="cwf:cwParentId"/>
				<element name="updatedBy" type="cwf:updatedBy"/>
				<element name="serviceStatus" type="ds_ws:string50"/>
				<element name="attributeCSC" type="xsd:string"/>
				<element name="attributeRatePlan" type="xsd:string"/>
				<element name="attributeSuppCodes" type="xsd:string"/>
				<element name="attributeDownStreamBW" type="xsd:string"/>
				<element name="attributeUpStreamBW" type="xsd:string"/>
				<element name="plateId" type="ds_ws:string50"/>
				<element name="oldPlateId" type="ds_ws:string50"/>
				<element name="unitNumber" type="ds_ws:string50"/>
				<element name="oldUnitNumber" type="ds_ws:string50"/>
				<element name="orderRowItemID" type="ds_ws:string50"/>
				<element name="toBeCancelled" type="ds_ws:toBeCancelled"/>
				<element name="toBeProcessed" type="ds_ws:toBeProcessed"/>
				<element name="whenArchived" type="xsd:dateTime"/>
			</sequence>
		</complexType>

	<complexType name="search_SP">
		<annotation>
			<documentation>Search Service Parameters &#091;Button Confirmation&#093;</documentation>
		</annotation>
			<sequence>
				<element name="listSP" type="ds_ws:listSP"/>
			</sequence>
		</complexType>

	<complexType name="generic_CheckWindow">
		<annotation>
			<documentation>Generic: Check Window &#091;Button Confirmation&#093;</documentation>
		</annotation>
			<sequence>
				<element name="text" type="ds_ws:string4000"/>
				<element name="dialogSizeX" type="xsd:integer"/>
				<element name="dialogSizeY" type="xsd:integer"/>
			</sequence>
		</complexType>

	<complexType name="details_orderMessage_HOME_ARCHIVE">
		<annotation>
			<documentation>Details: Order Message &#091;HOME&#093; - ARCHIVE</documentation>
		</annotation>
			<sequence>
				<element name="accountNumber" type="ds_ws:string50"/>
				<element name="alternativeSolution" type="ds_ws:alternativeSolution"/>
				<element name="bandwidth" type="ds_ws:string30"/>
				<element name="cctType" type="ds_ws:cctType"/>
				<element name="circuitNumber" type="ds_ws:string100"/>
				<element name="createdBy" type="ds_ws:string50"/>
				<element name="creationDate" type="cwf:date"/>
				<element name="customerIDNumber" type="ds_ws:string50"/>
				<element name="fictBillingNumber" type="ds_ws:string50"/>
				<element name="icmsSONumber" type="ds_ws:string12"/>
				<element name="oldCircuitNumber" type="ds_ws:string100"/>
				<element name="orderNumber" type="ds_ws:string50"/>
				<element name="orderStatus" type="ds_ws:orderStatus"/>
				<element name="orderType" type="ds_ws:orderType"/>
				<element name="priority" type="ds_ws:priority"/>
				<element name="projectId" type="ds_ws:string50"/>
				<element name="referenceTelNumber" type="ds_ws:string50"/>
				<element name="remarks" type="ds_ws:string4000"/>
				<element name="serviceDate" type="cwf:date"/>
				<element name="serviceDescription" type="ds_ws:string1000"/>
				<element name="serviceType" type="ds_ws:serviceType"/>
				<element name="wires" type="ds_ws:wires"/>
				<element name="customerName" type="ds_ws:string250"/>
				<element name="customerType" type="ds_ws:string50"/>
				<element name="customerContact" type="ds_ws:string50"/>
				<element name="tbPortNumber" type="ds_ws:string50"/>
				<element name="cwDocStamp" type="cwf:cwDocStamp"/>
				<element name="cwDocId" type="cwf:cwDocId"/>
				<element name="lastUpdatedDate" type="cwf:lastUpdatedDate"/>
				<element name="cwOrderCreationDate" type="cwf:cwOrderCreationDate"/>
				<element name="cwOrderId" type="cwf:cwOrderId"/>
				<element name="cwParentId" type="cwf:cwParentId"/>
				<element name="updatedBy" type="cwf:updatedBy"/>
				<element name="internalOrderStatus" type="ds_ws:internalOrderStatus"/>
				<element name="circuitStatus" type="ds_ws:circuitStatus"/>
				<element name="businessUnit" type="ds_ws:businessUnit"/>
				<element name="customerIDType" type="ds_ws:string50"/>
				<element name="customerNumber" type="ds_ws:string50"/>
				<element name="inHold" type="xsd:boolean"/>
				<element name="actionOnOrder" type="ds_ws:actionOnOrder"/>
				<element name="commonPlateId" type="ds_ws:string50"/>
				<element name="parentOrderNumber" type="ds_ws:parentOrderNumber"/>
				<element name="commonServiceNumber" type="ds_ws:string50"/>
				<element name="toBeSending" type="xsd:boolean"/>
				<element name="reservationNumber" type="ds_ws:string50"/>
				<element name="reservationExpiry" type="ds_ws:integer5"/>
				<element name="completionDate" type="xsd:dateTime"/>
				<element name="orderDomain" type="ds_ws:orderDomain"/>
				<element name="dialogSizeX" type="xsd:integer"/>
				<element name="dialogSizeY" type="xsd:integer"/>
				<element name="whenArchived" type="xsd:dateTime"/>
				<element name="alreadyCancelled" type="xsd:boolean"/>
			</sequence>
		</complexType>

	<complexType name="graniteEventStorage">
		<annotation>
			<documentation>Granite Event Storage</documentation>
		</annotation>
			<sequence>
				<element name="cwDocId" type="cwf:cwDocId"/>
				<element name="insertedDate" type="xsd:dateTime"/>
				<element name="lastProcessesDate" type="xsd:dateTime"/>
				<element name="eventType" type="ds_ws:eventType"/>
				<element name="eventData" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="SearchOrderTypeSvcTypeSvcNum">
		<annotation>
			<documentation>Search Order by Order Type Service Type Service Number</documentation>
		</annotation>
			<sequence>
				<element name="orderType" type="ds_ws:orderType"/>
				<element name="serviceNumber" type="ds_ws:string50"/>
				<element name="serviceType" type="ds_ws:serviceType"/>
				<element name="serviceStatus" type="ds_ws:string50"/>
			</sequence>
		</complexType>

	<complexType name="details_nameValue_archive">
		<annotation>
			<documentation>Details: Name Value - ARCHIVE</documentation>
		</annotation>
			<sequence>
				<element name="name" type="ds_ws:string100"/>
				<element name="value" type="ds_ws:string4000"/>
				<element name="cwDocStamp" type="cwf:cwDocStamp"/>
				<element name="cwDocId" type="cwf:cwDocId"/>
				<element name="lastUpdatedDate" type="cwf:lastUpdatedDate"/>
				<element name="cwOrderCreationDate" type="cwf:cwOrderCreationDate"/>
				<element name="cwOrderId" type="cwf:cwOrderId"/>
				<element name="cwParentId" type="cwf:cwParentId"/>
				<element name="updatedBy" type="cwf:updatedBy"/>
				<element name="whenArchived" type="xsd:dateTime"/>
			</sequence>
		</complexType>

	<complexType name="search_ChangeOrderNumber">
		<annotation>
			<documentation>Search Change &#34;Order #&#34; &#091;Button Confirmation&#093;</documentation>
		</annotation>
			<sequence>
				<element name="orderNumber" type="ds_ws:string12"/>
				<element name="oldOrderNumber" type="ds_ws:string12"/>
				<element name="dialogSizeX" type="xsd:integer"/>
				<element name="dialogSizeY" type="xsd:integer"/>
			</sequence>
		</complexType>

	<complexType name="search_orderMessage">
		<annotation>
			<documentation>Search Element: Order Message</documentation>
		</annotation>
			<sequence>
				<element name="orderNumber" type="ds_ws:string50"/>
				<element name="orderStatus" type="ds_ws:string50"/>
				<element name="accountNumber" type="ds_ws:string50"/>
				<element name="cctType" type="ds_ws:cctType"/>
				<element name="circuitNumber" type="ds_ws:string100"/>
				<element name="orderType" type="ds_ws:orderType"/>
				<element name="customerIDNumber" type="ds_ws:string50"/>
				<element name="internalOrderStatus" type="ds_ws:internalOrderStatus"/>
				<element name="before" type="cwf:dateTimeSec"/>
				<element name="after" type="cwf:dateTimeSec"/>
				<element name="inHold" type="xsd:boolean"/>
				<element name="parentOrderNumber" type="ds_ws:string50"/>
				<element name="commonPlateId" type="ds_ws:string50"/>
				<element name="commonServiceNumber" type="ds_ws:string50"/>
				<element name="serviceType" type="ds_ws:serviceType"/>
				<element name="orderDomain" type="ds_ws:orderDomain"/>
			</sequence>
		</complexType>

	<complexType name="search_ML">
		<annotation>
			<documentation>Search Message Log</documentation>
		</annotation>
			<sequence>
				<element name="userId" type="cwf:userIdRef"/>
				<element name="fromTime" type="cwf:dateTimeSec"/>
				<element name="toTime" type="cwf:dateTimeSec"/>
				<element name="userData" type="cwf_pm:userData"/>
			</sequence>
		</complexType>

	<complexType name="eaiGlobalProcessDocument">
		<annotation>
			<documentation>EAI Global Process Document</documentation>
		</annotation>
			<sequence>
				<element name="eventType" type="ds_ws:eventType"/>
				<element name="eventDocId" type="cwf:docId"/>
				<element name="resultType" type="ds_ws:invokeResultType"/>
				<element name="interfaceName" type="ds_ws:interfaceName"/>
			</sequence>
		</complexType>

</schema>
