OrderManager/EBU16/CWProject/resources/schema/cw.gen.worklist.data.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema targetNamespace="http://www.conceptwave.com/api/worklist/data"	
	xmlns="http://www.w3.org/2001/XMLSchema"	
	xmlns:worklist.data="http://www.conceptwave.com/api/worklist/data"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	xmlns:cwf="http://www.conceptwave.com/system"	
	xmlns:api_common.data="http://www.conceptwave.com/api/common/data"	
	xmlns:worklist.CommonBusinessEntitiesDomain.DataTypes="worklist.CommonBusinessEntitiesDomain.DataTypes"	
	xmlns:security.data="http://www.conceptwave.com/api/security/data">



	<import namespace="http://www.conceptwave.com/system" schemaLocation="cwf.xsd"/>
	<import namespace="http://www.conceptwave.com/api/common/data" schemaLocation="api_common.data.xsd"/>
	<import namespace="worklist.CommonBusinessEntitiesDomain.DataTypes" schemaLocation="worklist.CommonBusinessEntitiesDomain.DataTypes.xsd"/>
	<import namespace="http://www.conceptwave.com/api/security/data" schemaLocation="security.data.xsd"/>

	<annotation>
		<documentation>data</documentation>
		<appinfo>
			<metadata>STC Order Management EBU</metadata>
			<created>Mon Sep 08 11:04:21 CEST 2008</created>
		</appinfo>
	</annotation>

	<!-- Data types and elements -->

	<simpleType name="activity">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Describes the step at the source that creates this task. If the source
  is from ConceptWave Process, the index of its Process Activity is used.
&lt;/p&gt;</documentation>
			<appinfo>
				<label>activity</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="auditAction">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Describes the type of action performed on the task.
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Audit Action</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="2"/>
			<enumeration value="1">
				<annotation>
					<documentation>Taken</documentation>
				</annotation>
			</enumeration>
			<enumeration value="2">
				<annotation>
					<documentation>Updated</documentation>
				</annotation>
			</enumeration>
			<enumeration value="3">
				<annotation>
					<documentation>Assigned</documentation>
				</annotation>
			</enumeration>
			<enumeration value="4">
				<annotation>
					<documentation>Created</documentation>
				</annotation>
			</enumeration>
			<enumeration value="5">
				<annotation>
					<documentation>Completed</documentation>
				</annotation>
			</enumeration>
			<enumeration value="6">
				<annotation>
					<documentation>Get</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="distributionType">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Type of distribution.
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Distribution Type</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="1"/>
			<enumeration value="0">
				<annotation>
					<documentation>Manual</documentation>
				</annotation>
			</enumeration>
			<enumeration value="1">
				<annotation>
					<documentation>Shared</documentation>
				</annotation>
			</enumeration>
			<enumeration value="2">
				<annotation>
					<documentation>System</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="effort">
		<annotation>
			<documentation>Effort</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="9"/>
		</restriction>
	</simpleType>

	<simpleType name="generalOperation">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  This operation string can be used by a task or alert.
&lt;/p&gt;
&lt;p style=&#34;margin-top: 0&#34;&gt;
  It can be a valid interface operation (cwf.interOper) for task, or any
  string value for an alert.
&lt;/p&gt;
&lt;p style=&#34;margin-top: 0&#34;&gt;
  The type and length align with cwf.interOper.
&lt;/p&gt;</documentation>
			<appinfo>
				<label>general Operation</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="256"/>
		</restriction>
	</simpleType>

	<simpleType name="label">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Short description of task.
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Label</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="128"/>
		</restriction>
	</simpleType>

	<simpleType name="senderType">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Describes the source that creates this task. If the source is from
  ConceptWave, its metadata number is used.
&lt;/p&gt;</documentation>
			<appinfo>
				<label>senderType</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="type">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Type of task.
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Type</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="1"/>
			<enumeration value="0">
				<annotation>
					<documentation>Task</documentation>
				</annotation>
			</enumeration>
			<enumeration value="2">
				<annotation>
					<documentation>Alert</documentation>
				</annotation>
			</enumeration>
			<enumeration value="3">
				<annotation>
					<documentation>Taken</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<!-- Structures -->

	<complexType name="action">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  User action taken for a task.
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Action</label>
			</appinfo>
		</annotation>
			<complexContent>
				<extension base="api_common.data:object">
					<sequence>
						<element name="action" minOccurs="0" maxOccurs="1" type="cwf:interOper"/>
						<element name="task" minOccurs="0" maxOccurs="1" type="worklist.data:task"/>
						<element name="data" minOccurs="0" maxOccurs="1" type="anyType"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>

	<complexType name="archivedTask">
		<annotation>
			<documentation>Archived Task</documentation>
		</annotation>
			<complexContent>
				<extension base="worklist.data:task">
					<sequence>
						<element name="action" minOccurs="0" maxOccurs="1" type="cwf:interOper"/>
						<element name="completedDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>

	<complexType name="changeTask">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Contains the details of a task to be changed.
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Change Task</label>
			</appinfo>
		</annotation>
			<complexContent>
				<extension base="api_common.data:object">
					<sequence>
						<element name="priority" minOccurs="0" maxOccurs="1" type="cwf:allPriorities"/>
						<element name="dueDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
						<element name="userId" minOccurs="0" maxOccurs="1" type="cwf:userId"/>
						<element name="assignUser" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
						<element name="task" minOccurs="0" maxOccurs="unbounded" type="worklist.data:task"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>

	<complexType name="participantList">
		<annotation>
			<documentation>participantList</documentation>
		</annotation>
			<sequence>
				<element name="participant" minOccurs="0" maxOccurs="unbounded" type="cwf:metadataId"/>
			</sequence>
		</complexType>

	<complexType name="participantSummary">
		<annotation>
			<documentation>participantSummary</documentation>
		</annotation>
			<sequence>
				<element name="participant" minOccurs="0" maxOccurs="1" type="cwf:metaParticipants"/>
				<element name="total" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
				<element name="overdues" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
				<element name="alerts" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
				<element name="assigned" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
				<element name="unassigned" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
			</sequence>
		</complexType>

	<complexType name="participantSummaryList">
		<annotation>
			<documentation>participantSummaryList</documentation>
		</annotation>
			<sequence>
				<element name="participantSummary" minOccurs="0" maxOccurs="unbounded" type="worklist.data:participantSummary"/>
			</sequence>
		</complexType>

	<complexType name="searchArchivedTask">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Container for task search criterions.
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Search Task</label>
			</appinfo>
		</annotation>
			<complexContent>
				<extension base="api_common.data:objectSearch">
					<sequence>
						<element name="archivedTask" minOccurs="0" maxOccurs="1" type="worklist.data:archivedTask"/>
						<element name="orderItemId" minOccurs="0" maxOccurs="unbounded" type="api_common.data:ID"/>
						<element name="createDateAfter" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
						<element name="createDateBefore" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
						<element name="completedDateAfter" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
						<element name="completedDateBefore" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>

	<complexType name="searchTask">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Container for task search criterions.
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Search Task</label>
			</appinfo>
		</annotation>
			<complexContent>
				<extension base="api_common.data:objectSearch">
					<sequence>
						<element name="task" minOccurs="0" maxOccurs="1" type="worklist.data:task"/>
						<element name="dueDateAfter" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
						<element name="dueDateBefore" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
						<element name="startDateAfter" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
						<element name="startDateBefore" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
						<element name="assignedDateAfter" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
						<element name="assignedDateBefore" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
						<element name="createDateAfter" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
						<element name="createDateBefore" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
						<element name="isAssigned" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>

	<complexType name="task">
		<annotation>
			<documentation>Description of the worklist item.</documentation>
			<appinfo>
				<label>Task</label>
			</appinfo>
		</annotation>
			<complexContent>
				<extension base="api_common.data:object">
					<sequence>
						<element name="application" minOccurs="0" maxOccurs="1" type="cwf:appName"/>
						<element name="taskId" minOccurs="0" maxOccurs="1" type="api_common.data:ID"/>
						<element name="priority" minOccurs="0" maxOccurs="1" type="cwf:allPriorities"/>
						<element name="senderType" minOccurs="0" maxOccurs="1" type="worklist.data:senderType"/>
						<element name="senderId" minOccurs="0" maxOccurs="1" type="api_common.data:ID"/>
						<element name="senderActivity" minOccurs="0" maxOccurs="1" type="worklist.data:activity"/>
						<element name="orderId" minOccurs="0" maxOccurs="1" type="cwf:orderId"/>
						<element name="orderItemId" minOccurs="0" maxOccurs="1" type="cwf:docId"/>
						<element name="label" minOccurs="0" maxOccurs="1" type="worklist.data:label"/>
						<element name="dueDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
						<element name="startDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
						<element name="assignedDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
						<element name="createdDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
						<element name="userId" minOccurs="0" maxOccurs="1" type="cwf:userId"/>
						<element name="participant" minOccurs="0" maxOccurs="1" type="cwf:metaParticipants"/>
						<element name="operation" minOccurs="0" maxOccurs="1" type="worklist.data:generalOperation"/>
						<element name="associatedId" minOccurs="0" maxOccurs="1" type="api_common.data:ID"/>
						<element name="effort" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
						<element name="distributionType" minOccurs="0" maxOccurs="1" type="worklist.data:distributionType"/>
						<element name="disabled" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
						<element name="type" minOccurs="0" maxOccurs="1" type="worklist.data:type"/>
						<element name="customer" minOccurs="0" maxOccurs="1" type="api_common.data:ID"/>
						<element name="changed" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>

	<complexType name="taskHistory">
		<annotation>
			<documentation>Description of the worklist item.</documentation>
			<appinfo>
				<label>Task History</label>
			</appinfo>
		</annotation>
			<complexContent>
				<extension base="api_common.data:object">
					<sequence>
						<element name="createdDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
						<element name="priority" minOccurs="0" maxOccurs="1" type="cwf:allPriorities"/>
						<element name="dueDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
						<element name="userId" minOccurs="0" maxOccurs="1" type="cwf:userId"/>
						<element name="action" minOccurs="0" maxOccurs="1" type="worklist.data:auditAction"/>
						<element name="reason" minOccurs="0" maxOccurs="1" type="cwf:interOper"/>
						<element name="performedBy" minOccurs="0" maxOccurs="1" type="cwf:userId"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>

	<complexType name="taskHistoryList">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Container for a list of tasks.
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Task History List</label>
			</appinfo>
		</annotation>
			<complexContent>
				<extension base="api_common.data:object">
					<sequence>
						<element name="history" minOccurs="0" maxOccurs="unbounded" type="worklist.data:taskHistory"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>

	<complexType name="taskList">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Container for a list of tasks.
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Task List</label>
			</appinfo>
		</annotation>
			<complexContent>
				<extension base="api_common.data:object">
					<sequence>
						<element name="task" minOccurs="0" maxOccurs="unbounded" type="worklist.data:task"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>

	<complexType name="taskNotes">
		<annotation>
			<documentation>Task Notes</documentation>
		</annotation>
			<sequence>
				<element name="taskId" minOccurs="0" maxOccurs="1" type="worklist.CommonBusinessEntitiesDomain.DataTypes:string32"/>
				<element name="taskNotes" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="userId" minOccurs="0" maxOccurs="1" type="cwf:userId"/>
				<element name="createdDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
				<element name="id" minOccurs="0" maxOccurs="1" type="api_common.data:ID"/>
			</sequence>
		</complexType>

	<complexType name="userSummary">
		<annotation>
			<documentation>User Summary</documentation>
		</annotation>
			<sequence>
				<element name="userId" minOccurs="0" maxOccurs="1" type="cwf:userId"/>
				<element name="active" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
				<element name="available" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
				<element name="tasks" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
				<element name="overdues" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
				<element name="alerts" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
			</sequence>
		</complexType>

	<complexType name="userSummaryList">
		<annotation>
			<documentation>userSummaryList</documentation>
		</annotation>
			<sequence>
				<element name="userSummary" minOccurs="0" maxOccurs="unbounded" type="worklist.data:userSummary"/>
			</sequence>
		</complexType>

	<complexType name="userSummarySearch">
		<annotation>
			<documentation>userSummarySearch</documentation>
		</annotation>
			<complexContent>
				<extension base="api_common.data:objectSearch">
					<sequence>
						<element name="profileProvider" minOccurs="0" maxOccurs="1" type="security.data:profileProvider"/>
						<element name="userId" minOccurs="0" maxOccurs="1" type="cwf:userId"/>
						<element name="available" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
						<element name="participant" minOccurs="0" maxOccurs="1" type="cwf:metaParticipants"/>
						<element name="minTasks" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
						<element name="maxTasks" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
						<element name="minOverdues" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
						<element name="maxOverdues" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
						<element name="minAlerts" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
						<element name="maxAlerts" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
						<element name="includeSummary" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
						<element name="active" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>

	<!-- Documents -->

</schema>
