OrderManager/EBU16/CWProject/resources/schema/cw.gen.ds_ws.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema targetNamespace="java:com.granite.custom.stc.transport.siebel"	
	xmlns="http://www.w3.org/2001/XMLSchema"	
	xmlns:ds_ws="java:com.granite.custom.stc.transport.siebel"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	xmlns:cwf="http://www.conceptwave.com/system"	
	xmlns:cwf_pm="http://www.conceptwave.com/products/pm">



	<import namespace="http://www.conceptwave.com/system" schemaLocation="cwf.xsd"/>
	<import namespace="http://www.conceptwave.com/products/pm" schemaLocation="cwf_pm.xsd"/>

	<annotation>
		<documentation>Data Structure &#091;SOAP&#093;</documentation>
		<appinfo>
			<metadata>STC Order Management EBU</metadata>
			<created>Mon Sep 08 11:04:21 CEST 2008</created>
		</appinfo>
	</annotation>

	<!-- Data types and elements -->

	<simpleType name="lineItemPriority">
		<annotation>
			<documentation>LineItem Priority</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="2"/>
			<minInclusive value="1"/>
		</restriction>
	</simpleType>

	<simpleType name="string40">
		<annotation>
			<documentation>String 40</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="40"/>
		</restriction>
	</simpleType>

	<simpleType name="circuitStatus">
		<annotation>
			<documentation>Circuit Status</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="50"/>
		</restriction>
	</simpleType>

	<simpleType name="initialOrderStatus">
		<annotation>
			<documentation>Initial Order Status</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="50"/>
			<enumeration value="New">
				<annotation>
					<documentation>New</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Revise">
				<annotation>
					<documentation>Revise</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Cancel">
				<annotation>
					<documentation>Cancel</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="elementTypeInOrderTree">
		<annotation>
			<documentation>Element Type In Order Tree</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1"/>
			<enumeration value="O">
				<annotation>
					<documentation>OrderHeader</documentation>
				</annotation>
			</enumeration>
			<enumeration value="B">
				<annotation>
					<documentation>Parent LineItem</documentation>
				</annotation>
			</enumeration>
			<enumeration value="C">
				<annotation>
					<documentation>Service</documentation>
				</annotation>
			</enumeration>
			<enumeration value="S">
				<annotation>
					<documentation>SubService</documentation>
				</annotation>
			</enumeration>
			<enumeration value="T">
				<annotation>
					<documentation>Sub-SubService</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="listSP">
		<annotation>
			<documentation>List of Service Parameters &#091;Button Confirmation&#093;</documentation>
		</annotation>
		<restriction base="ds_ws:serviceType">
			<enumeration value="VOIP">
				<annotation>
					<documentation>VOIP</documentation>
				</annotation>
			</enumeration>
			<enumeration value="HSI">
				<annotation>
					<documentation>HSI</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Other">
				<annotation>
					<documentation>Other</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="orderType">
		<annotation>
			<documentation>Order Type</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="25"/>
			<enumeration value="I">
				<annotation>
					<documentation>Install</documentation>
				</annotation>
			</enumeration>
			<enumeration value="C">
				<annotation>
					<documentation>Change</documentation>
				</annotation>
			</enumeration>
			<enumeration value="T">
				<annotation>
					<documentation>Transfer</documentation>
				</annotation>
			</enumeration>
			<enumeration value="D">
				<annotation>
					<documentation>Tempo Disconnect</documentation>
				</annotation>
			</enumeration>
			<enumeration value="E">
				<annotation>
					<documentation>Reconnect</documentation>
				</annotation>
			</enumeration>
			<enumeration value="O">
				<annotation>
					<documentation>Disconnect</documentation>
				</annotation>
			</enumeration>
			<enumeration value="F">
				<annotation>
					<documentation>Feasibility Order</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="actionOnOrder">
		<annotation>
			<documentation>Action On Order &#091;DO NOT TOUCH&#093;</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="10"/>
			<enumeration value="Create">
				<annotation>
					<documentation>Create</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Update">
				<annotation>
					<documentation>Update</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="locationInterface">
		<annotation>
			<documentation>Location Interface</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="25"/>
		</restriction>
	</simpleType>

	<simpleType name="lineItemAction">
		<annotation>
			<documentation>LineItem Action</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="10"/>
			<enumeration value="A">
				<annotation>
					<documentation>Add</documentation>
				</annotation>
			</enumeration>
			<enumeration value="D">
				<annotation>
					<documentation>Remove</documentation>
				</annotation>
			</enumeration>
			<enumeration value="M">
				<annotation>
					<documentation>Modify</documentation>
				</annotation>
			</enumeration>
			<enumeration value="N">
				<annotation>
					<documentation>No-Change</documentation>
				</annotation>
			</enumeration>
			<enumeration value="S">
				<annotation>
					<documentation>Suspend</documentation>
				</annotation>
			</enumeration>
			<enumeration value="R">
				<annotation>
					<documentation>Resume</documentation>
				</annotation>
			</enumeration>
			<enumeration value="C">
				<annotation>
					<documentation>Cancel</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="nY_pickList">
		<annotation>
			<documentation>N/Y Pick List</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1"/>
			<enumeration value="N">
				<annotation>
					<documentation>N</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Y">
				<annotation>
					<documentation>Y</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="string30">
		<annotation>
			<documentation>String 30</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="30"/>
		</restriction>
	</simpleType>

	<simpleType name="orderStatus">
		<annotation>
			<documentation>Order Status</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="50"/>
		</restriction>
	</simpleType>

	<simpleType name="string10">
		<annotation>
			<documentation>String 10</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="10"/>
		</restriction>
	</simpleType>

	<simpleType name="scanMode">
		<annotation>
			<documentation>Scan Mode</documentation>
		</annotation>
		<restriction base="ds_ws:string12">
			<enumeration value="default">
				<annotation>
					<documentation>Default scan behaviour</documentation>
				</annotation>
			</enumeration>
			<enumeration value="TopDown">
				<annotation>
					<documentation>Top Down scan mode</documentation>
				</annotation>
			</enumeration>
			<enumeration value="BottomUp">
				<annotation>
					<documentation>Bottom Up scan mode</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="string100">
		<annotation>
			<documentation>String 100</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="100"/>
		</restriction>
	</simpleType>

	<simpleType name="string4000">
		<annotation>
			<documentation>String 4000</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="4000"/>
		</restriction>
	</simpleType>

	<simpleType name="feasibilityFor">
		<annotation>
			<documentation>Feasibility For</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="20"/>
			<enumeration value="INSTALL">
				<annotation>
					<documentation>INSTALL</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CHANGE">
				<annotation>
					<documentation>CHANGE</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="string255">
		<annotation>
			<documentation>String 255</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="255"/>
		</restriction>
	</simpleType>

	<simpleType name="locationAccessType">
		<annotation>
			<documentation>Location Access Type</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="100"/>
		</restriction>
	</simpleType>

	<simpleType name="serviceType">
		<annotation>
			<documentation>Service Type</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="25"/>
		</restriction>
	</simpleType>

	<simpleType name="string12">
		<annotation>
			<documentation>String 12</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="12"/>
		</restriction>
	</simpleType>

	<simpleType name="priority">
		<annotation>
			<documentation>Priority</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="25"/>
		</restriction>
	</simpleType>

	<simpleType name="lineItemType">
		<annotation>
			<documentation>LineItem Type</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="10"/>
		</restriction>
	</simpleType>

	<simpleType name="provisioningFlag">
		<annotation>
			<documentation>Provisioning Flag</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="12"/>
			<enumeration value="PROVISIONING">
				<annotation>
					<documentation>PROVISIONING</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ACTIVE">
				<annotation>
					<documentation>ACTIVE</documentation>
				</annotation>
			</enumeration>
			<enumeration value="OLD">
				<annotation>
					<documentation>OLD</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CANCELLED">
				<annotation>
					<documentation>CANCELLED</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="cctType">
		<annotation>
			<documentation>CCT Type</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="25"/>
		</restriction>
	</simpleType>

	<simpleType name="businessUnit">
		<annotation>
			<documentation>Business Unit</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="50"/>
			<enumeration value="Home">
				<annotation>
					<documentation>Home</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Enterprise">
				<annotation>
					<documentation>Enterprise</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Wholesale">
				<annotation>
					<documentation>Wholesale</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="string256">
		<annotation>
			<documentation>String 256</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="256"/>
		</restriction>
	</simpleType>

	<simpleType name="string60">
		<annotation>
			<documentation>String 60</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="60"/>
		</restriction>
	</simpleType>

	<simpleType name="msgId">
		<annotation>
			<documentation>Msg Id</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="nvAction">
		<annotation>
			<documentation>NV Action</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="10"/>
		</restriction>
	</simpleType>

	<simpleType name="alternativeSolution">
		<annotation>
			<documentation>Alternative Solution</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="25"/>
		</restriction>
	</simpleType>

	<simpleType name="string1000">
		<annotation>
			<documentation>String 1000</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>

	<simpleType name="string20">
		<annotation>
			<documentation>String 20</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="20"/>
		</restriction>
	</simpleType>

	<simpleType name="vmId">
		<annotation>
			<documentation>VM Id</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="8"/>
		</restriction>
	</simpleType>

	<simpleType name="wires">
		<annotation>
			<documentation>Wires</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="25"/>
		</restriction>
	</simpleType>

	<simpleType name="string50">
		<annotation>
			<documentation>String 50</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="50"/>
		</restriction>
	</simpleType>

	<simpleType name="integer3">
		<annotation>
			<documentation>Integer 3</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="3"/>
			<minInclusive value="0"/>
			<maxInclusive value="999"/>
		</restriction>
	</simpleType>

	<simpleType name="internalOrderStatus">
		<annotation>
			<documentation>Internal Order Status</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="50"/>
			<enumeration value="Order Received">
				<annotation>
					<documentation>Order Received</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Waiting for Granite Response">
				<annotation>
					<documentation>Waiting for Granite Response</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Granite Communication FAILED">
				<annotation>
					<documentation>Granite Communication FAILED</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Granite Call SUCCESSFUL">
				<annotation>
					<documentation>Granite Call SUCCESSFUL</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Granite Call FAILURE">
				<annotation>
					<documentation>Granite Call FAILURE</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Order Archived (UOR)">
				<annotation>
					<documentation>Order Archived (Update Order Request)</documentation>
					<appinfo>
						<active>false</active>
					</appinfo>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="string25">
		<annotation>
			<documentation>String 25</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="25"/>
		</restriction>
	</simpleType>

	<!-- Structures -->

	<complexType name="CommonLineItemParameters">
		<annotation>
			<documentation>CommonLineItemParameters</documentation>
		</annotation>
			<sequence>
				<element name="LineItemType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="Priority" minOccurs="1" maxOccurs="1" type="ds_ws:lineItemPriority"/>
				<element name="DependentLineItems" minOccurs="0" maxOccurs="99" type="xsd:string"/>
				<element name="Action" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="ServiceType" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="ServiceNumber" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="OldServiceNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="ReasonCode" minOccurs="0" maxOccurs="9" type="xsd:string"/>
				<element name="ProductType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="Remarks" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="IcmsSONumber" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="FictBillingNumber" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="ReferenceTelNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="ServiceDescription" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="BandWidth" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="AccountNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="OldAccountNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="ProjectID" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationACity" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationACCLICode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationAAccessCircuit" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationAJVCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationAExchangeSwCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationAAccessType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationAPlateID" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationAoldPlateId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationAContactAddress" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationAContactName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationAContactTelNo" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationAContactEmail" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocAUnitNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationAInterface" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationARemarks" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationBCity" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationBCCLICode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationBAccessCircuit" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationBJVCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationBExchangeSwCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationBAccessType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationBPlateID" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationBoldPlateId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationBContactAddress" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationBContactName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationBContactTelNo" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationBContactEmail" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocBUnitNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationBInterface" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationBRemarks" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="TbPortNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="Wires" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="ServiceDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
				<element name="CreationDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
			</sequence>
		</complexType>

	<element name="redliningOrderAcknowledgementResponse">
		<complexType >
		<annotation>
			<documentation>redliningOrderAcknowledgementResponse</documentation>
		</annotation>
			<sequence>
				<element name="returns" minOccurs="1" maxOccurs="1" type="ds_ws:RedLiningOrderAcknowledgementWithFailure"/>
			</sequence>
		</complexType>
	</element>

	<complexType name="QuoteServiceParameters">
		<annotation>
			<documentation>QuoteServiceParameters</documentation>
		</annotation>
			<sequence>
				<element name="CreationDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
				<element name="NameValue" minOccurs="0" maxOccurs="999" type="ds_ws:QuoteNameValue"/>
				<element name="OldServiceNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="ServiceDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
				<element name="ServiceDescription" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="ServiceType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="ServiceNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="ParentLineItem">
		<annotation>
			<documentation>ParentLineItem</documentation>
		</annotation>
			<complexContent>
				<extension base="ds_ws:CommonLineItemParameters">
					<sequence>
						<element name="ParentLineItemIdentifer" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						<element name="ParentLineItemNameValueParameters" minOccurs="0" maxOccurs="1">
							<annotation>
								<documentation>ParentLineItemNameValueParameters</documentation>
							</annotation>
							<complexType>
								<sequence>
									<element name="NameValue" minOccurs="0" maxOccurs="999" type="ds_ws:BundleNameValue"/>
								</sequence>
							</complexType>
						</element>
						<element name="ParentLineItemsBlockParameters" minOccurs="0" maxOccurs="1">
							<annotation>
								<documentation>ParentLineItemsBlockParameters</documentation>
							</annotation>
							<complexType>
								<sequence>
									<element name="BlockNameValueParameter" minOccurs="0" maxOccurs="999" type="ds_ws:BlockParameter"/>
								</sequence>
							</complexType>
						</element>
						<element name="SVCLineItems" minOccurs="0" maxOccurs="999" type="ds_ws:ServiceLineItem"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>

	<complexType name="QuoteNameValue">
		<annotation>
			<documentation>QuoteNameValue</documentation>
		</annotation>
			<sequence>
				<element name="Name" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="Value" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<element name="siteInformationUpdateAcknowledgement">
		<complexType >
		<annotation>
			<documentation>siteInformationUpdateAcknowledgement</documentation>
		</annotation>
			<sequence>
				<element name="siteInformationUpdateAcknowledgement" minOccurs="1" maxOccurs="1" type="ds_ws:SiteInformationUpdateAcknowledgement"/>
			</sequence>
		</complexType>
	</element>

	<element name="submitOrder">
		<complexType >
		<annotation>
			<documentation>submitOrder</documentation>
		</annotation>
			<sequence>
				<element name="message" minOccurs="1" maxOccurs="1" type="ds_ws:BundleOrderMessage"/>
			</sequence>
		</complexType>
	</element>

	<complexType name="CustomerInformationUpdateAckWithFailure">
		<annotation>
			<documentation>CustomerInformationUpdateAckWithFailure</documentation>
		</annotation>
			<sequence>
				<element name="CustomerUpdateAcknowledgement" minOccurs="1" maxOccurs="1" type="ds_ws:CustomerInformationUpdateAcknowledgement"/>
				<element name="Failure" minOccurs="1" maxOccurs="1" type="ds_ws:Failure"/>
			</sequence>
		</complexType>

	<element name="reportFailure">
		<complexType >
		<annotation>
			<documentation>reportFailure</documentation>
		</annotation>
			<sequence>
				<element name="failure" minOccurs="1" maxOccurs="1" type="ds_ws:Failure"/>
			</sequence>
		</complexType>
	</element>

	<complexType name="siteInformationUpdateAcknowledgementResponse">
		<annotation>
			<documentation>siteInformationUpdateAcknowledgementResponse</documentation>
		</annotation>
			<sequence>
				<element name="returns" minOccurs="1" maxOccurs="1" type="ds_ws:SiteInformationUpdateAcknowledgementWithFailure"/>
			</sequence>
		</complexType>

	<element name="submitOrderResponse">
		<complexType >
		<annotation>
			<documentation>submitOrderResponse</documentation>
		</annotation>
			<sequence>
				<element name="returns" minOccurs="1" maxOccurs="1" type="ds_ws:OrderAcknowledgementWithFailure"/>
			</sequence>
		</complexType>
	</element>

	<complexType name="Failure">
		<annotation>
			<documentation>Failure</documentation>
		</annotation>
			<sequence>
				<element name="ErrorCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="ErrorDescription" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="ErrorTime" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="ErrorType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="FunctionName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="ObjectId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="ProcessInstanceld" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="SourceErrorCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="Status" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="SystemName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="TargetRecored" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="UserId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="ServiceLineItem">
		<annotation>
			<documentation>ServiceLineItem</documentation>
		</annotation>
			<complexContent>
				<extension base="ds_ws:CommonLineItemParameters">
					<sequence>
						<element name="SvcLineItemInstanceIdentifier" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						<element name="SvcLineItemNameValueParameters" minOccurs="0" maxOccurs="1">
							<annotation>
								<documentation>SvcLineItemNameValueParameters</documentation>
							</annotation>
							<complexType>
								<sequence>
									<element name="NameValue" minOccurs="0" maxOccurs="999" type="ds_ws:BundleNameValue"/>
								</sequence>
							</complexType>
						</element>
						<element name="SvcLineItemsBlockParameters" minOccurs="0" maxOccurs="1">
							<annotation>
								<documentation>SvcLineItemsBlockParameters</documentation>
							</annotation>
							<complexType>
								<sequence>
									<element name="BlockNameValueParameter" minOccurs="0" maxOccurs="999" type="ds_ws:BlockParameter"/>
								</sequence>
							</complexType>
						</element>
						<element name="SubSvcLineItems" minOccurs="0" maxOccurs="999" type="ds_ws:SubServiceLineItem"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>

	<complexType name="OrderFailure">
		<annotation>
			<documentation>OrderFailure</documentation>
		</annotation>
			<sequence>
				<element name="ErrorCode" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="ErrorDescription" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="ErrorTime" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="ErrorType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="FunctionName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="ObjectId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="ProcessInstanceld" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="SourceErrorCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="SystemName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="TargetRecored" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="UserId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<element name="quoteValidation">
		<complexType >
		<annotation>
			<documentation>quoteValidation</documentation>
		</annotation>
			<sequence>
				<element name="message" minOccurs="1" maxOccurs="1" type="ds_ws:QuoteOrderMessage"/>
			</sequence>
		</complexType>
	</element>

	<complexType name="OrderAcknowledgement">
		<annotation>
			<documentation>OrderAcknowledgement</documentation>
		</annotation>
			<sequence>
				<element name="Remarks" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="OrderNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="XngOrderNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="BusinessUnit" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="SiteInformationUpdateAcknowledgementWithFailure">
		<annotation>
			<documentation>SiteInformationUpdateAcknowledgementWithFailure</documentation>
		</annotation>
			<sequence>
				<element name="Acknowledgement" minOccurs="1" maxOccurs="1" type="ds_ws:SiteInformationUpdateAcknowledgement"/>
				<element name="Failure" minOccurs="1" maxOccurs="1" type="ds_ws:Failure"/>
			</sequence>
		</complexType>

	<complexType name="CustomerInformationUpdate">
		<annotation>
			<documentation>CustomerInformationUpdate</documentation>
		</annotation>
			<sequence>
				<element name="AccountNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="CustomerAddress" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="CustomerArabicName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="CustomerClass" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="CustomerEnglishName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="CustomerNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="CustomerSubtype" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="Sector" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="Status" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="CustomerType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="BusinessUnit" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<element name="quoteValidationResponse">
		<complexType >
		<annotation>
			<documentation>quoteValidationResponse</documentation>
		</annotation>
			<sequence>
				<element name="returns" minOccurs="1" maxOccurs="1" type="ds_ws:QuoteAcknowledgementWithFailure"/>
			</sequence>
		</complexType>
	</element>

	<complexType name="SubServiceLineItem">
		<annotation>
			<documentation>SubServiceLineItem</documentation>
		</annotation>
			<complexContent>
				<extension base="ds_ws:CommonLineItemParameters">
					<sequence>
						<element name="SubSvcLineItemInstanceIdentifier" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						<element name="SubSvcLineItemNameValueParameters" minOccurs="0" maxOccurs="1">
							<annotation>
								<documentation>SubSvcLineItemNameValueParameters</documentation>
							</annotation>
							<complexType>
								<sequence>
									<element name="NameValue" minOccurs="0" maxOccurs="999" type="ds_ws:BundleNameValue"/>
								</sequence>
							</complexType>
						</element>
						<element name="SubSvcLineItemBlockParameters" minOccurs="0" maxOccurs="1">
							<annotation>
								<documentation>SubSvcLineItemBlockParameters</documentation>
							</annotation>
							<complexType>
								<sequence>
									<element name="BlockNameValueParameter" minOccurs="0" maxOccurs="999" type="ds_ws:BlockParameter"/>
								</sequence>
							</complexType>
						</element>
						<element name="SubSubLineItems" minOccurs="0" maxOccurs="999" type="ds_ws:SubSubServiceLineItem"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>

	<complexType name="BlockParameter">
		<annotation>
			<documentation>BlockParameter</documentation>
		</annotation>
			<sequence>
				<element name="BlockParameterName" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="BlockParameterValues" minOccurs="0" maxOccurs="1">
					<annotation>
						<documentation>BlockParameterValues</documentation>
					</annotation>
					<complexType>
						<sequence>
							<element name="BlockParameterValue" minOccurs="0" maxOccurs="999" type="xsd:string"/>
						</sequence>
					</complexType>
				</element>
				<element name="Action" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="RedLiningOrderAcknowledgementWithFailure">
		<annotation>
			<documentation>RedLiningOrderAcknowledgementWithFailure</documentation>
		</annotation>
			<sequence>
				<element name="Failure" minOccurs="1" maxOccurs="1" type="ds_ws:Failure"/>
				<element name="OrderAcknowledgement" minOccurs="1" maxOccurs="1" type="ds_ws:OrderAcknowledgement"/>
			</sequence>
		</complexType>

	<complexType name="BundleNameValue">
		<annotation>
			<documentation>BundleNameValue</documentation>
		</annotation>
			<sequence>
				<element name="Name" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="Value" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="Action" minOccurs="0" maxOccurs="1" type="ds_ws:nvAction"/>
			</sequence>
		</complexType>

	<element name="updateOrder">
		<complexType >
		<annotation>
			<documentation>updateOrder</documentation>
		</annotation>
			<sequence>
				<element name="message" minOccurs="1" maxOccurs="1" type="ds_ws:UpdateOrderMessage"/>
			</sequence>
		</complexType>
	</element>

	<complexType name="QuoteAcknowledgementWithFailure">
		<annotation>
			<documentation>QuoteAcknowledgementWithFailure</documentation>
		</annotation>
			<sequence>
				<element name="Failure" minOccurs="1" maxOccurs="1" type="ds_ws:Failure"/>
				<element name="QuoteAcknowledgement" minOccurs="1" maxOccurs="1" type="ds_ws:QuoteAcknowledgement"/>
			</sequence>
		</complexType>

	<complexType name="BundleOrderMessage">
		<annotation>
			<documentation>BundleOrderMessage</documentation>
		</annotation>
			<sequence>
				<element name="CustomerIdNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="AccountNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="CustomerType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="CustomerIDType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="CustomerContact" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="CustomerContactName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="CustomerName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="CustomerNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="OrderNumber" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="OrderType" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="OrderStatus" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="AlternativeSolution" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="CreationDate" minOccurs="1" maxOccurs="1" type="xsd:dateTime"/>
				<element name="CreatedBy" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="CreatedByName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="CreatedByContactName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="ServiceDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
				<element name="Priority" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="Remarks" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="ReferenceTelNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="ReasonCode" minOccurs="0" maxOccurs="9" type="xsd:string"/>
				<element name="OrderDomain" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="CustomerSegmentation" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="FeasibilityFor" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="Reservation" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="ReservationNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="ICMSSalesOrderNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="BusinessUnit" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="OrderParameters" minOccurs="0" maxOccurs="1">
					<annotation>
						<documentation>OrderParameters</documentation>
					</annotation>
					<complexType>
						<sequence>
							<element name="NameValue" minOccurs="0" maxOccurs="999" type="ds_ws:BundleNameValue"/>
						</sequence>
					</complexType>
				</element>
				<element name="ParentLineItems" minOccurs="1" maxOccurs="999" type="ds_ws:ParentLineItem"/>
			</sequence>
		</complexType>

	<element name="redliningOrderAcknowledgement">
		<complexType >
		<annotation>
			<documentation>redliningOrderAcknowledgement</documentation>
		</annotation>
			<sequence>
				<element name="acknowledgement" minOccurs="1" maxOccurs="1" type="ds_ws:OrderAcknowledgement"/>
			</sequence>
		</complexType>
	</element>

	<complexType name="SiteInformationUpdateAcknowledgement">
		<annotation>
			<documentation>SiteInformationUpdateAcknowledgement</documentation>
		</annotation>
			<sequence>
				<element name="Acknowledgement" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="SiteID" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="BusinessUnit" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="CustomerInformationUpdateAcknowledgement">
		<annotation>
			<documentation>CustomerInformationUpdateAcknowledgement</documentation>
		</annotation>
			<sequence>
				<element name="Acknowledgement" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="CustomerNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="SubSubServiceLineItem">
		<annotation>
			<documentation>SubSubServiceLineItem</documentation>
		</annotation>
			<complexContent>
				<extension base="ds_ws:CommonLineItemParameters">
					<sequence>
						<element name="SubSubSvcLineItemInstanceIdentifer" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						<element name="SubSubSvcLineItemNameValueParameters" minOccurs="0" maxOccurs="1">
							<annotation>
								<documentation>SubSubSvcLineItemNameValueParameters</documentation>
							</annotation>
							<complexType>
								<sequence>
									<element name="NameValue" minOccurs="0" maxOccurs="999" type="ds_ws:BundleNameValue"/>
								</sequence>
							</complexType>
						</element>
						<element name="SubSubSvcLineItemBlockParameters" minOccurs="0" maxOccurs="1">
							<annotation>
								<documentation>SubSubSvcLineItemBlockParameters</documentation>
							</annotation>
							<complexType>
								<sequence>
									<element name="BlockNameValueParameter" minOccurs="0" maxOccurs="999" type="ds_ws:BlockParameter"/>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>

	<complexType name="QuoteAcknowledgement">
		<annotation>
			<documentation>QuoteAcknowledgement</documentation>
		</annotation>
			<sequence>
				<element name="CircuitRemarks" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="OrderNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="ValidationResponse" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="BusinessUnit" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="UpdateOrderMessage">
		<annotation>
			<documentation>UpdateOrderMessage</documentation>
		</annotation>
			<complexContent>
				<extension base="ds_ws:BundleOrderMessage">
					<sequence>
						<element name="Version" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>

	<element name="updateOrderResponse">
		<complexType >
		<annotation>
			<documentation>updateOrderResponse</documentation>
		</annotation>
			<sequence>
				<element name="returns" minOccurs="1" maxOccurs="1" type="ds_ws:OrderAcknowledgementWithFailure"/>
			</sequence>
		</complexType>
	</element>

	<complexType name="OrderAcknowledgementWithFailure">
		<annotation>
			<documentation>OrderAcknowledgementWithFailure</documentation>
		</annotation>
			<sequence>
				<element name="MasterOrderNumber" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="MasterOrderStatus" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="Failure" minOccurs="0" maxOccurs="999" type="ds_ws:OrderFailure"/>
			</sequence>
		</complexType>

	<complexType name="QuoteOrderMessage">
		<annotation>
			<documentation>QuoteOrderMessage</documentation>
		</annotation>
			<sequence>
				<element name="AccountNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="AlternativeSolution" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="Bandwidth" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="CctType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="CircuitNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="CreatedBy" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="CreationDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
				<element name="CustomerIDNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="FictBillingNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="IcmsSONumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationAAccessCircuit" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationAAccessType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationACCLICode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationACity" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationAContactAddress" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationAContactEmail" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationAContactName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationAContactTel" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationAExchangeSwitchCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationAInterface" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationAJVCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationAPlateID" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationARemarks" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationBAccessCircuit" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationBAccessType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationBCCLICode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationBCity" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationBContactAddress" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationBContactEmail" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationBContactName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationBContactTel" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationBExchangeSwitchCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationBInterface" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationBJVCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationBPlateID" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="LocationBRemarks" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="OldCircuitNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="OrderNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="OrderStatus" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="OrderType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="Priority" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="ProjectId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="ReferenceTelNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="Remarks" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="ServiceDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
				<element name="ServiceDescription" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="ServiceParameters" minOccurs="0" maxOccurs="unbounded" type="ds_ws:QuoteServiceParameters"/>
				<element name="ServiceType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="Wires" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="CustomerName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="CustomerType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="CustomerContact" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="PlateID" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="OldPlateId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="TbPortNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="UnitNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="OldUnitNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="BusinessUnit" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="CustomerIDType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="CustomerNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<!-- Documents -->

	<complexType name="search_LineItem_ByCRM_WorkOrderNumDoc">
		<annotation>
			<documentation>Search Element: LineItem By CRMOrderNumber &amp; WorkOrderNumber</documentation>
		</annotation>
			<sequence>
				<element name="crmOrderNumber" type="ds_ws:string50"/>
				<element name="workOrderNumber" type="ds_ws:string20"/>
			</sequence>
		</complexType>

	<complexType name="bundleOrderHeaderDocument">
		<annotation>
			<documentation>Bundle Order Header</documentation>
		</annotation>
			<sequence>
				<element name="customerIdNumber" type="ds_ws:string50"/>
				<element name="accountNumber" type="ds_ws:string50"/>
				<element name="customerType" type="ds_ws:string50"/>
				<element name="customerIDType" type="ds_ws:string50"/>
				<element name="customerContact" type="ds_ws:string50"/>
				<element name="customerContactName" type="ds_ws:string50"/>
				<element name="customerName" type="ds_ws:string60"/>
				<element name="customerNumber" type="ds_ws:string50"/>
				<element name="orderNumber" type="ds_ws:string50"/>
				<element name="orderType" type="ds_ws:orderType"/>
				<element name="orderStatus" type="ds_ws:orderStatus"/>
				<element name="creationDate" type="cwf:dateTimeSec"/>
				<element name="createdBy" type="ds_ws:string50"/>
				<element name="createdByName" type="ds_ws:string50"/>
				<element name="createdByContactName" type="ds_ws:string50"/>
				<element name="serviceDate" type="cwf:dateTimeSec"/>
				<element name="priority" type="ds_ws:priority"/>
				<element name="remarks" type="ds_ws:string4000"/>
				<element name="referenceTelNumber" type="ds_ws:string50"/>
				<element name="version" type="ds_ws:string10"/>
				<element name="customerSegmentation" type="ds_ws:string30"/>
				<element name="feasibilityFor" type="ds_ws:feasibilityFor"/>
				<element name="reservation" type="ds_ws:nY_pickList"/>
				<element name="reservationNumber" type="ds_ws:string50"/>
				<element name="icmsSalesOrderNumber" type="ds_ws:string12"/>
				<element name="businessUnit" type="ds_ws:businessUnit"/>
				<element name="completionDate" type="cwf:dateTimeSec"/>
				<element name="receivedDate" type="cwf:dateTimeSec"/>
				<element name="isMigrated" type="xsd:boolean"/>
				<element name="primaryOrderNumber" type="ds_ws:string50"/>
				<element name="cwDocStamp" type="cwf:cwDocStamp"/>
				<element name="cwOrderCreationDate" type="cwf:cwOrderCreationDate"/>
				<element name="cwOrderId" type="cwf:cwOrderId"/>
				<element name="cwParentId" type="cwf:cwParentId"/>
				<element name="lastUpdatedDate" type="cwf:lastUpdatedDate"/>
				<element name="updatedBy" type="cwf:updatedBy"/>
				<element name="cwDocId" type="cwf:cwDocId"/>
			</sequence>
		</complexType>

	<complexType name="STC_PRODUCTTYPE_NAME_MAP">
		<annotation>
			<documentation>ProductType Name Map Document</documentation>
		</annotation>
			<sequence>
				<element name="cwDocId" type="cwf:cwDocId"/>
				<element name="internalProductType" type="ds_ws:string255"/>
				<element name="crmProductType" type="ds_ws:string255"/>
			</sequence>
		</complexType>

	<complexType name="details_serviceParameters">
		<annotation>
			<documentation>Details: Service Parameters</documentation>
		</annotation>
			<sequence>
				<element name="creationDate" type="cwf:date"/>
				<element name="serviceNumber" type="ds_ws:string50"/>
				<element name="oldServiceNumber" type="ds_ws:string50"/>
				<element name="serviceDate" type="cwf:date"/>
				<element name="serviceDescription" type="ds_ws:string1000"/>
				<element name="serviceType" type="ds_ws:serviceType"/>
				<element name="cwDocStamp" type="cwf:cwDocStamp"/>
				<element name="cwDocId" type="cwf:cwDocId"/>
				<element name="lastUpdatedDate" type="cwf:lastUpdatedDate"/>
				<element name="cwOrderCreationDate" type="cwf:cwOrderCreationDate"/>
				<element name="cwOrderId" type="cwf:cwOrderId"/>
				<element name="cwParentId" type="cwf:cwParentId"/>
				<element name="updatedBy" type="cwf:updatedBy"/>
				<element name="serviceStatus" type="ds_ws:string50"/>
				<element name="attributeCSC" type="xsd:string"/>
				<element name="attributeRatePlan" type="xsd:string"/>
				<element name="attributeSuppCodes" type="xsd:string"/>
				<element name="attributeDownStreamBW" type="xsd:string"/>
				<element name="attributeUpStreamBW" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="details_orderMessage">
		<annotation>
			<documentation>Details: Order Message</documentation>
		</annotation>
			<sequence>
				<element name="accountNumber" type="ds_ws:string50"/>
				<element name="alternativeSolution" type="ds_ws:alternativeSolution"/>
				<element name="bandwidth" type="ds_ws:string30"/>
				<element name="cctType" type="ds_ws:cctType"/>
				<element name="circuitNumber" type="ds_ws:string100"/>
				<element name="createdBy" type="ds_ws:string50"/>
				<element name="creationDate" type="cwf:date"/>
				<element name="customerIDNumber" type="ds_ws:string50"/>
				<element name="fictBillingNumber" type="ds_ws:string50"/>
				<element name="icmsSONumber" type="ds_ws:string12"/>
				<element name="locationAAccessCircuit" type="ds_ws:string50"/>
				<element name="locationAAccessType" type="ds_ws:locationAccessType"/>
				<element name="locationACCLICode" type="ds_ws:string50"/>
				<element name="locationACity" type="ds_ws:string60"/>
				<element name="locationAContactAddress" type="ds_ws:string50"/>
				<element name="locationAContactEmail" type="ds_ws:string50"/>
				<element name="locationAContactName" type="ds_ws:string50"/>
				<element name="locationAContactTel" type="ds_ws:string50"/>
				<element name="locationAExchangeSwitchCode" type="ds_ws:string50"/>
				<element name="locationAInterface" type="ds_ws:locationInterface"/>
				<element name="locationAJVCode" type="ds_ws:string40"/>
				<element name="locationAPlateID" type="ds_ws:string50"/>
				<element name="locationARemarks" type="ds_ws:string50"/>
				<element name="locationBAccessCircuit" type="ds_ws:string50"/>
				<element name="locationBAccessType" type="ds_ws:locationAccessType"/>
				<element name="locationBCCLICode" type="ds_ws:string50"/>
				<element name="locationBCity" type="ds_ws:string60"/>
				<element name="locationBContactAddress" type="ds_ws:string50"/>
				<element name="locationBContactEmail" type="ds_ws:string50"/>
				<element name="locationBContactName" type="ds_ws:string50"/>
				<element name="locationBContactTel" type="ds_ws:string50"/>
				<element name="locationBExchangeSwitchCode" type="ds_ws:string50"/>
				<element name="locationBInterface" type="ds_ws:locationInterface"/>
				<element name="locationBJVCode" type="ds_ws:string40"/>
				<element name="locationBPlateID" type="ds_ws:string50"/>
				<element name="locationBRemarks" type="ds_ws:string50"/>
				<element name="oldCircuitNumber" type="ds_ws:string100"/>
				<element name="orderNumber" type="ds_ws:string50"/>
				<element name="orderStatus" type="ds_ws:orderStatus"/>
				<element name="orderType" type="ds_ws:orderType"/>
				<element name="priority" type="ds_ws:priority"/>
				<element name="projectId" type="ds_ws:string50"/>
				<element name="referenceTelNumber" type="ds_ws:string50"/>
				<element name="remarks" type="ds_ws:string4000"/>
				<element name="serviceDate" type="cwf:date"/>
				<element name="serviceDescription" type="ds_ws:string1000"/>
				<element name="serviceType" type="ds_ws:serviceType"/>
				<element name="wires" type="ds_ws:wires"/>
				<element name="customerName" type="ds_ws:string60"/>
				<element name="customerType" type="ds_ws:string50"/>
				<element name="customerContact" type="ds_ws:string50"/>
				<element name="plateID" type="ds_ws:string50"/>
				<element name="oldPlateId" type="ds_ws:string50"/>
				<element name="tbPortNumber" type="ds_ws:string50"/>
				<element name="cwDocStamp" type="cwf:cwDocStamp"/>
				<element name="cwDocId" type="cwf:cwDocId"/>
				<element name="lastUpdatedDate" type="cwf:lastUpdatedDate"/>
				<element name="cwOrderCreationDate" type="cwf:cwOrderCreationDate"/>
				<element name="cwOrderId" type="cwf:cwOrderId"/>
				<element name="cwParentId" type="cwf:cwParentId"/>
				<element name="updatedBy" type="cwf:updatedBy"/>
				<element name="internalOrderStatus" type="ds_ws:internalOrderStatus"/>
				<element name="circuitStatus" type="ds_ws:circuitStatus"/>
				<element name="unitNumber" type="ds_ws:string50"/>
				<element name="oldUnitNumber" type="ds_ws:string50"/>
				<element name="businessUnit" type="ds_ws:businessUnit"/>
				<element name="customerIDType" type="ds_ws:string50"/>
				<element name="customerNumber" type="ds_ws:string50"/>
				<element name="actionOnOrder" type="ds_ws:actionOnOrder"/>
				<element name="dialogSizeX" type="xsd:integer"/>
				<element name="dialogSizeY" type="xsd:integer"/>
				<element name="migratedToBundle" type="xsd:boolean"/>
			</sequence>
		</complexType>

	<complexType name="skipNVPairName">
		<annotation>
			<documentation>Skip NV Pair Name</documentation>
		</annotation>
			<sequence>
				<element name="name" type="ds_ws:string100"/>
			</sequence>
		</complexType>

	<complexType name="newAttributesNVPairName">
		<annotation>
			<documentation>NewAttribute NV Pair Name</documentation>
		</annotation>
			<sequence>
				<element name="name" type="ds_ws:string100"/>
			</sequence>
		</complexType>

	<complexType name="search_ServiceTypeBehaviorConfigurationDoc">
		<annotation>
			<documentation>Search Element: ServiceType Behavior Configuration </documentation>
		</annotation>
			<sequence>
				<element name="serviceType" type="ds_ws:serviceType"/>
			</sequence>
		</complexType>

	<complexType name="blockNameWithAllValuesDocument">
		<annotation>
			<documentation>Block Name With All Values Document</documentation>
		</annotation>
			<sequence>
				<element name="name" type="ds_ws:string100"/>
				<element name="values" type="xsd:string"/>
				<element name="action" type="ds_ws:nvAction"/>
				<element name="parentElementId" type="cwf:docId"/>
				<element name="cwDocId" type="cwf:cwDocId"/>
			</sequence>
		</complexType>

	<complexType name="search_ProductTypeServiceTypeScanCfg">
		<annotation>
			<documentation>Search Element: Product Type &amp; Service Type Scan Configuration</documentation>
		</annotation>
			<sequence>
				<element name="productType" type="ds_ws:string255"/>
				<element name="serviceType" type="ds_ws:serviceType"/>
				<element name="reasonCode" type="ds_ws:string1000"/>
			</sequence>
		</complexType>

	<complexType name="search_NVPair_ServiceType_picklistDoc">
		<annotation>
			<documentation>Search Element: NVPair ServiceType PickList</documentation>
		</annotation>
			<sequence>
				<element name="serviceType" type="ds_ws:serviceType"/>
				<element name="nvpair_name" type="ds_ws:string100"/>
			</sequence>
		</complexType>

	<complexType name="search_ServiceTypeNameMap">
		<annotation>
			<documentation>Search Element: ServiceType Name Map</documentation>
		</annotation>
			<sequence>
				<element name="internalServiceType" type="ds_ws:serviceType"/>
				<element name="crmServiceType" type="ds_ws:serviceType"/>
			</sequence>
		</complexType>

	<complexType name="reasonCode">
		<annotation>
			<documentation>Reason Code</documentation>
		</annotation>
			<sequence>
				<element name="cwDocId" type="cwf:cwDocId"/>
				<element name="parentDocId" type="cwf:docId"/>
				<element name="cwOrderId" type="cwf:docId"/>
				<element name="reasonCode" type="ds_ws:string256"/>
			</sequence>
		</complexType>

	<complexType name="OrderAcknowledgementWithFailureDoc">
		<annotation>
			<documentation>OrderAcknowledgementWithFailure Doc</documentation>
		</annotation>
			<sequence>
				<element name="ErrorCode" type="ds_ws:string100"/>
				<element name="ErrorDescription" type="ds_ws:string4000"/>
				<element name="ErrorTime" type="ds_ws:string40"/>
				<element name="ErrorType" type="ds_ws:string25"/>
				<element name="FunctionName" type="xsd:string"/>
				<element name="ObjectId" type="ds_ws:string100"/>
				<element name="ProcessInstanceld" type="ds_ws:string100"/>
				<element name="SourceErrorCode" type="ds_ws:string100"/>
				<element name="Status" type="ds_ws:orderStatus"/>
				<element name="SystemName" type="ds_ws:string25"/>
				<element name="TargetRecored" type="ds_ws:string100"/>
				<element name="UserId" type="ds_ws:string100"/>
				<element name="Remarks" type="ds_ws:string4000"/>
				<element name="OrderNumber" type="ds_ws:string50"/>
				<element name="XngOrderNumber" type="ds_ws:string50"/>
				<element name="BusinessUnit" type="ds_ws:string50"/>
				<element name="cwDocStamp" type="cwf:cwDocStamp"/>
				<element name="lastUpdatedDate" type="cwf:lastUpdatedDate"/>
				<element name="cwOrderCreationDate" type="cwf:cwOrderCreationDate"/>
				<element name="cwOrderId" type="cwf:cwOrderId"/>
				<element name="cwParentId" type="cwf:cwParentId"/>
				<element name="updatedBy" type="cwf:updatedBy"/>
				<element name="cwDocId" type="cwf:cwDocId"/>
			</sequence>
		</complexType>

	<complexType name="search_ProductTypeNameMap">
		<annotation>
			<documentation>Search Element: ProductType Name Map</documentation>
		</annotation>
			<sequence>
				<element name="internalProductType" type="ds_ws:string255"/>
				<element name="crmProductType" type="ds_ws:string255"/>
			</sequence>
		</complexType>

	<complexType name="lineItemValidationMapDocument">
		<annotation>
			<documentation>LineItem Validation Map Document</documentation>
		</annotation>
			<sequence>
				<element name="serviceType" type="ds_ws:serviceType"/>
				<element name="orderType" type="ds_ws:orderType"/>
				<element name="lineItemType" type="xsd:boolean"/>
				<element name="oldServiceNumber" type="xsd:boolean"/>
				<element name="productType" type="xsd:boolean"/>
				<element name="remarks" type="xsd:boolean"/>
				<element name="referenceTelNumber" type="xsd:boolean"/>
				<element name="serviceDescription" type="xsd:boolean"/>
				<element name="bandwidth" type="xsd:boolean"/>
				<element name="accountNumber" type="xsd:boolean"/>
				<element name="oldAccountNumber" type="xsd:boolean"/>
				<element name="projectId" type="xsd:boolean"/>
				<element name="locationACity" type="xsd:boolean"/>
				<element name="locationACCLICode" type="xsd:boolean"/>
				<element name="locationAAccessCircuit" type="xsd:boolean"/>
				<element name="locationAJVCode" type="xsd:boolean"/>
				<element name="locationAExchangeSwitchCode" type="xsd:boolean"/>
				<element name="locationAAccessType" type="xsd:boolean"/>
				<element name="locationAPlateID" type="xsd:boolean"/>
				<element name="locationAOldPlateID" type="xsd:boolean"/>
				<element name="locationAContactAddress" type="xsd:boolean"/>
				<element name="locationAContactName" type="xsd:boolean"/>
				<element name="locationAContactTel" type="xsd:boolean"/>
				<element name="locationAContactEmail" type="xsd:boolean"/>
				<element name="locationAUnitNumber" type="xsd:boolean"/>
				<element name="locationAInterface" type="xsd:boolean"/>
				<element name="locationARemarks" type="xsd:boolean"/>
				<element name="locationBCity" type="xsd:boolean"/>
				<element name="locationBCCLICode" type="xsd:boolean"/>
				<element name="locationBAccessCircuit" type="xsd:boolean"/>
				<element name="locationBJVCode" type="xsd:boolean"/>
				<element name="locationBExchangeSwitchCode" type="xsd:boolean"/>
				<element name="locationBAccessType" type="xsd:boolean"/>
				<element name="locationBPlateID" type="xsd:boolean"/>
				<element name="locationBOldPlateID" type="xsd:boolean"/>
				<element name="locationBContactAddress" type="xsd:boolean"/>
				<element name="locationBContactName" type="xsd:boolean"/>
				<element name="locationBContactTel" type="xsd:boolean"/>
				<element name="locationBContactEmail" type="xsd:boolean"/>
				<element name="locationBUnitNumber" type="xsd:boolean"/>
				<element name="locationBInterface" type="xsd:boolean"/>
				<element name="locationBRemarks" type="xsd:boolean"/>
				<element name="tbPortNumber" type="xsd:boolean"/>
				<element name="wires" type="xsd:boolean"/>
				<element name="serviceDate" type="xsd:boolean"/>
				<element name="creationDate" type="xsd:boolean"/>
			</sequence>
		</complexType>

	<complexType name="blockValue">
		<annotation>
			<documentation>Block Value</documentation>
		</annotation>
			<sequence>
				<element name="cwDocId" type="cwf:cwDocId"/>
				<element name="parentDocId" type="cwf:docId"/>
				<element name="cwOrderId" type="cwf:docId"/>
				<element name="blockValue" type="ds_ws:string4000"/>
			</sequence>
		</complexType>

	<complexType name="lineItemDocument">
		<annotation>
			<documentation>Generic LineItem</documentation>
		</annotation>
			<sequence>
				<element name="lineItemIdentifier" type="ds_ws:string255"/>
				<element name="scanMode" type="ds_ws:scanMode"/>
				<element name="lineItemType" type="ds_ws:string10"/>
				<element name="lineItemStatus" type="ds_ws:string25"/>
				<element name="workOrderNumber" type="ds_ws:string20"/>
				<element name="priority" type="ds_ws:lineItemPriority"/>
				<element name="action" type="ds_ws:lineItemAction"/>
				<element name="serviceType" type="ds_ws:serviceType"/>
				<element name="serviceNumber" type="ds_ws:string255"/>
				<element name="oldServiceNumber" type="ds_ws:string255"/>
				<element name="productType" type="ds_ws:string255"/>
				<element name="remarks" type="ds_ws:string4000"/>
				<element name="icmsSONumber" type="ds_ws:string12"/>
				<element name="fictBillingNumber" type="ds_ws:string50"/>
				<element name="referenceTelNumber" type="ds_ws:string50"/>
				<element name="serviceDescription" type="ds_ws:string50"/>
				<element name="bandwidth" type="ds_ws:string30"/>
				<element name="accountNumber" type="ds_ws:string50"/>
				<element name="oldAccountNumber" type="ds_ws:string50"/>
				<element name="projectId" type="ds_ws:string50"/>
				<element name="locationACity" type="ds_ws:string60"/>
				<element name="locationACCLICode" type="ds_ws:string50"/>
				<element name="locationAAccessCircuit" type="ds_ws:string50"/>
				<element name="locationAJVCode" type="ds_ws:string40"/>
				<element name="locationAExchangeSwitchCode" type="ds_ws:string50"/>
				<element name="locationAAccessType" type="ds_ws:locationAccessType"/>
				<element name="locationAPlateID" type="ds_ws:string50"/>
				<element name="locationAOldPlateID" type="ds_ws:string50"/>
				<element name="locationAContactAddress" type="ds_ws:string50"/>
				<element name="locationAContactName" type="ds_ws:string50"/>
				<element name="locationAContactTel" type="ds_ws:string50"/>
				<element name="locationAContactEmail" type="ds_ws:string50"/>
				<element name="locationAUnitNumber" type="ds_ws:string20"/>
				<element name="locationAInterface" type="ds_ws:locationInterface"/>
				<element name="locationARemarks" type="ds_ws:string50"/>
				<element name="locationBCity" type="ds_ws:string60"/>
				<element name="locationBCCLICode" type="ds_ws:string50"/>
				<element name="locationBAccessCircuit" type="ds_ws:string50"/>
				<element name="locationBJVCode" type="ds_ws:string40"/>
				<element name="locationBExchangeSwitchCode" type="ds_ws:string50"/>
				<element name="locationBAccessType" type="ds_ws:locationAccessType"/>
				<element name="locationBPlateID" type="ds_ws:string50"/>
				<element name="locationBOldPlateID" type="ds_ws:string50"/>
				<element name="locationBContactAddress" type="ds_ws:string50"/>
				<element name="locationBContactName" type="ds_ws:string50"/>
				<element name="locationBContactTel" type="ds_ws:string50"/>
				<element name="locationBContactEmail" type="ds_ws:string50"/>
				<element name="locationBUnitNumber" type="ds_ws:string20"/>
				<element name="locationBInterface" type="ds_ws:locationInterface"/>
				<element name="locationBRemarks" type="ds_ws:string50"/>
				<element name="tbPortNumber" type="ds_ws:string255"/>
				<element name="wires" type="ds_ws:wires"/>
				<element name="serviceDate" type="cwf:dateTimeSec"/>
				<element name="creationDate" type="cwf:dateTimeSec"/>
				<element name="dependencies" type="ds_ws:string4000"/>
				<element name="elementTypeInOrderTree" type="ds_ws:elementTypeInOrderTree"/>
				<element name="isSubmit" type="xsd:boolean"/>
				<element name="isCancel" type="xsd:boolean"/>
				<element name="alreadySentToGranite" type="xsd:boolean"/>
				<element name="alreadyReceivedCancel" type="xsd:boolean"/>
				<element name="sentAnytimeToGranite" type="xsd:boolean"/>
				<element name="requestedActionIsA" type="xsd:boolean"/>
				<element name="disconnectOrderLinked" type="xsd:boolean"/>
				<element name="provisioningFlag" type="ds_ws:provisioningFlag"/>
				<element name="completionDate" type="cwf:dateTimeSec"/>
				<element name="cwDocId" type="cwf:cwDocId"/>
				<element name="cwDocStamp" type="cwf:cwDocStamp"/>
				<element name="cwOrderCreationDate" type="cwf:cwOrderCreationDate"/>
				<element name="cwOrderId" type="cwf:cwOrderId"/>
				<element name="cwParentId" type="cwf:cwParentId"/>
				<element name="lastUpdatedDate" type="cwf:lastUpdatedDate"/>
				<element name="updatedBy" type="cwf:updatedBy"/>
			</sequence>
		</complexType>

	<complexType name="search_ValidationMap_serviceType_OrderTypeDoc">
		<annotation>
			<documentation>Search Element: LineItem ValidationMap By ServiceType &amp; OrderType</documentation>
		</annotation>
			<sequence>
				<element name="orderType" type="ds_ws:orderType"/>
				<element name="serviceType" type="ds_ws:serviceType"/>
			</sequence>
		</complexType>

	<complexType name="bundleOrderHeaderValidationMapDocument">
		<annotation>
			<documentation>BundleOrderHeader ValidationMap Document</documentation>
		</annotation>
			<sequence>
				<element name="orderType" type="ds_ws:orderType"/>
				<element name="customerIdNumber" type="xsd:boolean"/>
				<element name="accountNumber" type="xsd:boolean"/>
				<element name="customerType" type="xsd:boolean"/>
				<element name="customerIDType" type="xsd:boolean"/>
				<element name="customerContact" type="xsd:boolean"/>
				<element name="customerContactName" type="xsd:boolean"/>
				<element name="customerName" type="xsd:boolean"/>
				<element name="customerNumber" type="xsd:boolean"/>
				<element name="createdByName" type="xsd:boolean"/>
				<element name="createdByContactName" type="xsd:boolean"/>
				<element name="serviceDate" type="xsd:boolean"/>
				<element name="priority" type="xsd:boolean"/>
				<element name="remarks" type="xsd:boolean"/>
				<element name="referenceTelNumber" type="xsd:boolean"/>
				<element name="version" type="xsd:boolean"/>
				<element name="customerSegmentation" type="xsd:boolean"/>
				<element name="feasibilityFor" type="xsd:boolean"/>
				<element name="reservation" type="xsd:boolean"/>
				<element name="reservationNumber" type="xsd:boolean"/>
				<element name="icmsSalesOrderNumber" type="xsd:boolean"/>
			</sequence>
		</complexType>

	<complexType name="searchLineItemDoc">
		<annotation>
			<documentation>Search Element: LineItem</documentation>
		</annotation>
			<sequence>
				<element name="lineItemIdentifier" type="ds_ws:string255"/>
				<element name="serviceNumber" type="ds_ws:string255"/>
				<element name="elementTypeInOrderTree" type="ds_ws:elementTypeInOrderTree"/>
				<element name="provisioningFlag" type="ds_ws:string10"/>
			</sequence>
		</complexType>

	<complexType name="serviceTypeBehaviorConfiguration">
		<annotation>
			<documentation>ServiceType Behavior Configuration</documentation>
		</annotation>
			<sequence>
				<element name="serviceType" type="ds_ws:serviceType"/>
				<element name="externalValidationRequired" type="xsd:boolean"/>
				<element name="sendDisconnectForCancel" type="xsd:boolean"/>
				<element name="supportProvisioning" type="xsd:boolean"/>
				<element name="supportPartialCancel" type="xsd:boolean"/>
				<element name="disconnectForNVPair_ExistingCircuit" type="xsd:boolean"/>
			</sequence>
		</complexType>

	<complexType name="nameValueDocument">
		<annotation>
			<documentation>Name Value</documentation>
		</annotation>
			<sequence>
				<element name="name" type="ds_ws:string100"/>
				<element name="value" type="ds_ws:string4000"/>
				<element name="action" type="ds_ws:nvAction"/>
				<element name="cwDocStamp" type="cwf:cwDocStamp"/>
				<element name="cwDocId" type="cwf:cwDocId"/>
				<element name="lastUpdatedDate" type="cwf:lastUpdatedDate"/>
				<element name="cwOrderCreationDate" type="cwf:cwOrderCreationDate"/>
				<element name="cwOrderId" type="cwf:cwOrderId"/>
				<element name="cwParentId" type="cwf:cwParentId"/>
				<element name="updatedBy" type="cwf:updatedBy"/>
				<element name="parentElementId" type="cwf:docId"/>
			</sequence>
		</complexType>

	<complexType name="STC_PRODTYPE_SCAN_CFG">
		<annotation>
			<documentation>Product Type &amp; Service Type Scan Configuration</documentation>
		</annotation>
			<sequence>
				<element name="cwDocId" type="cwf:cwDocId"/>
				<element name="productType" type="ds_ws:string255"/>
				<element name="serviceType" type="ds_ws:serviceType"/>
				<element name="reasonCode" type="ds_ws:string1000"/>
				<element name="scanTopDown" type="xsd:boolean"/>
			</sequence>
		</complexType>

	<complexType name="search_ProductType">
		<annotation>
			<documentation>Search Element: ProductType</documentation>
		</annotation>
			<sequence>
				<element name="productType" type="ds_ws:string255"/>
			</sequence>
		</complexType>

	<complexType name="search_MessageLog">
		<annotation>
			<documentation>Search Element: Message Log</documentation>
		</annotation>
			<complexContent>
				<extension base="cwf_pm:messageLogSearch">
					<sequence>
						<element name="crmOrderNumber" type="cwf:String64"/>
						<element name="workOrderNumber" type="cwf:String64"/>
					</sequence>
						</extension>
					</complexContent>
				</complexType>

	<complexType name="search_NVPairName">
		<annotation>
			<documentation>Search Element: NV Pair Name</documentation>
		</annotation>
			<sequence>
				<element name="name" type="ds_ws:string100"/>
			</sequence>
		</complexType>

	<complexType name="STC_BLOCKPARAMS_CONFIGURATION">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Block Parameters Configuration Table
&lt;/p&gt;</documentation>
			<appinfo>
				<label>STC Block Parameters Configuration</label>
			</appinfo>
		</annotation>
			<sequence>
				<element name="cwDocId" type="cwf:cwDocId"/>
				<element name="isMandatory" type="xsd:boolean"/>
				<element name="blockParameterName" type="ds_ws:string4000"/>
				<element name="orderStatus" type="ds_ws:initialOrderStatus"/>
				<element name="serviceType" type="ds_ws:serviceType"/>
				<element name="orderType" type="ds_ws:orderType"/>
			</sequence>
		</complexType>

	<complexType name="nvPair_ServiceType_pickListForValidation">
		<annotation>
			<documentation>NVPair_ServiceType PickList For Validation</documentation>
		</annotation>
			<sequence>
				<element name="serviceType" type="ds_ws:serviceType"/>
				<element name="nvpair_name" type="ds_ws:string100"/>
				<element name="value" type="ds_ws:string4000"/>
			</sequence>
		</complexType>

	<complexType name="search_bundleOrder">
		<annotation>
			<documentation>Search Element: BundleOrder</documentation>
		</annotation>
			<sequence>
				<element name="orderNumber" type="ds_ws:string50"/>
				<element name="orderType" type="ds_ws:orderType"/>
				<element name="orderStatus" type="ds_ws:orderStatus"/>
				<element name="accountNumber" type="ds_ws:string50"/>
				<element name="customerIdNumber" type="ds_ws:string50"/>
				<element name="reservationNumber" type="ds_ws:string50"/>
				<element name="receivedDateMin" type="xsd:dateTime"/>
				<element name="receivedDateMax" type="xsd:dateTime"/>
				<element name="creationDateMin" type="xsd:dateTime"/>
				<element name="creationDateMax" type="xsd:dateTime"/>
				<element name="isMigrated" type="xsd:boolean"/>
			</sequence>
		</complexType>

	<complexType name="search_ValidationMap_OrderTypeDoc">
		<annotation>
			<documentation>Search Element: BundleOrderHeader ValidationMap By OrderType</documentation>
		</annotation>
			<sequence>
				<element name="orderType" type="ds_ws:orderType"/>
			</sequence>
		</complexType>

	<complexType name="STC_SERVICETYPE_NAME_MAP">
		<annotation>
			<documentation>ServiceType Name Map Document</documentation>
		</annotation>
			<sequence>
				<element name="internalServiceType" type="ds_ws:serviceType"/>
				<element name="crmServiceType" type="ds_ws:serviceType"/>
			</sequence>
		</complexType>

	<complexType name="nvMandatoryNamesForLineItems">
		<annotation>
			<documentation>Names of NVPair Mandatory For LineItem</documentation>
		</annotation>
			<sequence>
				<element name="orderType" type="ds_ws:orderType"/>
				<element name="serviceType" type="ds_ws:serviceType"/>
				<element name="nameNVPair" type="ds_ws:string100"/>
				<element name="cwDocId" type="cwf:cwDocId"/>
			</sequence>
		</complexType>

	<complexType name="bundleProductType">
		<annotation>
			<documentation>Bundle ProductType</documentation>
		</annotation>
			<sequence>
				<element name="productType" type="ds_ws:string255"/>
			</sequence>
		</complexType>

	<complexType name="pickListForValidation">
		<annotation>
			<documentation>PickList For Validation</documentation>
		</annotation>
			<sequence>
				<element name="cwDocId" type="cwf:cwDocId"/>
				<element name="dataTypeName" type="ds_ws:string100"/>
				<element name="sequence" type="ds_ws:integer3"/>
				<element name="value" type="ds_ws:string100"/>
			</sequence>
		</complexType>

	<complexType name="search_BlockParametersForConfiguration">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Block Parameters For Search in Configuration
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Search Element: BlockParameters Configuration</label>
			</appinfo>
		</annotation>
			<sequence>
				<element name="isMandatory" type="xsd:boolean"/>
				<element name="blockParameterName" type="ds_ws:string4000"/>
				<element name="orderStatus" type="ds_ws:initialOrderStatus"/>
				<element name="serviceType" type="ds_ws:serviceType"/>
				<element name="orderType" type="ds_ws:orderType"/>
			</sequence>
		</complexType>

	<complexType name="search_orderMessage">
		<annotation>
			<documentation>Search Element: Order Message</documentation>
		</annotation>
			<sequence>
				<element name="orderNumber" type="ds_ws:string50"/>
				<element name="orderStatus" type="ds_ws:string50"/>
				<element name="accountNumber" type="ds_ws:string50"/>
				<element name="cctType" type="ds_ws:cctType"/>
				<element name="circuitNumber" type="ds_ws:string100"/>
				<element name="orderType" type="ds_ws:orderType"/>
				<element name="customerIDNumber" type="ds_ws:string50"/>
				<element name="internalOrderStatus" type="ds_ws:internalOrderStatus"/>
				<element name="before" type="cwf:dateTimeSec"/>
				<element name="after" type="cwf:dateTimeSec"/>
				<element name="migratedToBundle" type="xsd:boolean"/>
			</sequence>
		</complexType>

	<complexType name="blockNameValueDocument">
		<annotation>
			<documentation>Block Name Value</documentation>
		</annotation>
			<sequence>
				<element name="name" type="ds_ws:string100"/>
				<element name="action" type="ds_ws:nvAction"/>
				<element name="cwDocStamp" type="cwf:cwDocStamp"/>
				<element name="cwDocId" type="cwf:cwDocId"/>
				<element name="lastUpdatedDate" type="cwf:lastUpdatedDate"/>
				<element name="cwOrderCreationDate" type="cwf:cwOrderCreationDate"/>
				<element name="cwOrderId" type="cwf:cwOrderId"/>
				<element name="cwParentId" type="cwf:cwParentId"/>
				<element name="updatedBy" type="cwf:updatedBy"/>
				<element name="parentElementId" type="cwf:docId"/>
				<element name="values" type="xsd:string"/>
			</sequence>
		</complexType>

</schema>
