OrderManager/EBU16/CWProject/resources/schema/receiveWorkOrderStatusUpdate - old.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="receiveWorkOrderStatusUpdate" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="receiveWorkOrderStatusUpdate" targetNamespace="receiveWorkOrderStatusUpdate">
	<wsdl:types>
		<xsd:schema targetNamespace="receiveWorkOrderStatusUpdate" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="receiveWorkOrderStatusUpdate">
			<xsd:element name="receiveWorkOrderStatusUpdate" type="tns:receiveWorkOrderStatusUpdate"/>
			<xsd:element name="receiveWorkOrderStatusUpdateResponse" type="tns:receiveWorkOrderStatusUpdateResponse"/>
			<xsd:complexType name="receiveWorkOrderStatusUpdate">
				<xsd:sequence>
					<xsd:element name="workOrderStatusUpdateRequest" type="tns:WorkOrderStatusUpdateRequest"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="WorkOrderStatusUpdateRequest">
				<xsd:sequence>
					<xsd:element name="header" type="tns:RequestHeader"/>
					<xsd:element name="body" type="tns:body"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="RequestHeader">
				<xsd:sequence>
					<xsd:element name="systemId" type="xsd:string"/>
					<xsd:element name="serverInfo" type="xsd:string"/>
					<xsd:element name="messageId" type="xsd:string"/>
					<xsd:element name="conversationId" nillable="true" type="xsd:string" minOccurs="0"/>
					<xsd:element name="timestamp" type="xsd:dateTime"/>
					<xsd:element name="domainId" type="xsd:string"/>
					<xsd:element name="serviceId" type="xsd:string"/>
					<xsd:element name="operationType" type="xsd:string"/>
					<xsd:element name="userId" nillable="true" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="body">
				<xsd:sequence>
					<xsd:element name="crmOrderNumber" type="xsd:string"/>
					<xsd:element name="crmOrderStatus" type="xsd:string"/>
					<xsd:element name="businessUnit" type="xsd:string"/>
					<xsd:element name="reservationNumber" nillable="true" type="xsd:string" minOccurs="0"/>
					<xsd:element name="lineItemIdentifier" type="xsd:string"/>
					<xsd:element name="lineItemStatus" type="xsd:string"/>
					<xsd:element name="lineItemType" type="xsd:string"/>
					<xsd:element name="remarks" nillable="true" type="xsd:string" minOccurs="0"/>
					<xsd:element name="lineItemValuePairs" nillable="true" type="tns:lineItemValuePairs" minOccurs="0"/>
					<xsd:element name="workOrderName" type="xsd:string"/>
					<xsd:element name="workOrderStatus" type="xsd:string"/>
					<xsd:element name="workOrderRemarks" nillable="true" type="xsd:string" minOccurs="0"/>
					<xsd:element name="workOrderProblemDescription" nillable="true" type="xsd:string" minOccurs="0"/>
					<xsd:element name="workOrderServiceCompletionStatus" nillable="true" type="xsd:string" minOccurs="0"/>
					<xsd:element name="taskNumber" type="xsd:string"/>
					<xsd:element name="taskName" type="xsd:string"/>
					<xsd:element name="taskAllocatedTime" nillable="true" type="xsd:string" minOccurs="0"/>
					<xsd:element name="taskDescription" nillable="true" type="xsd:string" minOccurs="0"/>
					<xsd:element name="taskOperation" type="xsd:string"/>
					<xsd:element name="taskPriority" nillable="true" type="xsd:string" minOccurs="0"/>
					<xsd:element name="taskServiceStatus" nillable="true" type="xsd:string" minOccurs="0"/>
					<xsd:element name="taskStatusCode" type="xsd:string"/>
					<xsd:element name="taskDeptOf" nillable="true" type="xsd:string" minOccurs="0"/>
					<xsd:element name="taskRemarks" nillable="true" type="xsd:string" minOccurs="0"/>
					<xsd:element name="taskJeopardyStatus" nillable="true" type="xsd:string" minOccurs="0"/>
					<xsd:element name="woStage" nillable="true" type="xsd:string" minOccurs="0"/>
					<xsd:element name="icmsTaskId" nillable="true" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="lineItemValuePairs">
				<xsd:sequence>
					<xsd:element name="addParameters" nillable="true" type="tns:addParameters" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="addParameters">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="value" nillable="true" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="receiveWorkOrderStatusUpdateResponse">
				<xsd:sequence>
					<xsd:element name="workOrderStatusUpdateResponse" type="tns:WorkOrderStatusUpdateResponse"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="WorkOrderStatusUpdateResponse">
				<xsd:sequence>
					<xsd:element name="header" type="tns:ResponseHeader"/>
					<xsd:element name="status" type="tns:Status"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ResponseHeader">
				<xsd:sequence>
					<xsd:element name="systemId" type="xsd:string"/>
					<xsd:element name="serverInfo" type="xsd:string"/>
					<xsd:element name="messageId" type="xsd:string"/>
					<xsd:element name="conversationId" nillable="true" type="xsd:string" minOccurs="0"/>
					<xsd:element name="timestamp" type="xsd:string"/>
					<xsd:element name="domainId" type="xsd:string"/>
					<xsd:element name="serviceId" type="xsd:string"/>
					<xsd:element name="operationType" type="xsd:string"/>
					<xsd:element name="userId" nillable="true" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Status">
				<xsd:sequence>
					<xsd:element name="status" type="xsd:string"/>
					<xsd:element name="error" nillable="true" type="tns:error" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="error">
				<xsd:sequence>
					<xsd:element name="errorSourceSystem" nillable="true" type="xsd:string" minOccurs="0"/>
					<xsd:element name="errorSourceCode" nillable="true" type="xsd:string" minOccurs="0"/>
					<xsd:element name="errorCode" type="xsd:string"/>
					<xsd:element name="errorType" type="xsd:string"/>
					<xsd:element name="errorDescription" nillable="true" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="receiveWorkOrderStatusUpdate_PortType_receiveWorkOrderStatusUpdate">
		<wsdl:part name="parameters" element="tns:receiveWorkOrderStatusUpdate">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="receiveWorkOrderStatusUpdate_PortType_receiveWorkOrderStatusUpdateResponse">
		<wsdl:part name="parameters" element="tns:receiveWorkOrderStatusUpdateResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="receiveWorkOrderStatusUpdate_PortType">
		<wsdl:operation name="receiveWorkOrderStatusUpdate">
			<wsdl:input message="tns:receiveWorkOrderStatusUpdate_PortType_receiveWorkOrderStatusUpdate">
    </wsdl:input>
			<wsdl:output message="tns:receiveWorkOrderStatusUpdate_PortType_receiveWorkOrderStatusUpdateResponse">
    </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GraniteGW_Data_order_workOrderStatusUpdate_ws_provider_receiveWorkOrderStatusUpdate_Binder" type="tns:receiveWorkOrderStatusUpdate_PortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="receiveWorkOrderStatusUpdate">
			<soap:operation soapAction="GraniteGW_Data_order_workOrderStatusUpdate_ws_provider_receiveWorkOrderStatusUpdate_Binder_receiveWorkOrderStatusUpdate" style="document"/>
			<wsdl:input>
				<soap:body parts="parameters" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="parameters" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="receiveWorkOrderStatusUpdate">
		<wsdl:port name="GraniteGW_Data_order_workOrderStatusUpdate_ws_provider_receiveWorkOrderStatusUpdate_Port" binding="tns:GraniteGW_Data_order_workOrderStatusUpdate_ws_provider_receiveWorkOrderStatusUpdate_Binder">
			<soap:address location="http://STC.com.sa:8080/ws/GraniteGW_Data.order.workOrderStatusUpdate.ws.provider:receiveWorkOrderStatusUpdate/GraniteGW_Data_order_workOrderStatusUpdate_ws_provider_receiveWorkOrderStatusUpdate_Port"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
