OrderManager/GraniteWSForEOC/graniteServiceForEOC_v0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8-b13937 svn-revision#13942. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8-b13937 svn-revision#13942. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://com.ericsson.stc.granitews4eoc" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://com.ericsson.stc.granitews4eoc" name="GraniteServiceForEOC">
	<types>
		<xsd:schema xmlns:ns0="http://com.ericsson.stc.granitews4eoc" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com.ericsson.stc.granitews4eoc">
			<xsd:complexType name="updateONTInfoPojo">
				<xsd:sequence>
					<xsd:element name="equipInstId" type="xsd:int"/>
					<xsd:element name="serialNo" type="xsd:string"/>
					<xsd:element name="udaDetailsPojos" type="ns0:udaDetailsPojo" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="udaDetailsPojo">
				<xsd:sequence>
					<xsd:element name="udaName" type="xsd:string"/>
					<xsd:element name="udaGroup" type="xsd:string"/>
					<xsd:element name="udaValue" type="xsd:string" nillable="true"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="completeTaskResponse">
				<xsd:sequence>
					<xsd:element name="ResultMessage" type="ns0:resultPojo" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="completeBlockedTaskResponse">
				<xsd:sequence>
					<xsd:element name="ResultMessage" type="ns0:resultPojo" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="resultPojo">
				<xsd:sequence>
					<xsd:element name="result" type="xsd:string"/>
					<xsd:element name="errorCode" type="xsd:string" minOccurs="0"/>
					<xsd:element name="errorDescription" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="completeBlockedTaskPojo">
				<xsd:sequence>
					<xsd:element name="sourceTaskInstId" type="xsd:int"/>
					<xsd:element name="newQueueName" type="xsd:string"/>
					<xsd:element name="blockingTaskInstId" type="xsd:int"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="completeTaskPojo">
				<xsd:sequence>
					<xsd:element name="taskInstId" type="xsd:int"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="updateOLT_ONTInfo">
				<xsd:sequence>
					<xsd:element name="UpdateOLT_ONTInfoInputMessage" type="ns0:updateOLT_ONTInfoPojo" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="changeTaskStatusPojo">
				<xsd:sequence>
					<xsd:element name="taskInstId" type="xsd:int"/>
					<xsd:element name="newStatusCode" type="xsd:int"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="updateOLT_ONTInfoPojo">
				<xsd:sequence>
					<xsd:element name="updateOLTInfoPojo" type="ns0:updateOLTInfoPojo"/>
					<xsd:element name="updateONTInfoPojo" type="ns0:updateONTInfoPojo"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="moveTaskToNewQueuePojo">
				<xsd:sequence>
					<xsd:element name="taskInstId" type="xsd:int"/>
					<xsd:element name="newQueueName" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="changeTaskStatusResponse">
				<xsd:sequence>
					<xsd:element name="ResultMessage" type="ns0:resultPojo" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="moveTaskToNewQueueResponse">
				<xsd:sequence>
					<xsd:element name="ResultMessage" type="ns0:resultPojo" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="updateOLT_ONTInfoResponse">
				<xsd:sequence>
					<xsd:element name="ResultMessage" type="ns0:resultPojo" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="completeTask">
				<xsd:sequence>
					<xsd:element name="CompleteTaskInputMessage" type="ns0:completeTaskPojo" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="moveTaskToNewQueue">
				<xsd:sequence>
					<xsd:element name="MoveTaskToNewQueueInputMessage" type="ns0:moveTaskToNewQueuePojo" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="completeBlockedTask">
				<xsd:sequence>
					<xsd:element name="CompleteBlockedTaskInputMessage" type="ns0:completeBlockedTaskPojo" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="changeTaskStatus">
				<xsd:sequence>
					<xsd:element name="ChangeTaskStatusInputMessage" type="ns0:changeTaskStatusPojo" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="updateOLTInfoPojo">
				<xsd:sequence>
					<xsd:element name="portInstId" type="xsd:int"/>
					<xsd:element name="equipInstId" type="xsd:int"/>
					<xsd:element name="udaDetailsPojos" type="ns0:udaDetailsPojo" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="completeTaskResponse" type="ns0:completeTaskResponse"/>
			<xsd:element name="updateOLT_ONTInfoResponse" type="ns0:updateOLT_ONTInfoResponse"/>
			<xsd:element name="moveTaskToNewQueueResponse" type="ns0:moveTaskToNewQueueResponse"/>
			<xsd:element name="changeTaskStatusResponse" type="ns0:changeTaskStatusResponse"/>
			<xsd:element name="completeTask" type="ns0:completeTask"/>
			<xsd:element name="moveTaskToNewQueue" type="ns0:moveTaskToNewQueue"/>
			<xsd:element name="completeBlockedTaskResponse" type="ns0:completeBlockedTaskResponse"/>
			<xsd:element name="updateOLT_ONTInfo" type="ns0:updateOLT_ONTInfo"/>
			<xsd:element name="completeBlockedTask" type="ns0:completeBlockedTask"/>
			<xsd:element name="changeTaskStatus" type="ns0:changeTaskStatus"/>
		</xsd:schema>
	</types>
	<message name="completeTask">
		<part name="parameters" element="tns:completeTask"/>
	</message>
	<message name="completeTaskResponse">
		<part name="parameters" element="tns:completeTaskResponse"/>
	</message>
	<message name="changeTaskStatus">
		<part name="parameters" element="tns:changeTaskStatus"/>
	</message>
	<message name="changeTaskStatusResponse">
		<part name="parameters" element="tns:changeTaskStatusResponse"/>
	</message>
	<message name="completeBlockedTask">
		<part name="parameters" element="tns:completeBlockedTask"/>
	</message>
	<message name="completeBlockedTaskResponse">
		<part name="parameters" element="tns:completeBlockedTaskResponse"/>
	</message>
	<message name="moveTaskToNewQueue">
		<part name="parameters" element="tns:moveTaskToNewQueue"/>
	</message>
	<message name="moveTaskToNewQueueResponse">
		<part name="parameters" element="tns:moveTaskToNewQueueResponse"/>
	</message>
	<message name="updateOLT_ONTInfo">
		<part name="parameters" element="tns:updateOLT_ONTInfo"/>
	</message>
	<message name="updateOLT_ONTInfoResponse">
		<part name="parameters" element="tns:updateOLT_ONTInfoResponse"/>
	</message>
	<portType name="GraniteServiceForEOCPortType">
		<operation name="completeTask">
			<input wsam:Action="completeTask" message="tns:completeTask"/>
			<output wsam:Action="http://com.ericsson.stc.granitews4eoc/GraniteServiceForEOCPortType/completeTaskResponse" message="tns:completeTaskResponse"/>
		</operation>
		<operation name="changeTaskStatus">
			<input wsam:Action="changeTaskStatus" message="tns:changeTaskStatus"/>
			<output wsam:Action="http://com.ericsson.stc.granitews4eoc/GraniteServiceForEOCPortType/changeTaskStatusResponse" message="tns:changeTaskStatusResponse"/>
		</operation>
		<operation name="completeBlockedTask">
			<input wsam:Action="completeBlockedTask" message="tns:completeBlockedTask"/>
			<output wsam:Action="http://com.ericsson.stc.granitews4eoc/GraniteServiceForEOCPortType/completeBlockedTaskResponse" message="tns:completeBlockedTaskResponse"/>
		</operation>
		<operation name="moveTaskToNewQueue">
			<input wsam:Action="moveTaskToNewQueue" message="tns:moveTaskToNewQueue"/>
			<output wsam:Action="http://com.ericsson.stc.granitews4eoc/GraniteServiceForEOCPortType/moveTaskToNewQueueResponse" message="tns:moveTaskToNewQueueResponse"/>
		</operation>
		<operation name="updateOLT_ONTInfo">
			<input wsam:Action="updateOLT_ONTInfo" message="tns:updateOLT_ONTInfo"/>
			<output wsam:Action="http://com.ericsson.stc.granitews4eoc/GraniteServiceForEOCPortType/updateOLT_ONTInfoResponse" message="tns:updateOLT_ONTInfoResponse"/>
		</operation>
	</portType>
	<binding name="GraniteServiceForEOCPortTypePortBinding" type="tns:GraniteServiceForEOCPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<operation name="completeTask">
			<soap:operation soapAction="completeTask"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="changeTaskStatus">
			<soap:operation soapAction="changeTaskStatus"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="completeBlockedTask">
			<soap:operation soapAction="completeBlockedTask"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="moveTaskToNewQueue">
			<soap:operation soapAction="moveTaskToNewQueue"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="updateOLT_ONTInfo">
			<soap:operation soapAction="updateOLT_ONTInfo"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="GraniteServiceForEOC">
		<port name="GraniteServiceForEOCPortTypePort" binding="tns:GraniteServiceForEOCPortTypePortBinding">
			<soap:address location="http://localhost:8283/graniteWSForEOC/GraniteServiceForEOC"/>
		</port>
	</service>
</definitions>
