OrderManager/WBU16/CWProject/resources/ifExpediter_GRANITE.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions name="wgws" targetNamespace="http://www.telcordia.com/wholesale" xmlns:tns="http://www.telcordia.com/wholesale" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wgws="http://www.telcordia.com/wholesale">

	<types>
		<schema targetNamespace="http://www.telcordia.com/wholesale"
				xmlns="http://www.w3.org/2001/XMLSchema"
			xmlns:wgws="http://www.telcordia.com/wholesale"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">



			<annotation>
				<documentation>Wholesale Web Services For Granite</documentation>
				<appinfo>
					<metadata>STC Order Management</metadata>
					<created>Wed Jun 10 08:27:53 EDT 2009</created>
					<updated>Thu May 23 17:12:44 EDT 2013</updated>
				</appinfo>
			</annotation>

			<!-- Data types and elements -->

			<!-- Structures -->

			<complexType name="nameValuePair">
				<annotation>
					<documentation>nameValuePair</documentation>
				</annotation>
					<sequence>
						<element name="name" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						<element name="value" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<complexType name="orderStatus">
				<annotation>
					<documentation>orderStatus</documentation>
				</annotation>
					<sequence>
						<element name="orderNumber" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						<element name="businessUnit" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						<element name="assetNumber" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						<element name="workOrderStatus" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						<element name="assetStatus" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						<element name="NINumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="systemDesignation" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="comments" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="nameValue" minOccurs="0" maxOccurs="9999" type="wgws:nameValuePair"/>
					</sequence>
				</complexType>

			<complexType name="quoteStatus">
				<annotation>
					<documentation>quoteStatus</documentation>
				</annotation>
					<sequence>
						<element name="quoteNumber" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						<element name="orderRowItemId" minOccurs="1" maxOccurs="1" type="xsd:int"/>
						<element name="feasibilityStatus" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="reservationDays" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="plannedFeasibleDays" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="actualImplementationDays" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="reservationNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="businessUnit" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="workOrderStatus" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="comments" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<element name="restoration" type="wgws:restorationInfo"/>

			<complexType name="restorationInfo">
				<annotation>
					<documentation>restorationInfo</documentation>
				</annotation>
					<sequence>
						<element name="orderNumber" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						<element name="accountNumber" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						<element name="productCode" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						<element name="newAssetStatus" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						<element name="oldAssetNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="newAssetNumber" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						<element name="businessUnit" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						<element name="nameValue" minOccurs="0" maxOccurs="9999" type="wgws:nameValuePair"/>
					</sequence>
				</complexType>

			<element name="restorationResponse" type="wgws:status"/>

			<complexType name="siteInfo">
				<annotation>
					<documentation>siteInfo</documentation>
				</annotation>
					<sequence>
						<element name="businessUnit" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						<element name="ccliCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="city" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="cityCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="country" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="district" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="districtCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="region" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="siteID" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						<element name="siteName" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						<element name="siteType" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						<element name="status" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						<element name="commercialSiteName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="latitude" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="longitude" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<element name="siteInformationUpdate" type="wgws:siteInfo"/>

			<element name="siteInformationUpdateResponse" type="wgws:status"/>

			<complexType name="status">
				<annotation>
					<documentation>status</documentation>
				</annotation>
					<sequence>
						<element name="status" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						<element name="errorType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="errorCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="errorDescription" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="sourceErrorCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="errorTime" minOccurs="1" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<element name="updateOrderStatus" type="wgws:orderStatus"/>

			<element name="updateOrderStatusResponse" type="wgws:status"/>

			<element name="updateQuoteStatus" type="wgws:quoteStatus"/>

			<element name="updateQuoteStatusResponse" type="wgws:status"/>

		</schema>
	</types>

	<message name="updateOrderStatus">
		<part name="updateOrderStatus" element="wgws:updateOrderStatus"/>
	</message>

	<message name="updateOrderStatusResponse">
		<part name="updateOrderStatusResponse" element="wgws:updateOrderStatusResponse"/>
	</message>

	<message name="updateQuoteStatus">
		<part name="updateQuoteStatus" element="wgws:updateQuoteStatus"/>
	</message>

	<message name="updateQuoteStatusResponse">
		<part name="updateQuoteStatusResponse" element="wgws:updateQuoteStatusResponse"/>
	</message>

	<message name="restoration">
		<part name="restoration" element="wgws:restoration"/>
	</message>

	<message name="restorationResponse">
		<part name="restorationResponse" element="wgws:restorationResponse"/>
	</message>

	<message name="siteInformationUpdate">
		<part name="siteInformationUpdate" element="wgws:siteInformationUpdate"/>
	</message>

	<message name="siteInformationUpdateResponse">
		<part name="siteInformationUpdateResponse" element="wgws:siteInformationUpdateResponse"/>
	</message>

	<portType name="ifExpediter_GRANITE">
		<operation name="operation_OrderStatusUpdate">
			<input message="tns:updateOrderStatus"/>
			<output message="tns:updateOrderStatusResponse"/>
		</operation>
		<operation name="operation_QuoteStatusUpdate">
			<input message="tns:updateQuoteStatus"/>
			<output message="tns:updateQuoteStatusResponse"/>
		</operation>
		<operation name="operation_Restoration">
			<input message="tns:restoration"/>
			<output message="tns:restorationResponse"/>
		</operation>
		<operation name="operation_SiteInformationUpdate">
			<input message="tns:siteInformationUpdate"/>
			<output message="tns:siteInformationUpdateResponse"/>
		</operation>
	</portType>

	<binding name="ifExpediter_GRANITE_SOAP" type="tns:ifExpediter_GRANITE">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<operation name="operation_OrderStatusUpdate">
			<soap:operation soapAction="operation_OrderStatusUpdate"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="operation_QuoteStatusUpdate">
			<soap:operation soapAction="operation_QuoteStatusUpdate"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="operation_Restoration">
			<soap:operation soapAction="operation_Restoration"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="operation_SiteInformationUpdate">
			<soap:operation soapAction="operation_SiteInformationUpdate"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>

	<service name="wgws">
		<port name="ifExpediter_GRANITE_SOAP_Port" binding="tns:ifExpediter_GRANITE_SOAP">
			<soap:address location="http://localhost:10100/cwf/services/ifExpediter_GRANITE"/>
		</port>
	</service>

</definitions>