OrderManager/WBU16/CWProject/resources/XngCustomerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions xmlns="" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://com/granite/custom/stc/system/webservice" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/" name="XngCustomerServiceDefinitions" targetNamespace="http://com/granite/custom/stc/system/webservice">
	<WL5G3N0:types>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="java:com.granite.custom.stc.transport" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:complexType name="Status">
				<xs:annotation>
					<xs:documentation>Copyright (c) 2007 Telcordia Technologies, Inc. All Rights Reserved.&#xA;    &#xA;                  LICENSED MATERIAL - PROPERTY OF TELCORDIA&#xA;     Possession and/or use of this material is subject to the provisions&#xA;                 of a written license agreement with Telcordia&#xA;    &#xA;                    TELCORDIA CONFIDENTIAL - RESTRICTED ACCESS&#xA;       This document and the confidential information it contains shall&#xA;     be distributed, routed or made available solely to authorized persons&#xA;         having a need to know within Telcordia, except with written&#xA;                        permission of Telcordia.</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element minOccurs="1" name="Status" nillable="true" type="xs:string"/>
					<xs:element minOccurs="1" name="ErrorType" nillable="true" type="xs:string"/>
					<xs:element minOccurs="1" name="ErrorCode" nillable="true" type="xs:string"/>
					<xs:element minOccurs="1" name="ErrorDescription" nillable="true" type="xs:string"/>
					<xs:element minOccurs="1" name="SourceErrorCode" nillable="true" type="xs:string"/>
					<xs:element minOccurs="1" name="ErrorTime" nillable="true" type="xs:string"/>
					<xs:element minOccurs="1" name="SystemName" nillable="true" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="CustomerAcknowledgement">
				<xs:annotation>
					<xs:documentation>Copyright (c) 2007 Telcordia Technologies, Inc. All Rights Reserved.&#xA; &#xA; LICENSED MATERIAL - PROPERTY OF TELCORDIA Possession and/or use of this&#xA; material is subject to the provisions of a written license agreement with&#xA; Telcordia&#xA; &#xA; TELCORDIA CONFIDENTIAL - RESTRICTED ACCESS This document and the confidential&#xA; information it contains shall be distributed, routed or made available solely&#xA; to authorized persons having a need to know within Telcordia, except with&#xA; written permission of Telcordia.</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element minOccurs="1" name="AccountNumber" nillable="true" type="xs:string"/>
					<xs:element minOccurs="1" name="Status" nillable="true" type="java:Status" xmlns:java="java:com.granite.custom.stc.transport"/>
					<xs:element minOccurs="1" name="BusinessUnit" nillable="true" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Customer">
				<xs:sequence>
					<xs:element minOccurs="1" name="AccountType" nillable="true" type="xs:string"/>
					<xs:element minOccurs="1" name="BusinessUnit" nillable="true" type="xs:string"/>
					<xs:element minOccurs="1" name="AccountNumber" nillable="true" type="xs:string"/>
					<xs:element minOccurs="1" name="AccountRegion" nillable="true" type="xs:string"/>
					<xs:element minOccurs="1" name="StreetAddress" nillable="true" type="xs:string"/>
					<xs:element minOccurs="1" name="Name" nillable="true" type="xs:string"/>
					<xs:element minOccurs="1" name="AccountSubType" nillable="true" type="xs:string"/>
					<xs:element minOccurs="1" name="AccountTypeCode" nillable="true" type="xs:string"/>
					<xs:element minOccurs="1" name="AccountStatus" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="NameValuePair" nillable="true" type="java:NameValue" xmlns:java="java:com.granite.custom.stc.transport"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="NameValue">
				<xs:sequence>
					<xs:element minOccurs="1" name="Name" nillable="true" type="xs:string"/>
					<xs:element minOccurs="1" name="Value" nillable="true" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://com/granite/custom/stc/system/webservice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:import namespace="java:com.granite.custom.stc.transport"/>
			<xs:element name="customerInformationUpdate">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="customer" type="java:Customer" xmlns:java="java:com.granite.custom.stc.transport"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="customerInformationUpdateResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="result" type="java:CustomerAcknowledgement" xmlns:java="java:com.granite.custom.stc.transport"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</WL5G3N0:types>
	<WL5G3N0:message name="customerInformationUpdate">
		<WL5G3N0:part name="parameters" element="WL5G3N1:customerInformationUpdate"/>
	</WL5G3N0:message>
	<WL5G3N0:message name="customerInformationUpdateResponse">
		<WL5G3N0:part name="parameters" element="WL5G3N1:customerInformationUpdateResponse"/>
	</WL5G3N0:message>
	<WL5G3N0:portType name="XngCustomerService">
		<WL5G3N0:operation name="customerInformationUpdate" parameterOrder="parameters">
			<WL5G3N0:input message="WL5G3N1:customerInformationUpdate"/>
			<WL5G3N0:output message="WL5G3N1:customerInformationUpdateResponse"/>
		</WL5G3N0:operation>
	</WL5G3N0:portType>
	<WL5G3N0:binding name="XngCustomerServiceSoapBinding" type="WL5G3N1:XngCustomerService">
		<WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<WL5G3N0:operation name="customerInformationUpdate">
			<WL5G3N2:operation soapAction="customerInformationUpdate" style="document"/>
			<WL5G3N0:input>
				<WL5G3N2:body parts="parameters" use="literal"/>
			</WL5G3N0:input>
			<WL5G3N0:output>
				<WL5G3N2:body parts="parameters" use="literal"/>
			</WL5G3N0:output>
		</WL5G3N0:operation>
	</WL5G3N0:binding>
	<WL5G3N0:service name="XngCustomerService">
		<WL5G3N0:port name="XngCustomerServiceSoapPort" binding="WL5G3N1:XngCustomerServiceSoapBinding">
			<WL5G3N2:address location="http://localhost:7001/tgs-STCRMSW-1.0-cim/XngCustomerService"/>
		</WL5G3N0:port>
	</WL5G3N0:service>
</WL5G3N0:definitions>
