OrderManager/EBU/CWProject/resources/schema/ValidationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<s0:definitions xmlns="" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://com/granite/custom/stc/system/webservices/validator" xmlns:s2="http://schemas.xmlsoap.org/wsdl/soap/" name="ValidationServiceDefinitions" targetNamespace="http://com/granite/custom/stc/system/webservices/validator">
  <s0:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="java:com.granite.custom.stc.data.generated.wd.validation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:simpleType name="resultValue">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Accepted"/>
      <xs:enumeration value="Rejected"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="failure">
    <xs:sequence>
      <xs:element name="errorCode" type="xs:string"/>
      <xs:element name="errorDescription" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="validationResponseItem">
    <xs:sequence>
      <xs:element name="result" type="java:resultValue" xmlns:java="java:com.granite.custom.stc.data.generated.wd.validation"/>
      <xs:element name="lineItemIdentifier" type="xs:string"/>
      <xs:element name="failure" type="java:failure" minOccurs="0" maxOccurs="unbounded" xmlns:java="java:com.granite.custom.stc.data.generated.wd.validation"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="validationResponse">
    <xs:sequence>
      <xs:element name="validationResponseItem" type="java:validationResponseItem" maxOccurs="unbounded" xmlns:java="java:com.granite.custom.stc.data.generated.wd.validation"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="orderType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="I"/>
      <xs:enumeration value="C"/>
      <xs:enumeration value="T"/>
      <xs:enumeration value="O"/>
      <xs:enumeration value="D"/>
      <xs:enumeration value="E"/>
      <xs:enumeration value="F"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="validationItem">
    <xs:sequence>
      <xs:element name="bwName" type="xs:string"/>
      <xs:element name="siteACCLICode" type="xs:string"/>
      <xs:element name="siteAPlateID" type="xs:string" minOccurs="0"/>
      <xs:element name="siteAOldPlateID" type="xs:string" minOccurs="0"/>
      <xs:element name="siteZCCLICode" type="xs:string"/>
      <xs:element name="siteZPlateID" type="xs:string" minOccurs="0"/>
      <xs:element name="siteZOldPlateID" type="xs:string" minOccurs="0"/>
      <xs:element name="serviceType" type="xs:string"/>
      <xs:element name="workOrderType" type="java:orderType" xmlns:java="java:com.granite.custom.stc.data.generated.wd.validation"/>
      <xs:element name="lineItemIdentifier" type="xs:string"/>
      <xs:element name="serviceNumber" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="validationInput">
    <xs:sequence>
      <xs:element name="validationItem" type="java:validationItem" maxOccurs="unbounded" xmlns:java="java:com.granite.custom.stc.data.generated.wd.validation"/>
    </xs:sequence>
  </xs:complexType>


    </xs:schema>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://com/granite/custom/stc/system/webservices/validator" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="java:com.granite.custom.stc.data.generated.wd.validation"/>
      <xs:element name="validate">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="message" type="java:validationInput" xmlns:java="java:com.granite.custom.stc.data.generated.wd.validation"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="validateResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="java:validationResponse" xmlns:java="java:com.granite.custom.stc.data.generated.wd.validation"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </s0:types>
  <s0:message name="validate">
    <s0:part name="parameters" element="s1:validate"/>
  </s0:message>
  <s0:message name="validateResponse">
    <s0:part name="parameters" element="s1:validateResponse"/>
  </s0:message>
  <s0:portType name="ValidationService">
    <s0:operation name="validate" parameterOrder="parameters">
      <s0:input message="s1:validate"/>
      <s0:output message="s1:validateResponse"/>
    </s0:operation>
  </s0:portType>
  <s0:binding name="ValidationServiceSoapBinding" type="s1:ValidationService">
    <s2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <s0:operation name="validate">
      <s2:operation soapAction="validate" style="document"/>
      <s0:input>
        <s2:body parts="parameters" use="literal"/>
      </s0:input>
      <s0:output>
        <s2:body parts="parameters" use="literal"/>
      </s0:output>
    </s0:operation>
  </s0:binding>
  <s0:service name="ValidationService">
    <s0:port name="ValidationServiceSoapPort" binding="s1:ValidationServiceSoapBinding">
      <s2:address location="http://localhost:7001/tgs-STCRMSEBU-4.0-webservices/ValidationService"/>
    </s0:port>
  </s0:service>
</s0:definitions>
