OrderManager/HBU16/CWProject/resources/OCUA.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions name="ifEAI_OCUA_17122008" targetNamespace="http://172.20.236.152/GraniteGW_WorkOrder/Inbound/SOAP/OrderAcknowledgment/WSDL/OrderCreateUpdateAck" xmlns:tns="http://172.20.236.152/GraniteGW_WorkOrder/Inbound/SOAP/OrderAcknowledgment/WSDL/OrderCreateUpdateAck" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ifEAI_OCUA_17122008="http://172.20.236.152/GraniteGW_WorkOrder/Inbound/SOAP/OrderAcknowledgment/WSDL/OrderCreateUpdateAck">

	<types>
		<schema targetNamespace="http://172.20.236.152/GraniteGW_WorkOrder/Inbound/SOAP/OrderAcknowledgment/WSDL/OrderCreateUpdateAck"
				xmlns="http://www.w3.org/2001/XMLSchema"
			xmlns:ifEAI_OCUA_17122008="http://172.20.236.152/GraniteGW_WorkOrder/Inbound/SOAP/OrderAcknowledgment/WSDL/OrderCreateUpdateAck"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">



			<annotation>
				<documentation>&#091;17.12.2008&#093; Interface vs. &#34;EAI&#34;: via SOAP &#091;Order Create/Update Acknowledgement&#093;</documentation>
				<appinfo>
					<metadata>STC Project</metadata>
					<created>Mon Sep 08 11:04:21 CEST 2008</created>
					<updated>Tue Sep 17 18:52:10 EDT 2013</updated>
				</appinfo>
			</annotation>

			<!-- Data types and elements -->

			<!-- Structures -->

			<complexType name="processRequest">
				<annotation>
					<documentation>processRequest</documentation>
				</annotation>
					<sequence>
						<element name="OrderCreateUpdateAck" minOccurs="1" maxOccurs="1" type="ifEAI_OCUA_17122008:Request"/>
					</sequence>
				</complexType>

			<element name="processRequest" type="ifEAI_OCUA_17122008:processRequest"/>

			<complexType name="processRequestResponse">
				<annotation>
					<documentation>processRequestResponse</documentation>
				</annotation>
					<sequence>
						<element name="Status" minOccurs="1" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<element name="processRequestResponse" type="ifEAI_OCUA_17122008:processRequestResponse"/>

			<complexType name="Request">
				<annotation>
					<documentation>Request</documentation>
				</annotation>
					<sequence>
						<element name="OrderNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="WorkOrder" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="BusinessUnit" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

		</schema>
	</types>

	<message name="processRequest_el">
		<part name="processRequest_el" element="ifEAI_OCUA_17122008:processRequest_el"/>
	</message>

	<message name="processRequestResponse_el">
		<part name="processRequestResponse_el" element="ifEAI_OCUA_17122008:processRequestResponse_el"/>
	</message>

	<portType name="OCUA">
		<operation name="OrderCreateUpdateAck">
			<input message="tns:processRequest_el"/>
			<output message="tns:processRequestResponse_el"/>
		</operation>
	</portType>

	<binding name="GraniteGW_WorkOrder_Inbound_SOAP_OrderAcknowledgment_WSDL_OrderCreateUpdateAck_Binder" type="tns:OCUA">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
		<operation name="OrderCreateUpdateAck">
			<soap:operation soapAction="GraniteGW_WorkOrder_Inbound_SOAP_OrderAcknowledgment_WSDL_OrderCreateUpdateAck_Binder_OrderCreateUpdateAck"/>
			<input>
				<soap:body parts="OrderCreateUpdateAck" use="literal" namespace="http://172.20.236.152/GraniteGW_WorkOrder/Inbound/SOAP/OrderAcknowledgment/WSDL/OrderCreateUpdateAck"/>
			</input>
			<output>
				<soap:body use="encoded" namespace="http://172.20.236.152/GraniteGW_WorkOrder/Inbound/SOAP/OrderAcknowledgment/WSDL/OrderCreateUpdateAck"/>
			</output>
		</operation>
	</binding>

	<service name="ifEAI_OCUA_17122008">
		<port name="GraniteGW_WorkOrder_Inbound_SOAP_OrderAcknowledgment_WSDL_OrderCreateUpdateAck_Port" binding="tns:GraniteGW_WorkOrder_Inbound_SOAP_OrderAcknowledgment_WSDL_OrderCreateUpdateAck_Binder">
			<soap:address location="http://172.20.66.16:24004/ws/GraniteGW_WorkOrder.Inbound.SOAP.OrderAcknowledgment.WSDL:OrderCreateUpdateAck"/>
		</port>
	</service>

</definitions>