OrderManager/HBU16/CWProject/resources/RO.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions name="ifEAI_RO_17122008" targetNamespace="http://172.20.236.152/GraniteGW_Redlining/Inbound/SOAP/Order/WSDL/RedliningOrder" xmlns:tns="http://172.20.236.152/GraniteGW_Redlining/Inbound/SOAP/Order/WSDL/RedliningOrder" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ifEAI_RO_17122008="http://172.20.236.152/GraniteGW_Redlining/Inbound/SOAP/Order/WSDL/RedliningOrder">

	<types>
		<schema targetNamespace="http://172.20.236.152/GraniteGW_Redlining/Inbound/SOAP/Order/WSDL/RedliningOrder"
				xmlns="http://www.w3.org/2001/XMLSchema"
			xmlns:ifEAI_RO_17122008="http://172.20.236.152/GraniteGW_Redlining/Inbound/SOAP/Order/WSDL/RedliningOrder"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">



			<annotation>
				<documentation>&#091;17.12.2008&#093; Interface vs. &#34;EAI&#34;: via SOAP &#091;Redlining Order&#093;</documentation>
				<appinfo>
					<metadata>STC Project</metadata>
					<created>Mon Sep 08 11:04:21 CEST 2008</created>
					<updated>Tue Sep 17 18:52:10 EDT 2013</updated>
				</appinfo>
			</annotation>

			<!-- Data types and elements -->

			<!-- Structures -->

			<complexType name="ArrayOfServiceParameters">
				<annotation>
					<documentation>ArrayOfServiceParameters</documentation>
				</annotation>
					<sequence>
						<element name="ArrayOfServiceParametersItem" minOccurs="1" maxOccurs="unbounded" type="ifEAI_RO_17122008:ServiceParameters"/>
					</sequence>
				</complexType>

			<complexType name="receiveRequest">
				<annotation>
					<documentation>receiveRequest</documentation>
				</annotation>
					<sequence>
						<element name="RedliningOrder" minOccurs="1" maxOccurs="1" type="ifEAI_RO_17122008:Request"/>
					</sequence>
				</complexType>

			<element name="receiveRequest" type="ifEAI_RO_17122008:receiveRequest"/>

			<complexType name="receiveRequestResponse">
				<annotation>
					<documentation>receiveRequestResponse</documentation>
				</annotation>
					<sequence>
						<element name="Status" minOccurs="1" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<element name="receiveRequestResponse" type="ifEAI_RO_17122008:receiveRequestResponse"/>

			<complexType name="Request">
				<annotation>
					<documentation>Request</documentation>
				</annotation>
					<sequence>
						<element name="OrderNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="ServiceParameters" minOccurs="0" maxOccurs="1" type="ifEAI_RO_17122008:ArrayOfServiceParameters"/>
						<element name="BusinessUnit" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<complexType name="ServiceParameters">
				<annotation>
					<documentation>ServiceParameters</documentation>
				</annotation>
					<sequence>
						<element name="name" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="value" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

		</schema>
	</types>

	<message name="receiveRequest_el">
		<part name="receiveRequest_el" element="ifEAI_RO_17122008:receiveRequest_el"/>
	</message>

	<message name="receiveRequestResponse_el">
		<part name="receiveRequestResponse_el" element="ifEAI_RO_17122008:receiveRequestResponse_el"/>
	</message>

	<portType name="RO">
		<operation name="RedliningOrder">
			<input message="tns:receiveRequest_el"/>
			<output message="tns:receiveRequestResponse_el"/>
		</operation>
	</portType>

	<binding name="GraniteGW_Redlining_Inbound_SOAP_Order_WSDL_RedliningOrder_Binder" type="tns:RO">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
		<operation name="RedliningOrder">
			<soap:operation soapAction="GraniteGW_Redlining_Inbound_SOAP_Order_WSDL_RedliningOrder_Binder_RedliningOrder"/>
			<input>
				<soap:body parts="RedliningOrder" use="literal" namespace="http://172.20.236.152/GraniteGW_Redlining/Inbound/SOAP/Order/WSDL/RedliningOrder"/>
			</input>
			<output>
				<soap:body use="encoded" namespace="http://172.20.236.152/GraniteGW_Redlining/Inbound/SOAP/Order/WSDL/RedliningOrder"/>
			</output>
		</operation>
	</binding>

	<service name="ifEAI_RO_17122008">
		<port name="GraniteGW_Redlining_Inbound_SOAP_Order_WSDL_RedliningOrder_Port" binding="tns:GraniteGW_Redlining_Inbound_SOAP_Order_WSDL_RedliningOrder_Binder">
			<soap:address location="http://172.20.66.16:24004/ws/GraniteGW_Redlining.Inbound.SOAP.Order.WSDL:RedliningOrder"/>
		</port>
	</service>

</definitions>