OrderManager/WBU16/CWProject/resources/schema/cw.gen.worklist.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions name="worklist.service" targetNamespace="http://www.conceptwave.com/api/worklist/service"
	xmlns:tns="http://www.conceptwave.com/api/worklist/service"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:api_common.data="http://www.conceptwave.com/api/common/data"
	xmlns:worklist.data="http://www.conceptwave.com/api/worklist/data">

	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://www.conceptwave.com/api/common/data" schemaLocation="api_common.data.xsd"/>
			<import namespace="http://www.conceptwave.com/api/worklist/data" schemaLocation="worklist.data.xsd"/>
		</schema>
	</types>

	<message name="taskList">
		<part name="taskList" type="worklist.data:taskList"/>
	</message>

	<message name="fault">
		<part name="fault" element="api_common.data:fault"/>
	</message>

	<message name="action">
		<part name="action" type="worklist.data:action"/>
	</message>

	<message name="task">
		<part name="task" type="worklist.data:task"/>
	</message>

	<message name="changeTask">
		<part name="changeTask" type="worklist.data:changeTask"/>
	</message>

	<message name="object">
		<part name="object" type="api_common.data:object"/>
	</message>

	<message name="objectSearch">
		<part name="objectSearch" type="api_common.data:objectSearch"/>
	</message>

	<message name="searchTask">
		<part name="searchTask" type="worklist.data:searchTask"/>
	</message>

	<portType name="worklist">
		<operation name="acknowledgeAlert">
			<input message="tns:taskList"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="assignTaskToUser">
			<input message="tns:taskList"/>
			<output message="tns:taskList"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="cancelTask">
			<input message="tns:action"/>
			<output message="tns:task"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="changeTask">
			<input message="tns:changeTask"/>
			<output message="tns:taskList"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="createTaskByValue">
			<input message="tns:action"/>
			<output message="tns:task"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="getNextAvailableTask">
			<input message="tns:object"/>
			<output message="tns:taskList"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="getTaskByKey">
			<input message="tns:task"/>
			<output message="tns:task"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="getUserWorklist">
			<input message="tns:objectSearch"/>
			<output message="tns:taskList"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="performTaskAction">
			<input message="tns:action"/>
			<output message="tns:task"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="queryAvailableTask">
			<input message="tns:searchTask"/>
			<output message="tns:taskList"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="queryTakeTask">
			<input message="tns:searchTask"/>
			<output message="tns:taskList"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="queryTask">
			<input message="tns:searchTask"/>
			<output message="tns:taskList"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="returnToQueue">
			<input message="tns:taskList"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="setTaskByValue">
			<input message="tns:task"/>
			<output message="tns:task"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="startWork">
			<input message="tns:task"/>
			<output message="tns:task"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="takeTask">
			<input message="tns:taskList"/>
			<output message="tns:taskList"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
	</portType>

	<binding name="worklistSOAP" type="tns:worklist">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="acknowledgeAlert">
			<soap:operation soapAction="acknowledgeAlert"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="assignTaskToUser">
			<soap:operation soapAction="assignTaskToUser"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="cancelTask">
			<soap:operation soapAction="cancelTask"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="changeTask">
			<soap:operation soapAction="changeTask"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="createTaskByValue">
			<soap:operation soapAction="createTaskByValue"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="getNextAvailableTask">
			<soap:operation soapAction="getNextAvailableTask"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="getTaskByKey">
			<soap:operation soapAction="getTaskByKey"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="getUserWorklist">
			<soap:operation soapAction="getUserWorklist"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="performTaskAction">
			<soap:operation soapAction="performTaskAction"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="queryAvailableTask">
			<soap:operation soapAction="queryAvailableTask"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="queryTakeTask">
			<soap:operation soapAction="queryTakeTask"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="queryTask">
			<soap:operation soapAction="queryTask"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="returnToQueue">
			<soap:operation soapAction="returnToQueue"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="setTaskByValue">
			<soap:operation soapAction="setTaskByValue"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="startWork">
			<soap:operation soapAction="startWork"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="takeTask">
			<soap:operation soapAction="takeTask"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
	</binding>

	<service name="worklistService">
		<port name="worklistSOAP" binding="tns:worklistSOAP">
		</port>
	</service>

</definitions>