OrderManager/WBU16/CWProject/resources/schema/cw.gen.wsws.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema targetNamespace="java:com.telcordia.expediter.rmsw"	
	xmlns="http://www.w3.org/2001/XMLSchema"	
	xmlns:wsws="java:com.telcordia.expediter.rmsw"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">




	<annotation>
		<documentation>Wholesale Web Services for EAI</documentation>
		<appinfo>
			<metadata>STC Order Management</metadata>
			<created>Wed Jun 10 08:27:53 EDT 2009</created>
		</appinfo>
	</annotation>

	<!-- Data types and elements -->

	<simpleType name="accountSubType">
		<annotation>
			<documentation>accountSubType</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="30"/>
		</restriction>
	</simpleType>

	<simpleType name="orderType">
		<annotation>
			<documentation>orderType</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="30"/>
			<enumeration value="I">
				<annotation>
					<documentation>I</documentation>
				</annotation>
			</enumeration>
			<enumeration value="C">
				<annotation>
					<documentation>C</documentation>
				</annotation>
			</enumeration>
			<enumeration value="O">
				<annotation>
					<documentation>O</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="quoteType">
		<annotation>
			<documentation>quoteType</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="30"/>
			<enumeration value="I">
				<annotation>
					<documentation>I</documentation>
				</annotation>
			</enumeration>
			<enumeration value="C">
				<annotation>
					<documentation>C</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="restoration">
		<annotation>
			<documentation>restoration</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="30"/>
			<enumeration value="Y">
				<annotation>
					<documentation>Y</documentation>
				</annotation>
			</enumeration>
			<enumeration value="N">
				<annotation>
					<documentation>N</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="segmentFlag">
		<annotation>
			<documentation>segmentFlag</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="50"/>
		</restriction>
	</simpleType>

	<simpleType name="serviceStatus">
		<annotation>
			<documentation>serviceStatus</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="30"/>
			<enumeration value="Add">
				<annotation>
					<documentation>Add</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Revise">
				<annotation>
					<documentation>Revise</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Cancel">
				<annotation>
					<documentation>Cancel</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Unchanged">
				<annotation>
					<documentation>Unchanged</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="accountType">
		<annotation>
			<documentation>accountType</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="30"/>
		</restriction>
	</simpleType>

	<simpleType name="accountStatus">
		<annotation>
			<documentation>accountStatus</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="30"/>
		</restriction>
	</simpleType>

	<simpleType name="feasibilityStatus">
		<annotation>
			<documentation>feasibilityStatus</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="30"/>
		</restriction>
	</simpleType>

	<simpleType name="quoteStatusDataType">
		<annotation>
			<documentation>quoteStatusDataType</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="30"/>
			<enumeration value="Feasibility">
				<annotation>
					<documentation>Feasibility</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Reservation">
				<annotation>
					<documentation>Reservation</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="accountRegion">
		<annotation>
			<documentation>accountRegion</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="100"/>
		</restriction>
	</simpleType>

	<simpleType name="changeRequestType">
		<annotation>
			<documentation>changeRequestType</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="30"/>
		</restriction>
	</simpleType>

	<!-- Structures -->

	<complexType name="orderAcknowledgement">
		<annotation>
			<documentation>orderAcknowledgement</documentation>
		</annotation>
			<sequence>
				<element name="assetNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="assetStatus" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="businessUnit" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="orderNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="status" minOccurs="0" maxOccurs="1" type="wsws:status"/>
				<element name="workOrderStatus" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="order">
		<annotation>
			<documentation>order</documentation>
		</annotation>
			<sequence>
				<element name="accountNumber" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="businessUnit" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="changeRequestType" minOccurs="0" maxOccurs="1" type="wsws:changeRequestType"/>
				<element name="comments" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="createdBy" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="creationDate" minOccurs="1" maxOccurs="1" type="xsd:dateTime"/>
				<element name="description" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="disconnectionReason" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="expectedDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
				<element name="orderNumber" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="orderStatus" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="orderType" minOccurs="1" maxOccurs="1" type="wsws:orderType"/>
				<element name="quoteNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="reservationNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="restoration" minOccurs="1" maxOccurs="1" type="wsws:restoration"/>
				<element name="segmentFlag" minOccurs="1" maxOccurs="1" type="wsws:segmentFlag"/>
				<element name="service" minOccurs="0" maxOccurs="1" type="wsws:service"/>
			</sequence>
		</complexType>

	<complexType name="status">
		<annotation>
			<documentation>status</documentation>
		</annotation>
			<sequence>
				<element name="errorCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="errorDescription" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="errorType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="sourceErrorCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="status" minOccurs="1" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="subservice">
		<annotation>
			<documentation>subservice</documentation>
		</annotation>
			<sequence>
				<element name="bandwidth" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="creationDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
				<element name="nameValue" minOccurs="0" maxOccurs="unbounded" type="wsws:nameValue"/>
				<element name="productCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="reservationNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="segmentFlag" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="serviceDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
				<element name="assetNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="primaryAssetNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="numberOfChannels" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<element name="siteInformationUpdateAcknowledgement" type="wsws:siteAcknowledgement"/>

	<element name="customerInformationUpdate" type="wsws:customer"/>

	<complexType name="siteAcknowledgement">
		<annotation>
			<documentation>siteAcknowledgement</documentation>
		</annotation>
			<sequence>
				<element name="businessUnit" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="siteID" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="status" minOccurs="0" maxOccurs="1" type="wsws:status"/>
			</sequence>
		</complexType>

	<complexType name="service">
		<annotation>
			<documentation>service</documentation>
		</annotation>
			<sequence>
				<element name="bandwidth" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="creationDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
				<element name="nameValue" minOccurs="0" maxOccurs="unbounded" type="wsws:nameValue"/>
				<element name="productCode" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="reservationNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="segmentFlag" minOccurs="1" maxOccurs="1" type="wsws:segmentFlag"/>
				<element name="serviceDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
				<element name="assetNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="primaryAssetNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="subservices" minOccurs="0" maxOccurs="unbounded" type="wsws:subservice"/>
				<element name="numberOfChannels" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="contact">
		<annotation>
			<documentation>contact</documentation>
		</annotation>
			<sequence>
				<element name="address" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="email" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="name" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="remarks" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="telephoneNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="siteInformationUpdate">
		<annotation>
			<documentation>siteInformationUpdate</documentation>
		</annotation>
			<sequence>
				<element name="businessUnit" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="ccliCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="city" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="cityCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="country" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="district" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="districtCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="region" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="siteID" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="siteName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="siteType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="status" minOccurs="1" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="quoteAcknowledgement">
		<annotation>
			<documentation>quoteAcknowledgement</documentation>
		</annotation>
			<sequence>
				<element name="businessUnit" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="quoteNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="status" minOccurs="0" maxOccurs="1" type="wsws:status"/>
				<element name="workOrderStatus" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="quotation">
		<annotation>
			<documentation>quotation</documentation>
		</annotation>
			<sequence>
				<element name="accountNumber" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="businessUnit" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="comments" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="creationDate" minOccurs="1" maxOccurs="1" type="xsd:dateTime"/>
				<element name="lineItems" minOccurs="1" maxOccurs="unbounded" type="wsws:quotableService"/>
				<element name="quoteNumber" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="quoteStatus" minOccurs="1" maxOccurs="1" type="wsws:quoteStatusDataType"/>
				<element name="quoteType" minOccurs="1" maxOccurs="1" type="wsws:quoteType"/>
				<element name="salesRepresentative" minOccurs="1" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<element name="submitOrder" type="wsws:order"/>

	<element name="restorationAcknowledgementResponse" type="wsws:status"/>

	<element name="reportFailure" type="wsws:failureMessage"/>

	<complexType name="quoteStatusUpdate">
		<annotation>
			<documentation>quoteStatusUpdate</documentation>
		</annotation>
			<sequence>
				<element name="actualImplementationDays" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="businessUnit" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="feasibilityStatus" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="orderRowItemId" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
				<element name="quoteNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="reservationDays" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="workOrderStatus" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<element name="siteInformationUpdateAcknowledgementResponse" type="wsws:status"/>

	<complexType name="nameValue">
		<annotation>
			<documentation>nameValue</documentation>
		</annotation>
			<sequence>
				<element name="name" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="value" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="customer">
		<annotation>
			<documentation>customer</documentation>
		</annotation>
			<sequence>
				<element name="accountNumber" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="accountRegion" minOccurs="0" maxOccurs="1" type="wsws:accountRegion"/>
				<element name="accountStatus" minOccurs="1" maxOccurs="1" type="wsws:accountStatus"/>
				<element name="accountSubType" minOccurs="0" maxOccurs="1" type="wsws:accountSubType"/>
				<element name="accountType" minOccurs="1" maxOccurs="1" type="wsws:accountType"/>
				<element name="accountTypeCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="businessUnit" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="name" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="streetAddress" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<element name="submitOrderResponse" type="wsws:orderAcknowledgement"/>

	<element name="quoteValidation" type="wsws:quotation"/>

	<element name="quoteValidationResponse" type="wsws:quoteAcknowledgement"/>

	<element name="customerInformationUpdateAcknowledgement" type="wsws:customerAcknowledgement"/>

	<complexType name="customerAcknowledgement">
		<annotation>
			<documentation>customerAcknowledgement</documentation>
		</annotation>
			<sequence>
				<element name="accountNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="businessUnit" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="status" minOccurs="0" maxOccurs="1" type="wsws:status"/>
			</sequence>
		</complexType>

	<element name="updateOrder" type="wsws:order"/>

	<complexType name="quotableService">
		<annotation>
			<documentation>quotableService</documentation>
		</annotation>
			<complexContent>
				<extension base="wsws:service">
					<sequence>
						<element name="action" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="feasibilityStatus" minOccurs="0" maxOccurs="1" type="wsws:feasibilityStatus"/>
						<element name="orderRowItemId" minOccurs="1" maxOccurs="1" type="xsd:integer"/>
						<element name="quantity" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="reservationDays" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="restoration" minOccurs="0" maxOccurs="1" type="wsws:restoration"/>
						<element name="serviceStatus" minOccurs="1" maxOccurs="1" type="wsws:serviceStatus"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>

	<element name="restorationAcknowledgement" type="wsws:maintOrderAcknowledgement"/>

	<complexType name="maintOrderAcknowledgement">
		<annotation>
			<documentation>maintOrderAcknowledgement</documentation>
		</annotation>
			<sequence>
				<element name="businessUnit" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="maintOrderNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="status" minOccurs="0" maxOccurs="1" type="wsws:status"/>
				<element name="workOrderStatus" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="quoteStatus">
		<annotation>
			<documentation>quoteStatus</documentation>
		</annotation>
			<sequence>
				<element name="domesticCircuitNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="domesticCircuitStatus" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="implementationTime" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
				<element name="reservationNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="resourceAvailabilityDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
				<element name="service" minOccurs="0" maxOccurs="1" type="wsws:service"/>
				<element name="status" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="failureMessage">
		<annotation>
			<documentation>failureMessage</documentation>
		</annotation>
			<sequence>
				<element name="functionName" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="errorCode" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="errorDescription" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="errorType" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="sourceErrorCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="status" minOccurs="1" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="serviceAcknowledgement">
		<annotation>
			<documentation>serviceAcknowledgement</documentation>
		</annotation>
			<sequence>
				<element name="service" minOccurs="0" maxOccurs="1" type="wsws:service"/>
				<element name="status" minOccurs="0" maxOccurs="1" type="wsws:status"/>
			</sequence>
		</complexType>

	<element name="reportFailureAcknowledgement" type="wsws:status"/>

	<element name="updateOrderResponse" type="wsws:orderAcknowledgement"/>

	<!-- Documents -->

</schema>
