OrderManager/WBU16/CWProject/resources/schema/cw.gen.securityInterface.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions name="security.service" targetNamespace="http://www.conceptwave.com/api/security/service"
	xmlns:tns="http://www.conceptwave.com/api/security/service"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:api_common.data="http://www.conceptwave.com/api/common/data"
	xmlns:security.data="http://www.conceptwave.com/api/security/data">

	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://www.conceptwave.com/api/common/data" schemaLocation="api_common.data.xsd"/>
			<import namespace="http://www.conceptwave.com/api/security/data" schemaLocation="security.data.xsd"/>
		</schema>
	</types>

	<message name="group">
		<part name="group" type="security.data:group"/>
	</message>

	<message name="fault">
		<part name="fault" element="api_common.data:fault"/>
	</message>

	<message name="groupPrivilegeList">
		<part name="groupPrivilegeList" type="security.data:groupPrivilegeList"/>
	</message>

	<message name="userGroupList">
		<part name="userGroupList" type="security.data:userGroupList"/>
	</message>

	<message name="privilege">
		<part name="privilege" type="security.data:privilege"/>
	</message>

	<message name="privilegeGroupList">
		<part name="privilegeGroupList" type="security.data:privilegeGroupList"/>
	</message>

	<message name="userProfile">
		<part name="userProfile" type="security.data:userProfile"/>
	</message>

	<message name="groupSearch">
		<part name="groupSearch" type="security.data:groupSearch"/>
	</message>

	<message name="groupList">
		<part name="groupList" type="security.data:groupList"/>
	</message>

	<message name="privilegeSearch">
		<part name="privilegeSearch" type="security.data:privilegeSearch"/>
	</message>

	<message name="privilegeList">
		<part name="privilegeList" type="security.data:privilegeList"/>
	</message>

	<message name="userSearch">
		<part name="userSearch" type="security.data:userSearch"/>
	</message>

	<message name="userList">
		<part name="userList" type="security.data:userList"/>
	</message>

	<message name="orgChartNode">
		<part name="orgChartNode" type="security.data:orgChartNode"/>
	</message>

	<message name="orgChartNodeSearch">
		<part name="orgChartNodeSearch" type="security.data:orgChartNodeSearch"/>
	</message>

	<message name="orgChartNodeList">
		<part name="orgChartNodeList" type="security.data:orgChartNodeList"/>
	</message>

	<portType name="securityInterface">
		<operation name="createGroupByValue">
			<input message="tns:group"/>
			<output message="tns:group"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="createGroupPrivilegeByValue">
			<input message="tns:groupPrivilegeList"/>
			<output message="tns:groupPrivilegeList"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="createGroupUserByValue">
			<input message="tns:userGroupList"/>
			<output message="tns:userGroupList"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="createPrivilegeByValue">
			<input message="tns:privilege"/>
			<output message="tns:privilege"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="createPrivilegeGroupByValue">
			<input message="tns:privilegeGroupList"/>
			<output message="tns:privilegeGroupList"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="createUserByValue">
			<input message="tns:userProfile"/>
			<output message="tns:userProfile"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="createUserGroupByValue">
			<input message="tns:userGroupList"/>
			<output message="tns:userGroupList"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="getGroupByKey">
			<input message="tns:group"/>
			<output message="tns:group"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="getGroupUsersByKey">
			<input message="tns:group"/>
			<output message="tns:userGroupList"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="getPrivilegeByKey">
			<input message="tns:privilege"/>
			<output message="tns:privilege"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="getUserGroupsByKey">
			<input message="tns:userProfile"/>
			<output message="tns:userGroupList"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="getUserProfileByKey">
			<input message="tns:userProfile"/>
			<output message="tns:userProfile"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="queryGroup">
			<input message="tns:groupSearch"/>
			<output message="tns:groupList"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="queryPrivilege">
			<input message="tns:privilegeSearch"/>
			<output message="tns:privilegeList"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="queryUser">
			<input message="tns:userSearch"/>
			<output message="tns:userList"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="removeGroupByKey">
			<input message="tns:group"/>
			<output message="tns:group"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="removeGroupPrivilegeByKey">
			<input message="tns:groupPrivilegeList"/>
			<output message="tns:groupPrivilegeList"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="removeGroupUserByKey">
			<input message="tns:userGroupList"/>
			<output message="tns:userGroupList"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="removePrivilegeByKey">
			<input message="tns:privilege"/>
			<output message="tns:privilege"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="removePrivilegeGroupByKey">
			<input message="tns:privilegeGroupList"/>
			<output message="tns:privilegeGroupList"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="removeUserByKey">
			<input message="tns:userProfile"/>
			<output message="tns:userProfile"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="removeUserGroupByKey">
			<input message="tns:userGroupList"/>
			<output message="tns:userGroupList"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="setActiveinGroup">
			<input message="tns:userGroupList"/>
			<output message="tns:userGroupList"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="setGroupByValue">
			<input message="tns:group"/>
			<output message="tns:group"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="setGroupManager">
			<input message="tns:userGroupList"/>
			<output message="tns:userGroupList"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="setPrivilegeByValue">
			<input message="tns:privilege"/>
			<output message="tns:privilege"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="setUserByValue">
			<input message="tns:userProfile"/>
			<output message="tns:userProfile"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="addUserToOrgChartNode">
			<input message="tns:orgChartNode"/>
			<output message="tns:orgChartNode"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="createOrgChartNodeByValue">
			<input message="tns:orgChartNode"/>
			<output message="tns:orgChartNode"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="getOrgChartNodeByKey">
			<input message="tns:orgChartNode"/>
			<output message="tns:orgChartNode"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="queryOrgChart">
			<input message="tns:orgChartNodeSearch"/>
			<output message="tns:orgChartNodeList"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="removeOrgChartNodeByKey">
			<input message="tns:orgChartNode"/>
			<output message="tns:orgChartNode"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="removeUserFromOrgChartNode">
			<input message="tns:orgChartNode"/>
			<output message="tns:orgChartNode"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
		<operation name="setOrgChartNodeByValue">
			<input message="tns:orgChartNode"/>
			<output message="tns:orgChartNode"/>
			<fault name="fault" message="tns:fault"/>
		</operation>
	</portType>

	<binding name="securityBindingSOAP" type="tns:securityInterface">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="createGroupByValue">
			<soap:operation soapAction="createGroupByValue"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="createGroupPrivilegeByValue">
			<soap:operation soapAction="createGroupPrivilegeByValue"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="createGroupUserByValue">
			<soap:operation soapAction="createGroupUserByValue"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="createPrivilegeByValue">
			<soap:operation soapAction="createPrivilegeByValue"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="createPrivilegeGroupByValue">
			<soap:operation soapAction="createPrivilegeGroupByValue"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="createUserByValue">
			<soap:operation soapAction="createUserByValue"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="createUserGroupByValue">
			<soap:operation soapAction="createUserGroupByValue"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="getGroupByKey">
			<soap:operation soapAction="getGroupByKey"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="getGroupUsersByKey">
			<soap:operation soapAction="getGroupUsersByKey"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="getPrivilegeByKey">
			<soap:operation soapAction="getPrivilegeByKey"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="getUserGroupsByKey">
			<soap:operation soapAction="getUserGroupsByKey"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="getUserProfileByKey">
			<soap:operation soapAction="getUserProfileByKey"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="queryGroup">
			<soap:operation soapAction="queryGroup"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="queryPrivilege">
			<soap:operation soapAction="queryPrivilege"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="queryUser">
			<soap:operation soapAction="queryUser"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="removeGroupByKey">
			<soap:operation soapAction="removeGroupByKey"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="removeGroupPrivilegeByKey">
			<soap:operation soapAction="removeGroupPrivilegeByKey"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="removeGroupUserByKey">
			<soap:operation soapAction="removeGroupUserByKey"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="removePrivilegeByKey">
			<soap:operation soapAction="removePrivilegeByKey"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="removePrivilegeGroupByKey">
			<soap:operation soapAction="removePrivilegeGroupByKey"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="removeUserByKey">
			<soap:operation soapAction="removeUserByKey"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="removeUserGroupByKey">
			<soap:operation soapAction="removeUserGroupByKey"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="setActiveinGroup">
			<soap:operation soapAction="setActiveinGroup"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="setGroupByValue">
			<soap:operation soapAction="setGroupByValue"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="setGroupManager">
			<soap:operation soapAction="setGroupManager"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="setPrivilegeByValue">
			<soap:operation soapAction="setPrivilegeByValue"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="setUserByValue">
			<soap:operation soapAction="setUserByValue"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="addUserToOrgChartNode">
			<soap:operation soapAction="addUserToOrgChartNode"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="createOrgChartNodeByValue">
			<soap:operation soapAction="createOrgChartNodeByValue"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="getOrgChartNodeByKey">
			<soap:operation soapAction="getOrgChartNodeByKey"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="queryOrgChart">
			<soap:operation soapAction="queryOrgChart"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="removeOrgChartNodeByKey">
			<soap:operation soapAction="removeOrgChartNodeByKey"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="removeUserFromOrgChartNode">
			<soap:operation soapAction="removeUserFromOrgChartNode"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="setOrgChartNodeByValue">
			<soap:operation soapAction="setOrgChartNodeByValue"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
	</binding>

	<service name="securityService">
		<port name="securitySOAP" binding="tns:securityBindingSOAP">
		</port>
	</service>

</definitions>