OrderManager/WBU16/CWProject/resources/schema/NSM - ChangeSIMDetails.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="changeSIMDetails" targetNamespace="http://stc.com.sa:8080/OSR_NWNumInvMgmt.numAssignment.changeSIMDetails.ws.provider:changeSIMDetails" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://stc.com.sa:8080/OSR_NWNumInvMgmt.numAssignment.changeSIMDetails.ws.provider:changeSIMDetails" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://stc.com.sa:8080/OSR_NWNumInvMgmt.numAssignment.changeSIMDetails.ws.provider:changeSIMDetails" xmlns:tns="http://stc.com.sa:8080/OSR_NWNumInvMgmt.numAssignment.changeSIMDetails.ws.provider:changeSIMDetails" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="changeSIMDetails" type="tns:changeSIMDetails"/>
          <xsd:element name="changeSIMDetailsResponse" type="tns:changeSIMDetailsResponse"/>
          <xsd:complexType name="changeSIMDetails">
            <xsd:sequence>
              <xsd:element name="changeSIMDetailsRequest" type="tns:ChangeSIMDetailsRequest"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ChangeSIMDetailsRequest">
            <xsd:sequence>
              <xsd:element name="header" type="tns:RequestHeader"/>
              <xsd:element name="body" type="tns:body"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="RequestHeader">
            <xsd:sequence>
              <xsd:element name="systemId" type="xsd:string"/>
              <xsd:element name="serverInfo" type="xsd:string"/>
              <xsd:element name="messageId" type="xsd:string"/>
              <xsd:element minOccurs="0" name="conversationId" nillable="true" type="xsd:string"/>
              <xsd:element name="timestamp" type="xsd:dateTime"/>
              <xsd:element name="domainId" type="xsd:string"/>
              <xsd:element name="serviceId" type="xsd:string"/>
              <xsd:element name="operationType" type="xsd:string"/>
              <xsd:element minOccurs="0" name="userId" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="body">
            <xsd:sequence>
              <xsd:element name="requestHeader" type="tns:requestHeader"/>
              <xsd:element name="requestData" type="tns:requestData"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="requestHeader">
            <xsd:sequence>
              <xsd:element name="accountId" type="xsd:string"/>
              <xsd:element name="additionalKey" type="xsd:string"/>
              <xsd:element name="businessUnit" type="xsd:string"/>
              <xsd:element name="channel" type="xsd:string"/>
              <xsd:element name="agentUserName" type="xsd:string"/>
              <xsd:element minOccurs="0" name="dealerId" nillable="true" type="xsd:string"/>
              <xsd:element name="orderNumber" type="xsd:string"/>
              <xsd:element minOccurs="0" name="orderSubType" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="orderType" nillable="true" type="xsd:string"/>
              <xsd:element name="serviceCategory" type="xsd:string"/>
              <xsd:element minOccurs="0" name="serviceNameEnglish" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="storeId" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="requestData">
            <xsd:sequence>
              <xsd:element name="numberSIMDetails" type="tns:numberSIMDetails"/>
              <xsd:element minOccurs="0" name="oldAccountId" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="numberSIMDetails">
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="item" type="tns:item"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="item">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="simTechType" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="connectionType" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="dataSIM" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="exclusionSIMTypes" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="number" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="oldNumber" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="oldSIMNumber" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="orderSubType" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="orderType" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="overridePreviousState" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="rootAssetId" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="serviceProvider" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="serviceSubType1" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="serviceSubType2" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="simNumber" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="simNumber1" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="simNumber2" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="simNumber3" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="teleCode" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="type" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="verificationCode" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="changeSIMDetailsResponse">
            <xsd:sequence>
              <xsd:element name="changeSIMDetailsResponse" type="tns:ChangeSIMDetailsResponse"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ChangeSIMDetailsResponse">
            <xsd:sequence>
              <xsd:element name="header" type="tns:ResponseHeader"/>
              <xsd:element minOccurs="0" name="body" nillable="true" type="tns:body2"/>
              <xsd:element name="status" type="tns:Status"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ResponseHeader">
            <xsd:sequence>
              <xsd:element name="systemId" type="xsd:string"/>
              <xsd:element name="serverInfo" type="xsd:string"/>
              <xsd:element name="messageId" type="xsd:string"/>
              <xsd:element minOccurs="0" name="conversationId" nillable="true" type="xsd:string"/>
              <xsd:element name="timestamp" type="xsd:dateTime"/>
              <xsd:element name="domainId" type="xsd:string"/>
              <xsd:element name="serviceId" type="xsd:string"/>
              <xsd:element name="operationType" type="xsd:string"/>
              <xsd:element minOccurs="0" name="userId" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="integrationId" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="body2">
            <xsd:sequence>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="Status">
            <xsd:sequence>
              <xsd:element name="result" type="xsd:string"/>
              <xsd:element minOccurs="0" name="error" nillable="true" type="tns:error"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="error">
            <xsd:sequence>
              <xsd:element name="errorCode" type="xsd:string"/>
              <xsd:element minOccurs="0" name="errorSystem" nillable="true" type="xsd:string"/>
              <xsd:element name="errorType" type="xsd:string"/>
              <xsd:element minOccurs="0" name="errorCategory" type="xsd:string"/>
              <xsd:element minOccurs="0" name="errorDescription" type="xsd:string"/>
              <xsd:element minOccurs="0" name="errorReference" type="xsd:string"/>
              <xsd:element minOccurs="0" name="errorList" nillable="true" type="tns:errorList"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="errorList">
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="error" nillable="true" type="tns:error2"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="error2">
            <xsd:sequence>
              <xsd:element name="errorCode" type="xsd:string"/>
              <xsd:element minOccurs="0" name="errorSystem" nillable="true" type="xsd:string"/>
              <xsd:element name="errorType" type="xsd:string"/>
              <xsd:element minOccurs="0" name="errorCategory" type="xsd:string"/>
              <xsd:element minOccurs="0" name="errorDescription" type="xsd:string"/>
              <xsd:element minOccurs="0" name="errorReference" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="changeSIMDetails_PortType_changeSIMDetails">
    <wsdl:part name="parameters" element="tns:changeSIMDetails">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="changeSIMDetails_PortType_changeSIMDetailsResponse">
    <wsdl:part name="parameters" element="tns:changeSIMDetailsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="changeSIMDetails_PortType">
    <wsdl:operation name="changeSIMDetails">
      <wsdl:input message="tns:changeSIMDetails_PortType_changeSIMDetails">
    </wsdl:input>
      <wsdl:output message="tns:changeSIMDetails_PortType_changeSIMDetailsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OSR_NWNumInvMgmt_numAssignment_changeSIMDetails_ws_provider_changeSIMDetails_Binder" type="tns:changeSIMDetails_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="changeSIMDetails">
      <soap:operation soapAction="OSR_NWNumInvMgmt_numAssignment_changeSIMDetails_ws_provider_changeSIMDetails_Binder_changeSIMDetails" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OSR_NWNumInvMgmt.numAssignment.changeSIMDetails.ws.provider.changeSIMDetails">
    <wsdl:port name="OSR_NWNumInvMgmt_numAssignment_changeSIMDetails_ws_provider_changeSIMDetails_Port" binding="tns:OSR_NWNumInvMgmt_numAssignment_changeSIMDetails_ws_provider_changeSIMDetails_Binder">
      <soap:address location="http://stc.com.sa:8080/ws/OSR_NWNumInvMgmt.numAssignment.changeSIMDetails.ws.provider:changeSIMDetails/OSR_NWNumInvMgmt_numAssignment_changeSIMDetails_ws_provider_changeSIMDetails_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
