OrderManager/WBU16/CWProject/resources/schema/PnA - submitPnAOrder.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="submitPnAOrder" targetNamespace="http://esbdev-bl/Fulfillment_ServOrderMgmt.pubServOrder.submitPnAOrder.ws.provider:submitPnAOrder" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://esbdev-bl/Fulfillment_ServOrderMgmt.pubServOrder.submitPnAOrder.ws.provider:submitPnAOrder" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://esbdev-bl/Fulfillment_ServOrderMgmt.pubServOrder.submitPnAOrder.ws.provider:submitPnAOrder" xmlns:tns="http://esbdev-bl/Fulfillment_ServOrderMgmt.pubServOrder.submitPnAOrder.ws.provider:submitPnAOrder" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="submitPnAOrder" type="tns:submitPnAOrder"/>
          <xsd:element name="submitPnAOrderResponse" type="tns:submitPnAOrderResponse"/>
          <xsd:complexType name="submitPnAOrder">
            <xsd:sequence>
              <xsd:element name="submitPnAOrderRequest" nillable="true" type="tns:SubmitPnAOrderRequest"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="SubmitPnAOrderRequest">
            <xsd:sequence>
              <xsd:element name="header" type="tns:RequestHeader"/>
              <xsd:element name="body" type="tns:body"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="RequestHeader">
            <xsd:sequence>
              <xsd:element name="systemId" type="xsd:string"/>
              <xsd:element name="serverInfo" type="xsd:string"/>
              <xsd:element name="messageId" type="xsd:string"/>
              <xsd:element minOccurs="0" name="conversationId" nillable="true" type="xsd:string"/>
              <xsd:element name="timestamp" type="xsd:dateTime"/>
              <xsd:element name="domainId" type="xsd:string"/>
              <xsd:element name="serviceId" type="xsd:string"/>
              <xsd:element name="operationType" type="xsd:string"/>
              <xsd:element minOccurs="0" name="userId" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="body">
            <xsd:sequence>
              <xsd:element name="serviceType" type="xsd:string"/>
              <xsd:element name="trackingId" type="xsd:string"/>
              <xsd:element name="processingMode" type="xsd:string"/>
              <xsd:element name="serviceParamList" type="tns:serviceParamList"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="serviceParamList">
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="serviceParamItem" type="tns:serviceParamItem"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="serviceParamItem">
            <xsd:sequence>
              <xsd:element name="name" type="xsd:string"/>
              <xsd:element name="value" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="submitPnAOrderResponse">
            <xsd:sequence>
              <xsd:element name="submitPnAOrderResponse" nillable="true" type="tns:SubmitPnAOrderResponse"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="SubmitPnAOrderResponse">
            <xsd:sequence>
              <xsd:element name="header" type="tns:ResponseHeader"/>
              <xsd:element minOccurs="0" name="body" nillable="true" type="tns:body2"/>
              <xsd:element name="status" type="tns:Status"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ResponseHeader">
            <xsd:sequence>
              <xsd:element name="systemId" type="xsd:string"/>
              <xsd:element name="serverInfo" type="xsd:string"/>
              <xsd:element name="messageId" type="xsd:string"/>
              <xsd:element minOccurs="0" name="conversationId" nillable="true" type="xsd:string"/>
              <xsd:element name="timestamp" type="xsd:dateTime"/>
              <xsd:element name="domainId" type="xsd:string"/>
              <xsd:element name="serviceId" type="xsd:string"/>
              <xsd:element name="operationType" type="xsd:string"/>
              <xsd:element minOccurs="0" name="userId" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="integrationId" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="body2">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="serviceParamList" nillable="true" type="tns:serviceParamList2"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="serviceParamList2">
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="serviceParamItem" type="tns:serviceParamItem2"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="serviceParamItem2">
            <xsd:sequence>
              <xsd:element name="name" type="xsd:string"/>
              <xsd:element name="value" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="Status">
            <xsd:sequence>
              <xsd:element name="result" type="xsd:string"/>
              <xsd:element minOccurs="0" name="error" nillable="true" type="tns:error"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="error">
            <xsd:sequence>
              <xsd:element name="errorCode" type="xsd:string"/>
              <xsd:element minOccurs="0" name="errorSystem" nillable="true" type="xsd:string"/>
              <xsd:element name="errorType" type="xsd:string"/>
              <xsd:element minOccurs="0" name="errorCategory" type="xsd:string"/>
              <xsd:element minOccurs="0" name="errorDescription" type="xsd:string"/>
              <xsd:element minOccurs="0" name="errorReference" type="xsd:string"/>
              <xsd:element minOccurs="0" name="errorList" nillable="true" type="tns:errorList"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="errorList">
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="error" nillable="true" type="tns:error2"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="error2">
            <xsd:sequence>
              <xsd:element name="errorCode" type="xsd:string"/>
              <xsd:element minOccurs="0" name="errorSystem" nillable="true" type="xsd:string"/>
              <xsd:element name="errorType" type="xsd:string"/>
              <xsd:element minOccurs="0" name="errorCategory" type="xsd:string"/>
              <xsd:element minOccurs="0" name="errorDescription" type="xsd:string"/>
              <xsd:element minOccurs="0" name="errorReference" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="submitPnAOrder_PortType_submitPnAOrderResponse">
    <wsdl:part name="parameters" element="tns:submitPnAOrderResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="submitPnAOrder_PortType_submitPnAOrder">
    <wsdl:part name="parameters" element="tns:submitPnAOrder">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="submitPnAOrder_PortType">
    <wsdl:operation name="submitPnAOrder">
      <wsdl:input message="tns:submitPnAOrder_PortType_submitPnAOrder">
    </wsdl:input>
      <wsdl:output message="tns:submitPnAOrder_PortType_submitPnAOrderResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Fulfillment_ServOrderMgmt_pubServOrder_submitPnAOrder_ws_provider_submitPnAOrder_Binder" type="tns:submitPnAOrder_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="submitPnAOrder">
      <soap:operation soapAction="Fulfillment_ServOrderMgmt_pubServOrder_submitPnAOrder_ws_provider_submitPnAOrder_Binder_submitPnAOrder" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Fulfillment_ServOrderMgmt.pubServOrder.submitPnAOrder.ws.provider.submitPnAOrder">
    <wsdl:port name="Fulfillment_ServOrderMgmt_pubServOrder_submitPnAOrder_ws_provider_submitPnAOrder_Port" binding="tns:Fulfillment_ServOrderMgmt_pubServOrder_submitPnAOrder_ws_provider_submitPnAOrder_Binder">
      <soap:address location="http://esbdev-bl:50000/ws/Fulfillment_ServOrderMgmt.pubServOrder.submitPnAOrder.ws.provider:submitPnAOrder/Fulfillment_ServOrderMgmt_pubServOrder_submitPnAOrder_ws_provider_submitPnAOrder_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
