OrderManager/EBU/CWProject/resources/CIUA.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions name="ifEAI_CIUA_17122008" targetNamespace="http://172.20.236.152/GraniteGW_Customer/Inbound/SOAP/InformationUpdateAck/WSDL/CustomerInfoUpdateAck" xmlns:tns="http://172.20.236.152/GraniteGW_Customer/Inbound/SOAP/InformationUpdateAck/WSDL/CustomerInfoUpdateAck" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ifEAI_CIUA_17122008="http://172.20.236.152/GraniteGW_Customer/Inbound/SOAP/InformationUpdateAck/WSDL/CustomerInfoUpdateAck">

	<types>
		<schema targetNamespace="http://172.20.236.152/GraniteGW_Customer/Inbound/SOAP/InformationUpdateAck/WSDL/CustomerInfoUpdateAck"
				xmlns="http://www.w3.org/2001/XMLSchema"
			xmlns:ifEAI_CIUA_17122008="http://172.20.236.152/GraniteGW_Customer/Inbound/SOAP/InformationUpdateAck/WSDL/CustomerInfoUpdateAck"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">



			<annotation>
				<documentation>&#091;17.12.2008&#093; Interface vs. &#34;EAI&#34;: via SOAP &#091;Customer Information Update Acknowledgement&#093; </documentation>
				<appinfo>
					<metadata>STC Project</metadata>
					<created>Mon Sep 08 11:04:21 CEST 2008</created>
					<updated>Sat Nov 17 15:49:51 CET 2012</updated>
				</appinfo>
			</annotation>

			<!-- Data types and elements -->

			<!-- Structures -->

			<complexType name="receiveRequest">
				<annotation>
					<documentation>receiveRequest</documentation>
				</annotation>
					<sequence>
						<element name="CustomerInfoUpdateAck" minOccurs="1" maxOccurs="1" type="ifEAI_CIUA_17122008:Request"/>
					</sequence>
				</complexType>

			<element name="receiveRequest" type="ifEAI_CIUA_17122008:receiveRequest"/>

			<complexType name="receiveRequestResponse">
				<annotation>
					<documentation>receiveRequestResponse</documentation>
				</annotation>
					<sequence>
						<element name="Status" minOccurs="1" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<element name="receiveRequestResponse" type="ifEAI_CIUA_17122008:receiveRequestResponse"/>

			<complexType name="Request">
				<annotation>
					<documentation>Request</documentation>
				</annotation>
					<sequence>
						<element name="CustomerNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="Acknowledgement" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="BusinessUnit" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

		</schema>
	</types>

	<message name="receiveRequest_el">
		<part name="receiveRequest_el" element="ifEAI_CIUA_17122008:receiveRequest_el"/>
	</message>

	<message name="receiveRequestResponse_el">
		<part name="receiveRequestResponse_el" element="ifEAI_CIUA_17122008:receiveRequestResponse_el"/>
	</message>

	<portType name="CIUA">
		<operation name="CustomerInfoUpdateAck">
			<input message="tns:receiveRequest_el"/>
			<output message="tns:receiveRequestResponse_el"/>
		</operation>
	</portType>

	<binding name="GraniteGW_Customer_Inbound_SOAP_InformationUpdateAck_WSDL_CustomerInfoUpdateAck_Binder" type="tns:CIUA">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
		<operation name="CustomerInfoUpdateAck">
			<soap:operation soapAction="GraniteGW_Customer_Inbound_SOAP_InformationUpdateAck_WSDL_CustomerInfoUpdateAck_Binder_CustomerInfoUpdateAck"/>
			<input>
				<soap:body parts="CustomerInfoUpdateAck" use="literal" namespace="http://172.20.236.152/GraniteGW_Customer/Inbound/SOAP/InformationUpdateAck/WSDL/CustomerInfoUpdateAck"/>
			</input>
			<output>
				<soap:body use="encoded" namespace="http://172.20.236.152/GraniteGW_Customer/Inbound/SOAP/InformationUpdateAck/WSDL/CustomerInfoUpdateAck"/>
			</output>
		</operation>
	</binding>

	<service name="ifEAI_CIUA_17122008">
		<port name="GraniteGW_Customer_Inbound_SOAP_InformationUpdateAck_WSDL_CustomerInfoUpdateAck_Port" binding="tns:GraniteGW_Customer_Inbound_SOAP_InformationUpdateAck_WSDL_CustomerInfoUpdateAck_Binder">
			<soap:address location="http://172.20.66.16:24004/ws/GraniteGW_Customer.Inbound.SOAP.InformationUpdateAck.WSDL:CustomerInfoUpdateAck"/>
		</port>
	</service>

</definitions>