OrderManager/EBU/CWProject/resources/SIU.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions name="ifEAI_SIU_17122008" targetNamespace="http://172.20.236.152/GraniteGW_Site/Inbound/SOAP/SiteUpdate/WSDL/SiteInformationUpdate" xmlns:tns="http://172.20.236.152/GraniteGW_Site/Inbound/SOAP/SiteUpdate/WSDL/SiteInformationUpdate" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ifEAI_SIU_17122008="http://172.20.236.152/GraniteGW_Site/Inbound/SOAP/SiteUpdate/WSDL/SiteInformationUpdate">

	<types>
		<schema targetNamespace="http://172.20.236.152/GraniteGW_Site/Inbound/SOAP/SiteUpdate/WSDL/SiteInformationUpdate"
				xmlns="http://www.w3.org/2001/XMLSchema"
			xmlns:ifEAI_SIU_17122008="http://172.20.236.152/GraniteGW_Site/Inbound/SOAP/SiteUpdate/WSDL/SiteInformationUpdate"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">



			<annotation>
				<documentation>&#091;17.12.2008&#093; Interface vs. &#34;EAI&#34;: via SOAP &#091;Site Information Update&#093;</documentation>
				<appinfo>
					<metadata>STC Project</metadata>
					<created>Mon Sep 08 11:04:21 CEST 2008</created>
					<updated>Sat Nov 17 15:49:51 CET 2012</updated>
				</appinfo>
			</annotation>

			<!-- Data types and elements -->

			<!-- Structures -->

			<complexType name="ArrayOfstring">
				<annotation>
					<documentation>ArrayOfstring</documentation>
				</annotation>
					<sequence>
						<element name="ArrayOfstringItem" minOccurs="1" maxOccurs="unbounded" type="xsd:string"/>
					</sequence>
				</complexType>

			<complexType name="receiveRequest">
				<annotation>
					<documentation>receiveRequest</documentation>
				</annotation>
					<sequence>
						<element name="SiteInformationUpdate" minOccurs="1" maxOccurs="1" type="ifEAI_SIU_17122008:Request"/>
					</sequence>
				</complexType>

			<element name="receiveRequest" type="ifEAI_SIU_17122008:receiveRequest"/>

			<complexType name="receiveRequestResponse">
				<annotation>
					<documentation>receiveRequestResponse</documentation>
				</annotation>
					<sequence>
						<element name="Status" minOccurs="1" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<element name="receiveRequestResponse" type="ifEAI_SIU_17122008:receiveRequestResponse"/>

			<complexType name="Request">
				<annotation>
					<documentation>Request</documentation>
				</annotation>
					<sequence>
						<element name="PlateID" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="City" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="District" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="UnitNumbers" minOccurs="0" maxOccurs="1" type="ifEAI_SIU_17122008:ArrayOfstring"/>
						<element name="SiteName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="SiteType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="SiteID" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="POBox" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="Region" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="Country" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="Status" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="BusinessUnit" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CityCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="DistrictCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="ExchangeCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

		</schema>
	</types>

	<message name="receiveRequest_el">
		<part name="receiveRequest_el" element="ifEAI_SIU_17122008:receiveRequest_el"/>
	</message>

	<message name="receiveRequestResponse_el">
		<part name="receiveRequestResponse_el" element="ifEAI_SIU_17122008:receiveRequestResponse_el"/>
	</message>

	<portType name="SIU">
		<operation name="SiteInformationUpdate">
			<input message="tns:receiveRequest_el"/>
			<output message="tns:receiveRequestResponse_el"/>
		</operation>
	</portType>

	<binding name="GraniteGW_Site_Inbound_SOAP_SiteUpdate_WSDL_SiteInformationUpdate_Binder" type="tns:SIU">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
		<operation name="SiteInformationUpdate">
			<soap:operation soapAction="GraniteGW_Site_Inbound_SOAP_SiteUpdate_WSDL_SiteInformationUpdate_Binder_SiteInformationUpdate"/>
			<input>
				<soap:body parts="SiteInformationUpdate" use="literal" namespace="http://172.20.236.152/GraniteGW_Site/Inbound/SOAP/SiteUpdate/WSDL/SiteInformationUpdate"/>
			</input>
			<output>
				<soap:body use="encoded" namespace="http://172.20.236.152/GraniteGW_Site/Inbound/SOAP/SiteUpdate/WSDL/SiteInformationUpdate"/>
			</output>
		</operation>
	</binding>

	<service name="ifEAI_SIU_17122008">
		<port name="GraniteGW_Site_Inbound_SOAP_SiteUpdate_WSDL_SiteInformationUpdate_Port" binding="tns:GraniteGW_Site_Inbound_SOAP_SiteUpdate_WSDL_SiteInformationUpdate_Binder">
			<soap:address location="http://172.20.66.16:24004/ws/GraniteGW_Site.Inbound.SOAP.SiteUpdate.WSDL:SiteInformationUpdate"/>
		</port>
	</service>

</definitions>